@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&subset=cyrillic')

=ol
  font-family: "Open Sans", sans-serif
  font-weight: 300

=or
  font-family: "Open Sans", sans-serif
  font-weight: 400

=ob
  font-family: "Open Sans", sans-serif
  font-weight: 700

=oe
  font-family: "Open Sans", sans-serif
  font-weight: 800