// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$icon-beautiful-name: 'icon_beautiful'
$icon-beautiful-x: 0px
$icon-beautiful-y: 0px
$icon-beautiful-offset-x: 0px
$icon-beautiful-offset-y: 0px
$icon-beautiful-width: 60px
$icon-beautiful-height: 47px
$icon-beautiful-total-width: 118px
$icon-beautiful-total-height: 91px
$icon-beautiful-image: '../image/sprite.png'
$icon-beautiful: (0px, 0px, 0px, 0px, 60px, 47px, 118px, 91px, '../image/sprite.png', 'icon_beautiful', )
$icon-eco-name: 'icon_eco'
$icon-eco-x: 47px
$icon-eco-y: 47px
$icon-eco-offset-x: -47px
$icon-eco-offset-y: -47px
$icon-eco-width: 46px
$icon-eco-height: 42px
$icon-eco-total-width: 118px
$icon-eco-total-height: 91px
$icon-eco-image: '../image/sprite.png'
$icon-eco: (47px, 47px, -47px, -47px, 46px, 42px, 118px, 91px, '../image/sprite.png', 'icon_eco', )
$icon-energy-name: 'icon_energy'
$icon-energy-x: 60px
$icon-energy-y: 0px
$icon-energy-offset-x: -60px
$icon-energy-offset-y: 0px
$icon-energy-width: 58px
$icon-energy-height: 41px
$icon-energy-total-width: 118px
$icon-energy-total-height: 91px
$icon-energy-image: '../image/sprite.png'
$icon-energy: (60px, 0px, -60px, 0px, 58px, 41px, 118px, 91px, '../image/sprite.png', 'icon_energy', )
$icon-mute-name: 'icon_mute'
$icon-mute-x: 0px
$icon-mute-y: 47px
$icon-mute-offset-x: 0px
$icon-mute-offset-y: -47px
$icon-mute-width: 47px
$icon-mute-height: 44px
$icon-mute-total-width: 118px
$icon-mute-total-height: 91px
$icon-mute-image: '../image/sprite.png'
$icon-mute: (0px, 47px, 0px, -47px, 47px, 44px, 118px, 91px, '../image/sprite.png', 'icon_mute', )
$icon-width: 118px
$icon-height: 91px
$icon-image: '../image/sprite.png'
$icon-sprites: ($icon-beautiful, $icon-eco, $icon-energy, $icon-mute, )
$icon: (118px, 91px, '../image/sprite.png', $icon-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
