body
  +or
  font-size: 14px
  line-height: (21/14)
  color: $color-default

img
  max-width: 100%

.page
  &__wrap
    overflow: hidden

+sprites($icon-sprites)

.icon
  display: inline-block
  vertical-align: middle

.main-title
  +ob
  font-size: 24px
  color: $color-primary
  line-height: 1.1
  +media-breakpoint-up(lg)
    line-height: (21/14)
  +media-breakpoint-up(sm)
    font-size: 32px

.btn
  user-select: none
  display: inline-block
  cursor: pointer
  border: 0 none
  background: none
  outline: none
  &_primary
    +ob
    font-size: 13px
    text-transform: uppercase
    color: #fff
    background-color: #ffbb00
    padding: 1em 45px
    border-radius: 25px
    &:hover
      background-color: #de9840
  &_orange
    +ob
    text-transform: uppercase
    font-size: 13px
    color: #fff
    background-color: #fe9200
    border-radius: 28px

.field
  +box
  height: 56px
  width: 100%
  border: 1px solid #e9eef3
  outline: none
  border-radius: 28px
  padding: 0 30px
  color: #0e3b5b
  font-size: 14px
  &::placeholder
    color: #677079
  &:focus
    border-color: rgb(52, 142, 219)


.checkbox
  input
    display: none
    &:checked
      &+span
        svg
          display: block
  span
    position: relative
    padding-left: 20px
    display: inline-block
    &:before
      content: ''
      position: absolute
      top: 6px
      left: 0
      width: 11px
      height: 11px
      border: 1px solid #c9d6e3
    svg
      display: none
      position: absolute
      top: 5px
      left: 2px


.play
  display: inline-block
  text-align: center
  &:hover
    .play__play
      &:before
        animation: playanimb .7s ease-in-out alternate infinite

  &__play
    position: relative
    margin: 18px
    display: inline-block
    .play_inline &
      display: inline-block
      vertical-align: middle

    .play_big &
      margin: 40px
    &:after
      content: ''
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      z-index: 1
      width: 45px
      height: 45px
      border-radius: 100%
      background-color: #0089e9
      .play_big &
        width: 96px
        height: 96px
      .play_orange &
        background-color: #fe9200
    &:before
      content: ''
      position: absolute
      z-index: 1
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      width: 58px
      height: 58px
      border-radius: 100%
      background-color: #0089e9
      opacity: .5
      .play_big &
        width: 124px
        height: 124px
      .play_orange &
        background-color: #fe9200
    span
      position: relative
      z-index: 3
      display: block
      margin-left: 5px
      border-top: 10px solid transparent
      border-left: 18px solid #fff
      border-bottom: 10px solid transparent
      .play_big &
        border-top-width: 23px
        border-left-width: 40px
        border-bottom-width: 23px

  &__text
    +ob
    color: #fff
    font-size: 14px
    display: block
    .play_inline &
      font-size: 18px
      margin-left: 15px
      display: inline-block
    .play_blue &
      color: #0089e9
    .play_big &
      margin-top: 15px
      line-height: 1


@keyframes playanimb
  0%
    transform: translate(-50%, -50%) scale(1,1)
    opacity: .5
  100%
    transform: translate(-50%, -50%) scale(1.2,1.2)
    opacity: 0


.play2
  position: relative
  display: inline-block
  &:hover
    &:before
      animation: playanimb .7s ease-in-out alternate infinite
  &:after
    content: ''
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    background-color: $color-orange
    width: 92px
    height: 92px
    border-radius: 100%
  &:before
    content: ''
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    border: 1px solid $color-orange
    width: 125px
    height: 125px
    border-radius: 100%

  span
    position: relative
    z-index: 3
    border-left: 34px solid #fff
    border-top: 19px solid transparent
    border-bottom: 19px solid transparent
    margin-left: 7px
    display: block


.link-line
  a
    +ob
    color: $color-orange
    text-transform: uppercase
    position: relative
    &:hover
      color: #fe9200
      &:after
        transform: translateX(10px)
    &:after
      content: ''
      vertical-align: middle
      display: inline-block
      margin-left: 15px
      width: 40px
      height: 2px
      background-color: $color-orange
      transition: transform .5s ease-in-out

.prev
  position: relative
  display: inline-block
  cursor: pointer
  z-index: 5
  position: absolute
  margin:
    left: 15px
    right: 30px
  &:hover:not(.disabled)
    path
      fill: #000
    &:after,
    &:before
      background-color: #ffbb00
  svg
    position: relative
    z-index: 2
  path
    fill: #fff
  &:after
    content: ''
    position: absolute
    top: 50%
    transform: translateY(-50%)
    left: -60px
    width: 100px
    height: 135px
    border-radius: 0 67px 67px 0
    background-color: #b6c3cc

  &:before
    content: ''
    position: absolute
    top: 50%
    transform: translateY(-50%)
    left: -80px
    width: 140px
    height: 175px
    border-radius: 0 87px 87px 0
    background-color: #b6c3cc
    opacity: .6

.next
  position: relative
  display: inline-block
  cursor: pointer
  z-index: 5
  position: absolute
  margin:
    left: 30px
    right: 15px
  &:hover:not(.disabled)
    path
      fill: #000
    &:after,
    &:before
      background-color: #ffbb00
  svg
    position: relative
    z-index: 2
  path
    fill: #fff
  &:after
    content: ''
    position: absolute
    top: 50%
    transform: translateY(-50%)
    right: -60px
    width: 100px
    height: 135px
    border-radius: 67px 0 0 67px
    background-color: #b6c3cc

  &:before
    content: ''
    position: absolute
    top: 50%
    transform: translateY(-50%)
    right: -80px
    width: 140px
    height: 175px
    border-radius: 87px 0 0 87px
    background-color: #b6c3cc
    opacity: .6


.arrow
  &_prev,
  &_next
    display: inline-block
    width: 50px
    height: 50px
    line-height: 54px
    text-align: center
    border: 2px solid #a4aebc
    border-radius: 100%
    cursor: pointer
    +box
    path
      fill: #a4aebc
    &:hover
      border-color: #fbba6a
      path
        fill: #fbba6a