.overview
  padding: 75px 0 100px
  .main-title
    margin-bottom: 60px
    line-height: 1.1

  &__them-label
    margin-bottom: 15px

  &__themes
    margin-bottom: 50px
    li
      display: inline-block
      margin-right: 10px
      &.active,
      &:hover
        a
          background-color: #fe9200
    a
      display: inline-block
      font-size: 13px
      background-color: #0089e9
      padding: .2em 10px .4em
      line-height: 1
      white-space: nowrap
      color: #fff

  &__question
    +ob
    font-size: 20px
    color: $color-primary
    margin-bottom: 30px

  &__answer
    margin-bottom: 40px

  &__theme-item
    position: absolute
    z-index: 0
    opacity: 0
    transition: opacity .5s ease-in-out
    &.active
      z-index: 3
      opacity: 1

  &__img-wrap
    display: none
    +media-breakpoint-up(lg)
      display: block

