.composition
  padding-top: 50px
  +media-breakpoint-up(md)
    padding-top: 120px
  .main-title
    margin-bottom: 35px
    +media-breakpoint-up(md)
      margin-bottom: 55px
  &__item
    position: relative
    margin-bottom: 50px
    +media-breakpoint-up(md)
      margin-bottom: 100px
    &_l
      .composition__img
        margin: 15px 0
        +media-breakpoint-up(lg)
          position: absolute
          top: 50%
          transform: translateY(-50%)
          left: 100%
          margin: 0 0 0 30px
    &_r
      .composition__img
        margin: 15px 0
        +media-breakpoint-up(lg)
          position: absolute
          top: 50%
          transform: translateY(-50%)
          right: 100%
          margin: 0 30px 0 0
  &__item-title
    +ob
    color: $color-primary
    font-size: 24px
    margin-bottom: 15px
    +media-breakpoint-up(md)
      margin-bottom: 35px
  &__item-subtitle
    +ob
    color: $color-primary
    font-size: 16px
    margin-top: 25px
    margin-bottom: 15px
    +media-breakpoint-up(md)
      margin-top: 40px
      margin-bottom: 30px

  &__btn-wrap
    margin-top: 40px
    text-align: center
    &>br
      display: block
      +media-breakpoint-up(sm)
        display: none
      +media-breakpoint-up(lg)
        display: block
      +media-breakpoint-up(xl)
        display: none
    +media-breakpoint-up(sm)
      text-align: left

  .btn
    background-color: #fe9200
    padding: 1.1em 70px

  .play
    margin-left: -15px
    margin-top: 10px
    +media-breakpoint-up(sm)
      margin-left: 15px
    +media-breakpoint-up(lg)
      margin-left: 0
    +media-breakpoint-up(xl)
      margin-left: 15px