.whatis
  padding: 90px 0
  p
    font-size: 18px
    line-height: (27/18)
    color: $color-primary
    margin: 30px 0

  &__video-wrap
    height: 250px
    border-radius: 5px
    box-shadow: 0 25px 70px rgba(#354353, .15)
    position: relative
    overflow: hidden
    margin-top: 40px
    +media-breakpoint-up(lg)
      margin-top: 0
    +media-breakpoint-up(sm)
      height: 300px
    +media-breakpoint-up(md)
      height: 425px
    video
      opacity: .73
    .play2
      position: absolute
      z-index: 3
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)