.vantage-tooltip
  &__item
    display: inline-block
    margin-right: 5px
    vertical-align: middle
    position: relative
    &:after
      content: attr(data-tooltip)
      position: absolute
      bottom: 100%
      margin-bottom: 7px
      left: 50%
      transform: translateX(-50%)
      z-index: 5
      display: none
      background-color: #fff
      padding: 5px 10px
      +ob
      color: $color-primary
      box-shadow: 0 4px 29px rgba(#020202, .25)
      +media-breakpoint-up(sm)
        top: 50%
        transform: translateY(-50%)
        left: 100%
        margin-left: 7px
        bottom: auto
        margin-bottom: 0

    &:before
      content: ''
      position: absolute
      left: 50%
      bottom: 100%
      transform: translateX(-50%)
      border-top: 7px solid #fff
      border-left: 5px solid transparent
      border-right: 5px solid transparent
      z-index: 6
      display: none
      +media-breakpoint-up(sm)
        left: 100%
        top: 50%
        bottom: auto
        transform: translateY(-50%)
        border-right: 7px solid #fff
        border-top: 5px solid transparent
        border-bottom: 5px solid transparent
        border-left: 0 none


    &:hover
      &:after,
      &:before
        display: block
      path
        fill: #1c1b2e
    path
      fill: #c2d3d8