mixin vantage-tooltip(n)
  +b.vantage-tooltip
    +e.item(data-tooltip="Прочность")
      svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='44px', height='47px')
        path(fill-rule='evenodd', d='M42.228,7.090 L22.754,0.941 C22.266,0.787 21.740,0.787 21.252,0.941 L1.777,7.090 C0.726,7.422 0.010,8.406 0.010,9.521 C0.010,36.746 13.616,43.253 20.926,46.748 C21.268,46.912 21.636,46.994 22.004,46.994 C22.371,46.994 22.739,46.912 23.080,46.748 C30.389,43.253 43.996,36.745 43.996,9.521 C43.996,8.406 43.279,7.422 42.228,7.090 ZM24.623,27.322 C24.623,27.979 24.097,28.513 23.446,28.513 L20.520,28.513 C19.870,28.513 19.343,27.980 19.343,27.322 L19.343,23.677 C19.343,23.020 19.869,22.487 20.520,22.487 L23.446,22.487 C24.096,22.487 24.623,23.019 24.623,23.677 L24.623,27.322 ZM36.857,25.234 L29.527,25.234 L29.527,18.980 L30.538,18.980 C31.188,18.980 31.715,18.448 31.715,17.792 L31.715,13.867 L31.715,12.085 C31.715,11.428 31.189,10.896 30.538,10.896 L27.687,10.896 C27.037,10.896 26.510,11.428 26.510,12.085 L26.510,13.870 L24.623,13.870 L24.623,12.085 C24.623,11.428 24.097,10.896 23.446,10.896 L20.595,10.896 C19.945,10.896 19.418,11.428 19.418,12.085 L19.418,13.870 L17.458,13.870 L17.458,12.085 C17.458,11.428 16.931,10.896 16.281,10.896 L13.430,10.896 C12.781,10.896 12.253,11.428 12.253,12.085 L12.253,13.867 L12.253,17.792 C12.253,18.448 12.780,18.980 13.430,18.980 L14.440,18.980 L14.440,25.234 L7.148,25.234 C5.970,21.572 5.206,17.017 5.068,11.386 L22.004,6.038 L38.937,11.386 C38.800,17.018 38.035,21.572 36.857,25.234 Z')
    +e.item(data-tooltip="Прочность")
      svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='61px', height='40px')
        path(fill-rule='evenodd', d='M57.187,38.065 C55.082,38.065 53.375,36.309 53.375,34.285 L47.656,34.285 L47.656,19.047 L53.375,19.047 C53.375,16.905 55.082,15.208 57.187,15.208 C59.293,15.208 61.000,16.884 61.000,18.988 L61.000,22.797 L61.000,30.416 L61.000,34.226 C61.000,36.329 59.293,38.065 57.187,38.065 ZM40.031,40.000 L20.969,40.000 C18.863,40.000 17.156,38.234 17.156,36.130 L17.156,17.083 C17.156,14.979 18.863,13.333 20.969,13.333 L26.687,13.333 L26.687,7.619 L22.875,7.619 C20.769,7.619 19.062,5.913 19.062,3.809 C19.062,1.705 20.769,-0.000 22.875,-0.000 L38.125,-0.000 C40.230,-0.000 41.937,1.705 41.937,3.809 C41.937,5.913 40.230,7.619 38.125,7.619 L34.312,7.619 L34.312,13.333 L40.031,13.333 C42.137,13.333 43.844,14.979 43.844,17.083 L43.844,36.130 C43.844,38.234 42.137,40.000 40.031,40.000 ZM3.812,38.065 C1.707,38.065 -0.000,36.329 -0.000,34.226 L-0.000,30.416 L-0.000,22.797 L-0.000,18.988 C-0.000,16.884 1.707,15.208 3.812,15.208 C5.918,15.208 7.625,16.905 7.625,19.047 L13.344,19.047 L13.344,34.285 L7.625,34.285 C7.625,36.309 5.918,38.065 3.812,38.065 Z')
    if n == 2 || n == 3
      +e.item(data-tooltip="Прочность")
        svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='54px', height='48px')
          path(fill-rule='evenodd', d='M26.953,47.080 L0.733,40.486 L0.733,33.891 L26.953,40.486 L53.173,33.891 L53.173,40.486 L26.953,47.080 ZM0.733,27.297 L0.733,20.703 L26.953,27.297 L53.173,20.703 L53.173,27.297 L26.953,33.891 L0.733,27.297 ZM0.733,14.108 L0.733,7.514 L26.953,0.920 L53.173,7.514 L53.173,14.108 L26.953,20.703 L0.733,14.108 Z')
      +e.item(data-tooltip="Прочность")
        svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='47px', height='48px')
          path(fill-rule='evenodd', d='M32.203,20.372 C33.449,19.935 34.754,20.142 36.152,20.449 C37.074,20.653 38.028,20.864 39.099,20.864 C40.531,20.864 41.873,20.471 43.199,19.664 C45.244,18.420 46.643,16.195 46.942,13.712 C47.282,10.874 46.219,8.059 43.949,5.788 C41.695,3.532 38.685,2.291 35.476,2.291 C32.200,2.291 29.111,3.577 26.778,5.910 C23.862,8.828 21.964,13.480 21.932,17.747 C21.238,17.242 20.623,16.622 20.308,15.725 C19.819,14.336 20.081,13.149 20.384,11.775 C20.799,9.891 21.315,7.548 19.599,4.723 C18.173,2.377 15.502,0.919 12.628,0.919 C10.149,0.919 7.700,2.004 5.730,3.974 C1.030,8.678 1.086,16.384 5.853,21.153 C8.731,24.033 13.461,25.973 17.671,26.020 C17.168,26.707 16.552,27.313 15.662,27.627 C14.419,28.066 13.113,27.860 11.714,27.550 C10.792,27.347 9.837,27.136 8.766,27.136 C7.334,27.136 5.993,27.528 4.666,28.335 C2.621,29.579 1.222,31.804 0.924,34.288 C0.583,37.125 1.646,39.940 3.917,42.212 C6.171,44.467 9.180,45.708 12.390,45.708 C15.665,45.708 18.755,44.423 21.088,42.089 C24.004,39.171 25.901,34.519 25.934,30.252 C26.628,30.757 27.242,31.377 27.558,32.274 C28.046,33.662 27.785,34.850 27.482,36.225 C27.066,38.107 26.550,40.451 28.266,43.276 C29.693,45.623 32.364,47.081 35.237,47.081 C37.717,47.081 40.166,45.995 42.136,44.026 C46.835,39.322 46.780,31.616 42.012,26.846 C39.134,23.966 34.405,22.026 30.195,21.980 C30.698,21.292 31.314,20.686 32.203,20.372 ZM25.902,25.970 C24.850,27.022 23.015,27.022 21.964,25.970 C20.878,24.883 20.878,23.116 21.964,22.030 C22.489,21.504 23.189,21.214 23.933,21.214 C24.677,21.214 25.376,21.504 25.902,22.030 C26.987,23.116 26.987,24.883 25.902,25.970 Z')
      +e.item(data-tooltip="Прочность")
        svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='47px', height='48px')
          path(fill-rule='evenodd', d='M46.985,42.463 L46.985,47.079 L0.840,47.079 L0.840,42.463 L2.379,42.463 L2.379,5.537 L0.840,5.537 L0.840,0.921 L46.985,0.921 L46.985,5.537 L45.447,5.537 L45.447,42.463 L46.985,42.463 ZM43.909,5.537 L3.917,5.537 L3.917,42.463 L43.909,42.463 L43.909,5.537 ZM23.144,23.231 L5.455,23.231 L5.455,7.075 L23.144,7.075 L23.144,23.231 ZM11.608,14.768 C11.807,14.768 12.007,14.684 12.154,14.545 C12.292,14.399 12.377,14.199 12.377,13.999 C12.377,13.799 12.292,13.598 12.154,13.453 C11.861,13.168 11.354,13.168 11.061,13.453 C10.923,13.598 10.838,13.799 10.838,13.999 C10.838,14.199 10.923,14.399 11.061,14.545 C11.208,14.684 11.407,14.768 11.608,14.768 ZM7.987,17.620 C8.137,17.770 8.334,17.846 8.531,17.846 C8.728,17.846 8.925,17.770 9.075,17.620 L10.613,16.081 C10.914,15.780 10.914,15.294 10.613,14.993 C10.312,14.693 9.826,14.693 9.526,14.993 L7.987,16.532 C7.687,16.833 7.687,17.319 7.987,17.620 ZM12.151,9.608 C11.850,9.308 11.364,9.308 11.064,9.608 L7.987,12.686 C7.687,12.986 7.687,13.473 7.987,13.773 C8.137,13.923 8.334,13.999 8.531,13.999 C8.728,13.999 8.925,13.923 9.075,13.773 L12.151,10.696 C12.452,10.395 12.452,9.909 12.151,9.608 ZM15.997,9.608 C15.696,9.308 15.210,9.308 14.909,9.608 L12.602,11.916 C12.301,12.217 12.301,12.703 12.602,13.004 C12.752,13.154 12.949,13.229 13.146,13.229 C13.343,13.229 13.539,13.154 13.689,13.004 L15.997,10.696 C16.297,10.395 16.297,9.909 15.997,9.608 ZM23.144,40.924 L5.455,40.924 L5.455,24.769 L23.144,24.769 L23.144,40.924 ZM11.608,32.462 C11.807,32.462 12.007,32.377 12.154,32.239 C12.292,32.093 12.377,31.893 12.377,31.693 C12.377,31.493 12.292,31.292 12.154,31.147 C11.861,30.862 11.354,30.862 11.061,31.147 C10.923,31.292 10.838,31.493 10.838,31.693 C10.838,31.893 10.923,32.093 11.061,32.239 C11.208,32.377 11.407,32.462 11.608,32.462 ZM7.987,35.314 C8.137,35.464 8.334,35.539 8.531,35.539 C8.728,35.539 8.925,35.464 9.075,35.314 L10.613,33.775 C10.914,33.475 10.914,32.988 10.613,32.687 C10.312,32.387 9.826,32.387 9.526,32.687 L7.987,34.226 C7.687,34.527 7.687,35.013 7.987,35.314 ZM12.151,27.302 C11.850,27.002 11.364,27.002 11.064,27.302 L7.987,30.380 C7.687,30.680 7.687,31.167 7.987,31.467 C8.137,31.617 8.334,31.693 8.531,31.693 C8.728,31.693 8.925,31.617 9.075,31.467 L12.151,28.390 C12.452,28.089 12.452,27.603 12.151,27.302 ZM15.997,27.302 C15.696,27.002 15.210,27.002 14.909,27.302 L12.602,29.610 C12.301,29.911 12.301,30.397 12.602,30.698 C12.752,30.848 12.949,30.924 13.146,30.924 C13.343,30.924 13.539,30.848 13.689,30.698 L15.997,28.390 C16.297,28.089 16.297,27.603 15.997,27.302 ZM42.371,23.231 L24.682,23.231 L24.682,7.075 L42.371,7.075 L42.371,23.231 ZM30.834,14.768 C31.034,14.768 31.234,14.684 31.381,14.545 C31.519,14.399 31.604,14.199 31.604,13.999 C31.604,13.799 31.519,13.598 31.381,13.453 C31.088,13.168 30.581,13.168 30.288,13.453 C30.150,13.598 30.065,13.799 30.065,13.999 C30.065,14.199 30.150,14.399 30.288,14.545 C30.435,14.684 30.634,14.768 30.834,14.768 ZM27.214,17.620 C27.364,17.770 27.561,17.846 27.758,17.846 C27.955,17.846 28.152,17.770 28.302,17.620 L29.840,16.081 C30.141,15.780 30.141,15.294 29.840,14.993 C29.539,14.693 29.053,14.693 28.753,14.993 L27.214,16.532 C26.914,16.833 26.914,17.319 27.214,17.620 ZM31.378,9.608 C31.077,9.308 30.591,9.308 30.291,9.608 L27.214,12.686 C26.914,12.986 26.914,13.473 27.214,13.773 C27.364,13.923 27.561,13.999 27.758,13.999 C27.955,13.999 28.152,13.923 28.302,13.773 L31.378,10.696 C31.679,10.395 31.679,9.909 31.378,9.608 ZM35.224,9.608 C34.923,9.308 34.437,9.308 34.136,9.608 L31.829,11.916 C31.528,12.217 31.528,12.703 31.829,13.004 C31.979,13.154 32.176,13.229 32.373,13.229 C32.569,13.229 32.766,13.154 32.916,13.004 L35.224,10.696 C35.524,10.395 35.524,9.909 35.224,9.608 ZM42.371,40.924 L24.682,40.924 L24.682,24.769 L42.371,24.769 L42.371,40.924 ZM30.834,32.462 C31.034,32.462 31.234,32.377 31.381,32.239 C31.519,32.093 31.604,31.893 31.604,31.693 C31.604,31.493 31.519,31.292 31.381,31.147 C31.088,30.862 30.581,30.862 30.288,31.147 C30.150,31.292 30.065,31.493 30.065,31.693 C30.065,31.893 30.150,32.093 30.288,32.239 C30.435,32.377 30.634,32.462 30.834,32.462 ZM27.214,35.314 C27.364,35.464 27.561,35.539 27.758,35.539 C27.955,35.539 28.152,35.464 28.302,35.314 L29.840,33.775 C30.141,33.475 30.141,32.988 29.840,32.687 C29.539,32.387 29.053,32.387 28.753,32.687 L27.214,34.226 C26.914,34.527 26.914,35.013 27.214,35.314 ZM31.378,27.302 C31.077,27.002 30.591,27.002 30.291,27.302 L27.214,30.380 C26.914,30.680 26.914,31.167 27.214,31.467 C27.364,31.617 27.561,31.693 27.758,31.693 C27.955,31.693 28.152,31.617 28.302,31.467 L31.378,28.390 C31.679,28.089 31.679,27.603 31.378,27.302 ZM35.224,27.302 C34.923,27.002 34.437,27.002 34.136,27.302 L31.829,29.610 C31.528,29.911 31.528,30.397 31.829,30.698 C31.979,30.848 32.176,30.924 32.373,30.924 C32.569,30.924 32.766,30.848 32.916,30.698 L35.224,28.390 C35.524,28.089 35.524,27.603 35.224,27.302 Z')
    if n == 3
      +e.item(data-tooltip="Прочность")
        svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='50px', height='47px')
          path(fill-rule='evenodd', d='M48.501,46.596 C48.053,46.596 47.691,46.233 47.691,45.786 L47.691,44.975 L46.881,44.975 L46.881,45.786 C46.881,46.233 46.518,46.596 46.070,46.596 C45.622,46.596 45.260,46.233 45.260,45.786 L45.260,44.975 L43.639,44.975 L43.639,46.596 L37.156,46.596 L37.156,32.009 L27.431,32.009 L27.431,46.596 L6.361,46.596 L6.361,44.975 L4.740,44.975 L4.740,45.786 C4.740,46.233 4.378,46.596 3.929,46.596 C3.481,46.596 3.119,46.233 3.119,45.786 L3.119,44.975 L2.309,44.975 L2.309,45.786 C2.309,46.233 1.946,46.596 1.498,46.596 C1.050,46.596 0.688,46.233 0.688,45.786 L0.688,38.492 C0.688,38.045 1.050,37.682 1.498,37.682 C1.946,37.682 2.309,38.045 2.309,38.492 L2.309,39.302 L3.119,39.302 L3.119,38.492 C3.119,38.045 3.481,37.682 3.929,37.682 C4.378,37.682 4.740,38.045 4.740,38.492 L4.740,39.302 L6.361,39.302 L6.361,21.474 L6.361,21.406 L5.718,21.902 C4.724,22.668 3.309,22.551 2.454,21.630 C1.485,20.587 1.617,18.939 2.737,18.063 L23.346,1.940 L25.000,0.403 L26.654,1.940 L47.262,18.063 C48.383,18.939 48.514,20.587 47.546,21.630 C46.691,22.551 45.276,22.668 44.281,21.902 L43.639,21.407 L43.639,21.474 L43.639,39.302 L45.260,39.302 L45.260,38.492 C45.260,38.045 45.622,37.682 46.070,37.682 C46.518,37.682 46.881,38.045 46.881,38.492 L46.881,39.302 L47.691,39.302 L47.691,38.492 C47.691,38.045 48.053,37.682 48.501,37.682 C48.950,37.682 49.312,38.045 49.312,38.492 L49.312,45.786 C49.312,46.233 48.950,46.596 48.501,46.596 ZM3.119,40.924 L2.309,40.924 L2.309,43.355 L3.119,43.355 L3.119,40.924 ZM27.431,27.146 L37.156,27.146 L37.156,25.526 L27.431,25.526 L27.431,27.146 ZM27.431,23.905 L37.156,23.905 L37.156,20.663 L27.431,20.663 L27.431,23.905 ZM18.517,40.113 L22.569,40.113 L22.569,36.871 L18.517,36.871 L18.517,40.113 ZM18.517,35.251 L22.569,35.251 L22.569,32.009 L18.517,32.009 L18.517,35.251 ZM12.844,40.113 L16.896,40.113 L16.896,36.871 L12.844,36.871 L12.844,40.113 ZM12.844,35.251 L16.896,35.251 L16.896,32.009 L12.844,32.009 L12.844,35.251 ZM12.844,27.146 L22.569,27.146 L22.569,23.905 L12.844,23.905 L12.844,27.146 ZM12.844,22.284 L22.569,22.284 L22.569,20.663 L12.844,20.663 L12.844,22.284 ZM4.740,40.924 L4.740,43.355 L6.361,43.355 L6.361,40.924 L4.740,40.924 ZM45.260,40.924 L43.639,40.924 L43.639,43.355 L45.260,43.355 L45.260,40.924 ZM47.691,40.924 L46.881,40.924 L46.881,43.355 L47.691,43.355 L47.691,40.924 Z')
    