.panel
  padding: 60px 0 50px
  background-color: #f5f5f9

  .main-title
    margin-bottom: 65px

  &__item
    display: flex
    align-items: center
    margin-bottom: 30px


  &__inner
    +box
    width: 100%
    background-color: #fff
    position: relative
    padding: 20px
    +media-breakpoint-up(sm)
      padding:
        left: 100px
        top: 40px
        bottom: 40px
        right: 30px
    +media-breakpoint-up(lg)
      padding:
        left: 150px
        top: 65px
        bottom: 65px
        right: 95px

    &:hover
      box-shadow: 0 4px 70px rgba(#020202, .15)
  
    .icon
      margin-bottom: 15px
      +media-breakpoint-up(sm)
        margin-bottom: 0
        transform: translate(-50%, -50%)
        position: absolute
        top: 50%
        left: 50px
      +media-breakpoint-up(lg)
        left: 90px


  &__item-title
    +ob
    font-size: 18px
    color: $color-primary
    text-transform: uppercase
