.download-comparison
  background-image: url(../image/download-comparison-bg.jpg)
  +cover
  padding: 80px 0
  color: #fff

  &__wrap
    position: relative

  &__img
    display: none
    +media-breakpoint-up(sm)
      display: block
      max-width: 200px
      position: absolute
      top: -40px
      left: -50px
    +media-breakpoint-up(lg)
      top: -150px
      left: 100%
      margin-left: -100px
      max-width: none


  &__title
    +ob
    font-size: 24px
    line-height: 1
    text-transform: uppercase
    padding-left: 0
    +media-breakpoint-up(sm)
      padding-left: 150px
      font-size: 36px
    +media-breakpoint-up(lg)
      padding-left: 0

  &__desc
    +ol
    font-size: 20px
    line-height: (28/20)
    padding: 25px 0 35px


  &__form-line
    max-width: 505px
    +media-breakpoint-up(sm)
      border-radius: 26px
      background-color: #2472b1
      display: flex
      justify-content: space-between

  &__field
    +ol
    +box
    font-size: 16px
    background: none
    border: 0 none
    color: #fff
    flex: 1 1 auto
    outline: none
    padding: 0 20px 0 20px
    height: 51px
    background-color: #2472b1
    border-radius: 26px
    width: 100%
    +media-breakpoint-up(sm)
      padding: 0 20px 0 50px
      
    &::placeholder
      opacity: .8
      color: #fff
    

  &__btn
    +ob
    flex: 0 1 auto
    background-color: #fff
    height: 51px
    color: $color-primary
    font-size: 14px
    text-align: center
    border: 0 none
    border-radius: 26px
    user-select: none
    cursor: pointer
    width: 100%
    margin-top: 10px
    +media-breakpoint-up(sm)
      margin-top: 0
      width: 180px


