.press
  background-color: #f4f7f9
  padding: 75px 0 55px

  .main-title
    margin-bottom: 60px

  &__item
    padding: 20px 25px 40px
    background-color: #fff
    margin: 0 0 30px

  .hr
    height: 1px
    background-color: #dbe1e5
    margin: 20px 0

  &__text
    +ob
    color: $color-primary
    &:hover
      color: #0089e9

  &__link-wrap
    margin-top: 40px
    text-align: right

  &__link
    color: #2d3b55
    &:hover
     color: #0089e9
     path
      fill: #0089e9 !important

  &__link-line-wrap
    margin-top: 40px
    text-align: right

