.how-build
  padding: 50px 0
  +media-breakpoint-up(md)
    padding: 110px 0
  .main-title
    margin-bottom: 20px
    +media-breakpoint-up(md)
      margin-bottom: 40px


  &__item
    position: relative
    max-width: 180px
    padding: 
      left: 10px
      top: 15px
    margin: 10px auto
    &:hover
      &:after
        background-color: #fe9200

    &>div
      position: relative
      z-index: 2

    &:after
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 103px
      height: 133px
      background-color: #e5edeb

  &__num
    +oe
    font-size: 16px
    color: #fff

  &__svg-wrap
    min-height: 89px
    display: flex
    align-items: flex-end
    position: relative
    top: -20px
    margin-left: 50px

  &__text
    +ob
    font-size: 16px
    color: $color-primary
    margin-top: 20px
    margin-left: 15px

