mixin project_grid(t)
  +b.SECTION.project-grid&attributes(attributes)
    .container
      .row
        .col
          h2.main-title Популярные проекты
      .row
        .col-lg-4.col-md-6
          +b.A.project-card(href="#")
            +e.vendor-code МС-160/К
            +e.preview(style="background-image: url(image/project.jpg)")
            +e.bottom
              +e.price Стоимость от:
                br
                span 2 125 474.93 Р
              +e.area Площадь:
                br
                span 140.10 м
                  sup 2
        .col-lg-4.col-md-6
          +b.A.project-card(href="#")
            +e.vendor-code МС-160/К
            +e.preview(style="background-image: url(image/project.jpg)")
            +e.bottom
              +e.price Стоимость от:
                br
                span 2 125 474.93 Р
              +e.area Площадь:
                br
                span 140.10 м
                  sup 2
        .col-lg-4.col-md-6
          +b.A.project-card(href="#")
            +e.vendor-code МС-160/К
            +e.preview(style="background-image: url(image/project.jpg)")
            +e.bottom
              +e.price Стоимость от:
                br
                span 2 125 474.93 Р
              +e.area Площадь:
                br
                span 140.10 м
                  sup 2
        .col-lg-4.col-md-6
          +b.A.project-card(href="#")
            +e.vendor-code МС-160/К
            +e.preview(style="background-image: url(image/project.jpg)")
            +e.bottom
              +e.price Стоимость от:
                br
                span 2 125 474.93 Р
              +e.area Площадь:
                br
                span 140.10 м
                  sup 2
        .col-lg-4.col-md-6
          +b.A.project-card(href="#")
            +e.vendor-code МС-160/К
            +e.preview(style="background-image: url(image/project.jpg)")
            +e.bottom
              +e.price Стоимость от:
                br
                span 2 125 474.93 Р
              +e.area Площадь:
                br
                span 140.10 м
                  sup 2
        .col-lg-4.col-md-6
          +b.A.project-card(href="#")
            +e.vendor-code МС-160/К
            +e.preview(style="background-image: url(image/project.jpg)")
            +e.bottom
              +e.price Стоимость от:
                br
                span 2 125 474.93 Р
              +e.area Площадь:
                br
                span 140.10 м
                  sup 2

      if t
        .row
          .col
            +e.link-wrap
              +b.link-line
                a(href="#") Показать больше