.project-card
  padding: 0 30px
  position: relative
  display: block

  &__vendor-code
    position: absolute
    left: 100%
    margin-left: -5px
    transform-origin: left top 0
    transform: rotate(90deg)
    font-size: 18px
    color: #203b4e
    text-transform: uppercase
    white-space: nowrap

  &__preview
    width: 260px
    height: 230px
    display: block
    +cover
    +media-breakpoint-up(sm)
      width: 305px


  &__bottom
    margin-top: 20px
    display: flex

  &__price
    color: #778086
    font-size: 11px

    span
      +ob
      font-size: 18px
      color: #0089e9

  &__area
    margin-left: 40px
    color: #778086
    font-size: 11px

    span
      +ob
      font-size: 18px
      color: #2e373d

    sup
      font-size: .6em
      position: relative
      top: -.6em

.project-list
  padding: 100px 0 50px
  .main-title
    margin-bottom: 70px
  .frame
    overflow: hidden
    .slidee
      height: 100%
  .project-card
    height: 100%
    float: left

  &__slider
    position: relative
    overflow: hidden
    .prev
      left: 0
      top: 50%
      transform: translateY(-50%)
    .next
      right: 0
      top: 50%
      transform: translateY(-50%)
    

  &__btn-wrap
    margin-top: 70px
    text-align: right

.project-grid
  padding-top: 70px
  padding-bottom: 20px
  .main-title
    margin-bottom: 70px
  .project-card
    padding-left: 0
    margin-bottom: 80px
    &__preview
      width: auto
    &__vendor-code
      margin-left: 5px
  &__link-wrap
    text-align: right
    margin-bottom: 60px
