.total
  overflow: hidden
  background-image: url(../image/total-bg.jpg)
  +cover
  .main-title
    line-height: 1
    margin-bottom: 15px

  &__desc
    +ob
    font-size: 16px
    color: $color-primary
  &__wrap
    padding: 75px 0
    position: relative

  &__img
    position: absolute
    top: 0
    bottom: 0
    left: 100%
    margin-left: 30px
    width: 965px
    +cover
    display: none
    +media-breakpoint-up(xl)
      display: block

  &__list
    display: flex
    flex-wrap: wrap
    justify-content: space-between

  &__item
    margin-top: 70px
    padding-right: 30px
    +box
    width: 100%
    +media-breakpoint-up(sm)
      width: 50%
    .icon
      margin-bottom: 30px

  &__item-title
    +ob
    font-size: 18px
    color: $color-primary
    text-transform: uppercase