.bottom-form
  padding: 55px 0
  background-image: url(../image/bottom-form-bg.jpg)
  +cover

  &__form-wrap
    position: relative
    &:after
      content: ''
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      background-color: #fff
      border-radius: 5px
      box-shadow: 0 3px 27px rgba(#020202, .15)
      +media-breakpoint-up(lg)
        right: -50px



  &__inner
    position: relative
    z-index: 2
    padding: 30px 15px
    +media-breakpoint-up(sm)
      padding: 40px
    +media-breakpoint-up(lg)
      padding: 50px 40px 50px 50px

  &__desc
    margin: 5px 0 15px
    color: $color-primary
    font-size: 14px
    line-height: 1.2

  &__img
    display: none
    +cover
    margin-left: 20px
    height: 490px
    border-radius: 5px
    box-shadow: 0 4px 59px rgba(#020202, .15)
    +media-breakpoint-up(lg)
      display: block

  .form-line
    margin-bottom: 15px

  .btn
    +box
    border-radius: 32px
    margin-top: 15px
    height: 63px
    width: 100%