.table
  padding: 100px 0
  .main-title
    margin-bottom: 50px

  .table-container
    width: 100%
    overflow-y: hidden

  table
    width: 100%
    th
      +ob
      text-align: left
      font-size: 13px
      color: #203b4e
      vertical-align: middle
      padding: 16px 30px
      border:
        top: 1px solid #dce1e9
        right: 1px solid #dce1e9
        bottom: 1px solid #dce1e9
      
    td
      vertical-align: middle
      padding: 10px 30px
      border: 1px solid #dce1e9
      &:last-child
        border-right: 0 none

    tr
      &:first-child
        td,th
          border-top: 0 none
      &:last-child
        td,th
          border-bottom: 0 none
      

  &__data
    font-size: 14px
    color: #5c7485
    &_ex
      +oe
    &_b
      +ob
    &_fz16
      font-size: 16px

    &_color-primary
      color: $color-primary
    &_color-blue
      color: #2779b3
    &_color-red
      color: #e44014
    &_color-green
      color: #24d311
    &_color-orange
      color: #d78118

