.top-sale
  background-image: url(../image/top-sale-bg.jpg)
  +cover

  &__wrap
    padding: 60px 0
    position: relative
    +media-breakpoint-up(lg)
      padding: 120px 0 140px

  &__title
    +ob
    color: $color-primary
    font-size: 30px
    line-height: 1.1
    +media-breakpoint-up(lg)
      font-size: 40px
    span
      font-size: 36px
      +media-breakpoint-up(lg)
        font-size: 48px
    b
      font-size: 50px
      line-height: 1
      color: #ffbb00
      +media-breakpoint-up(lg)
        font-size: 97px

  p
    margin: 30px 0
    +media-breakpoint-up(lg)
      margin: 60px 0

  &__nav
    position: absolute
    bottom: 0
    right: 0
    z-index: 2
    display: flex
    align-items: center
    background-color: #fff
    padding: 20px

  &__count
    +ob
    color: #dfe3e7
    font-size: 24px
    margin: 0 10px
    span
      color: $color-primary

  &__next,
  &__prev
    cursor: pointer
    &:hover
      path
        fill: #0c3252
    path
      fill: #e8ebee

  &__slider
    display: none
    +media-breakpoint-up(md)
      display: block
      position: absolute
      top: 0
      bottom: 0
      left: 100%
      margin-top: 0
      margin-left: 30px

  &__carousel-item
    +cover
