.faq
  padding: 60px 0
  background-color: #f5f5f9
  .main-title
    margin-bottom: 30px


.accordion
  &__head
    padding: 40px 20px
    font-size: 20px
    color: $color-primary
    outline: none
    position: relative
    cursor: pointer
    &:before
      content: ''
      position: absolute
      bottom: 0
      left: 10px
      right: 10px
      height: 1px
      background-color: #b9b9bd




    &.ui-accordion-header-active
      +ob
      background-color: #fff

  &__arrow
    position: absolute
    top: 50%
    transform: translateY(-50%)
    right: 20px
    width: 32px
    height: 32px
    border-radius: 100%
    background-color: #fff
    transition: transform .5s ease-in-out
    .ui-accordion-header-active &
      transform: translateY(-50%) rotate(180deg)
      &:after
        border-top-color: #fbba6a
    &:after
      content: ''
      position: absolute
      top: 50%
      transform: translate(-50%, -50%)
      left: 50%
      margin-top: 1px
      border-top: 7px solid #000
      border-right: 5px solid transparent
      border-left: 5px solid transparent
      transition: border-top-color .5s ease-in-out

  &__body
    padding: 30px 20px
    background-color: #fff

    h3
      +ob
      color: $color-primary
      font-size: 18px
      margin-bottom: 20px

    p
      margin: 20px 0
      line-height: (24/14)