@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&subset=cyrillic");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

@-ms-viewport {
  width: device-width; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-overflow-style: scrollbar; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }

.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%; }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col {
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 100%; }

.col-auto {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
  max-width: none; }

.col-1 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 8.33333%;
      -ms-flex: 0 0 8.33333%;
          flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.col-2 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 16.66667%;
      -ms-flex: 0 0 16.66667%;
          flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.col-3 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.33333%;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.col-5 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 41.66667%;
      -ms-flex: 0 0 41.66667%;
          flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.col-6 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 58.33333%;
      -ms-flex: 0 0 58.33333%;
          flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.col-8 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 66.66667%;
      -ms-flex: 0 0 66.66667%;
          flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.col-9 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 75%;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 83.33333%;
      -ms-flex: 0 0 83.33333%;
          flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.col-11 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 91.66667%;
      -ms-flex: 0 0 91.66667%;
          flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.col-12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%; }

.order-1 {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1; }

.order-2 {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2; }

.order-3 {
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3; }

.order-4 {
  -webkit-box-ordinal-group: 5;
  -webkit-order: 4;
      -ms-flex-order: 4;
          order: 4; }

.order-5 {
  -webkit-box-ordinal-group: 6;
  -webkit-order: 5;
      -ms-flex-order: 5;
          order: 5; }

.order-6 {
  -webkit-box-ordinal-group: 7;
  -webkit-order: 6;
      -ms-flex-order: 6;
          order: 6; }

.order-7 {
  -webkit-box-ordinal-group: 8;
  -webkit-order: 7;
      -ms-flex-order: 7;
          order: 7; }

.order-8 {
  -webkit-box-ordinal-group: 9;
  -webkit-order: 8;
      -ms-flex-order: 8;
          order: 8; }

.order-9 {
  -webkit-box-ordinal-group: 10;
  -webkit-order: 9;
      -ms-flex-order: 9;
          order: 9; }

.order-10 {
  -webkit-box-ordinal-group: 11;
  -webkit-order: 10;
      -ms-flex-order: 10;
          order: 10; }

.order-11 {
  -webkit-box-ordinal-group: 12;
  -webkit-order: 11;
      -ms-flex-order: 11;
          order: 11; }

.order-12 {
  -webkit-box-ordinal-group: 13;
  -webkit-order: 12;
      -ms-flex-order: 12;
          order: 12; }

@media (min-width: 576px) {
  .col-sm {
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%; }
  .col-sm-auto {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-sm-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-sm-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.66667%;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-sm-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%; }
  .col-sm-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-sm-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66667%;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-sm-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%; }
  .col-sm-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-sm-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66667%;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-sm-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%; }
  .col-sm-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.33333%;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-sm-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.66667%;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-sm-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%; }
  .order-sm-1 {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
  .order-sm-2 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }
  .order-sm-3 {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3; }
  .order-sm-4 {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4; }
  .order-sm-5 {
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5; }
  .order-sm-6 {
    -webkit-box-ordinal-group: 7;
    -webkit-order: 6;
        -ms-flex-order: 6;
            order: 6; }
  .order-sm-7 {
    -webkit-box-ordinal-group: 8;
    -webkit-order: 7;
        -ms-flex-order: 7;
            order: 7; }
  .order-sm-8 {
    -webkit-box-ordinal-group: 9;
    -webkit-order: 8;
        -ms-flex-order: 8;
            order: 8; }
  .order-sm-9 {
    -webkit-box-ordinal-group: 10;
    -webkit-order: 9;
        -ms-flex-order: 9;
            order: 9; }
  .order-sm-10 {
    -webkit-box-ordinal-group: 11;
    -webkit-order: 10;
        -ms-flex-order: 10;
            order: 10; }
  .order-sm-11 {
    -webkit-box-ordinal-group: 12;
    -webkit-order: 11;
        -ms-flex-order: 11;
            order: 11; }
  .order-sm-12 {
    -webkit-box-ordinal-group: 13;
    -webkit-order: 12;
        -ms-flex-order: 12;
            order: 12; } }

@media (min-width: 768px) {
  .col-md {
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%; }
  .col-md-auto {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-md-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-md-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.66667%;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-md-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%; }
  .col-md-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-md-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66667%;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-md-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%; }
  .col-md-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-md-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66667%;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-md-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%; }
  .col-md-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.33333%;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-md-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.66667%;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-md-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%; }
  .order-md-1 {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
  .order-md-2 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }
  .order-md-3 {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3; }
  .order-md-4 {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4; }
  .order-md-5 {
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5; }
  .order-md-6 {
    -webkit-box-ordinal-group: 7;
    -webkit-order: 6;
        -ms-flex-order: 6;
            order: 6; }
  .order-md-7 {
    -webkit-box-ordinal-group: 8;
    -webkit-order: 7;
        -ms-flex-order: 7;
            order: 7; }
  .order-md-8 {
    -webkit-box-ordinal-group: 9;
    -webkit-order: 8;
        -ms-flex-order: 8;
            order: 8; }
  .order-md-9 {
    -webkit-box-ordinal-group: 10;
    -webkit-order: 9;
        -ms-flex-order: 9;
            order: 9; }
  .order-md-10 {
    -webkit-box-ordinal-group: 11;
    -webkit-order: 10;
        -ms-flex-order: 10;
            order: 10; }
  .order-md-11 {
    -webkit-box-ordinal-group: 12;
    -webkit-order: 11;
        -ms-flex-order: 11;
            order: 11; }
  .order-md-12 {
    -webkit-box-ordinal-group: 13;
    -webkit-order: 12;
        -ms-flex-order: 12;
            order: 12; } }

@media (min-width: 992px) {
  .col-lg {
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%; }
  .col-lg-auto {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-lg-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-lg-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.66667%;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-lg-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%; }
  .col-lg-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-lg-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66667%;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-lg-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%; }
  .col-lg-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-lg-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66667%;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-lg-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%; }
  .col-lg-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.33333%;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-lg-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.66667%;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-lg-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%; }
  .order-lg-1 {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
  .order-lg-2 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }
  .order-lg-3 {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3; }
  .order-lg-4 {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4; }
  .order-lg-5 {
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5; }
  .order-lg-6 {
    -webkit-box-ordinal-group: 7;
    -webkit-order: 6;
        -ms-flex-order: 6;
            order: 6; }
  .order-lg-7 {
    -webkit-box-ordinal-group: 8;
    -webkit-order: 7;
        -ms-flex-order: 7;
            order: 7; }
  .order-lg-8 {
    -webkit-box-ordinal-group: 9;
    -webkit-order: 8;
        -ms-flex-order: 8;
            order: 8; }
  .order-lg-9 {
    -webkit-box-ordinal-group: 10;
    -webkit-order: 9;
        -ms-flex-order: 9;
            order: 9; }
  .order-lg-10 {
    -webkit-box-ordinal-group: 11;
    -webkit-order: 10;
        -ms-flex-order: 10;
            order: 10; }
  .order-lg-11 {
    -webkit-box-ordinal-group: 12;
    -webkit-order: 11;
        -ms-flex-order: 11;
            order: 11; }
  .order-lg-12 {
    -webkit-box-ordinal-group: 13;
    -webkit-order: 12;
        -ms-flex-order: 12;
            order: 12; } }

@media (min-width: 1200px) {
  .col-xl {
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%; }
  .col-xl-auto {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: none; }
  .col-xl-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-xl-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.66667%;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-xl-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%; }
  .col-xl-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-xl-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66667%;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-xl-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%; }
  .col-xl-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-xl-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66667%;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-xl-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%; }
  .col-xl-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.33333%;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-xl-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.66667%;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-xl-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%; }
  .order-xl-1 {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
  .order-xl-2 {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }
  .order-xl-3 {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3; }
  .order-xl-4 {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4; }
  .order-xl-5 {
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5; }
  .order-xl-6 {
    -webkit-box-ordinal-group: 7;
    -webkit-order: 6;
        -ms-flex-order: 6;
            order: 6; }
  .order-xl-7 {
    -webkit-box-ordinal-group: 8;
    -webkit-order: 7;
        -ms-flex-order: 7;
            order: 7; }
  .order-xl-8 {
    -webkit-box-ordinal-group: 9;
    -webkit-order: 8;
        -ms-flex-order: 8;
            order: 8; }
  .order-xl-9 {
    -webkit-box-ordinal-group: 10;
    -webkit-order: 9;
        -ms-flex-order: 9;
            order: 9; }
  .order-xl-10 {
    -webkit-box-ordinal-group: 11;
    -webkit-order: 10;
        -ms-flex-order: 10;
            order: 10; }
  .order-xl-11 {
    -webkit-box-ordinal-group: 12;
    -webkit-order: 11;
        -ms-flex-order: 11;
            order: 11; }
  .order-xl-12 {
    -webkit-box-ordinal-group: 13;
    -webkit-order: 12;
        -ms-flex-order: 12;
            order: 12; } }

.flex-row {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
  -webkit-flex-direction: row !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important; }

.flex-column {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -webkit-flex-direction: column !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important; }

.flex-row-reverse {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: reverse !important;
  -webkit-flex-direction: row-reverse !important;
      -ms-flex-direction: row-reverse !important;
          flex-direction: row-reverse !important; }

.flex-column-reverse {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: reverse !important;
  -webkit-flex-direction: column-reverse !important;
      -ms-flex-direction: column-reverse !important;
          flex-direction: column-reverse !important; }

.flex-wrap {
  -webkit-flex-wrap: wrap !important;
      -ms-flex-wrap: wrap !important;
          flex-wrap: wrap !important; }

.flex-nowrap {
  -webkit-flex-wrap: nowrap !important;
      -ms-flex-wrap: nowrap !important;
          flex-wrap: nowrap !important; }

.flex-wrap-reverse {
  -webkit-flex-wrap: wrap-reverse !important;
      -ms-flex-wrap: wrap-reverse !important;
          flex-wrap: wrap-reverse !important; }

.justify-content-start {
  -webkit-box-pack: start !important;
  -webkit-justify-content: flex-start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important; }

.justify-content-end {
  -webkit-box-pack: end !important;
  -webkit-justify-content: flex-end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important; }

.justify-content-center {
  -webkit-box-pack: center !important;
  -webkit-justify-content: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important; }

.justify-content-between {
  -webkit-box-pack: justify !important;
  -webkit-justify-content: space-between !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important; }

.justify-content-around {
  -webkit-justify-content: space-around !important;
      -ms-flex-pack: distribute !important;
          justify-content: space-around !important; }

.align-items-start {
  -webkit-box-align: start !important;
  -webkit-align-items: flex-start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important; }

.align-items-end {
  -webkit-box-align: end !important;
  -webkit-align-items: flex-end !important;
      -ms-flex-align: end !important;
          align-items: flex-end !important; }

.align-items-center {
  -webkit-box-align: center !important;
  -webkit-align-items: center !important;
      -ms-flex-align: center !important;
          align-items: center !important; }

.align-items-baseline {
  -webkit-box-align: baseline !important;
  -webkit-align-items: baseline !important;
      -ms-flex-align: baseline !important;
          align-items: baseline !important; }

.align-items-stretch {
  -webkit-box-align: stretch !important;
  -webkit-align-items: stretch !important;
      -ms-flex-align: stretch !important;
          align-items: stretch !important; }

.align-content-start {
  -webkit-align-content: flex-start !important;
      -ms-flex-line-pack: start !important;
          align-content: flex-start !important; }

.align-content-end {
  -webkit-align-content: flex-end !important;
      -ms-flex-line-pack: end !important;
          align-content: flex-end !important; }

.align-content-center {
  -webkit-align-content: center !important;
      -ms-flex-line-pack: center !important;
          align-content: center !important; }

.align-content-between {
  -webkit-align-content: space-between !important;
      -ms-flex-line-pack: justify !important;
          align-content: space-between !important; }

.align-content-around {
  -webkit-align-content: space-around !important;
      -ms-flex-line-pack: distribute !important;
          align-content: space-around !important; }

.align-content-stretch {
  -webkit-align-content: stretch !important;
      -ms-flex-line-pack: stretch !important;
          align-content: stretch !important; }

.align-self-auto {
  -webkit-align-self: auto !important;
      -ms-flex-item-align: auto !important;
          align-self: auto !important; }

.align-self-start {
  -webkit-align-self: flex-start !important;
      -ms-flex-item-align: start !important;
          align-self: flex-start !important; }

.align-self-end {
  -webkit-align-self: flex-end !important;
      -ms-flex-item-align: end !important;
          align-self: flex-end !important; }

.align-self-center {
  -webkit-align-self: center !important;
      -ms-flex-item-align: center !important;
          align-self: center !important; }

.align-self-baseline {
  -webkit-align-self: baseline !important;
      -ms-flex-item-align: baseline !important;
          align-self: baseline !important; }

.align-self-stretch {
  -webkit-align-self: stretch !important;
      -ms-flex-item-align: stretch !important;
          align-self: stretch !important; }

@media (min-width: 576px) {
  .flex-sm-row {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: row !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important; }
  .flex-sm-column {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: column !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important; }
  .flex-sm-row-reverse {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
    -webkit-flex-direction: row-reverse !important;
        -ms-flex-direction: row-reverse !important;
            flex-direction: row-reverse !important; }
  .flex-sm-column-reverse {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
    -webkit-flex-direction: column-reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important; }
  .flex-sm-wrap {
    -webkit-flex-wrap: wrap !important;
        -ms-flex-wrap: wrap !important;
            flex-wrap: wrap !important; }
  .flex-sm-nowrap {
    -webkit-flex-wrap: nowrap !important;
        -ms-flex-wrap: nowrap !important;
            flex-wrap: nowrap !important; }
  .flex-sm-wrap-reverse {
    -webkit-flex-wrap: wrap-reverse !important;
        -ms-flex-wrap: wrap-reverse !important;
            flex-wrap: wrap-reverse !important; }
  .justify-content-sm-start {
    -webkit-box-pack: start !important;
    -webkit-justify-content: flex-start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important; }
  .justify-content-sm-end {
    -webkit-box-pack: end !important;
    -webkit-justify-content: flex-end !important;
        -ms-flex-pack: end !important;
            justify-content: flex-end !important; }
  .justify-content-sm-center {
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important; }
  .justify-content-sm-between {
    -webkit-box-pack: justify !important;
    -webkit-justify-content: space-between !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important; }
  .justify-content-sm-around {
    -webkit-justify-content: space-around !important;
        -ms-flex-pack: distribute !important;
            justify-content: space-around !important; }
  .align-items-sm-start {
    -webkit-box-align: start !important;
    -webkit-align-items: flex-start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important; }
  .align-items-sm-end {
    -webkit-box-align: end !important;
    -webkit-align-items: flex-end !important;
        -ms-flex-align: end !important;
            align-items: flex-end !important; }
  .align-items-sm-center {
    -webkit-box-align: center !important;
    -webkit-align-items: center !important;
        -ms-flex-align: center !important;
            align-items: center !important; }
  .align-items-sm-baseline {
    -webkit-box-align: baseline !important;
    -webkit-align-items: baseline !important;
        -ms-flex-align: baseline !important;
            align-items: baseline !important; }
  .align-items-sm-stretch {
    -webkit-box-align: stretch !important;
    -webkit-align-items: stretch !important;
        -ms-flex-align: stretch !important;
            align-items: stretch !important; }
  .align-content-sm-start {
    -webkit-align-content: flex-start !important;
        -ms-flex-line-pack: start !important;
            align-content: flex-start !important; }
  .align-content-sm-end {
    -webkit-align-content: flex-end !important;
        -ms-flex-line-pack: end !important;
            align-content: flex-end !important; }
  .align-content-sm-center {
    -webkit-align-content: center !important;
        -ms-flex-line-pack: center !important;
            align-content: center !important; }
  .align-content-sm-between {
    -webkit-align-content: space-between !important;
        -ms-flex-line-pack: justify !important;
            align-content: space-between !important; }
  .align-content-sm-around {
    -webkit-align-content: space-around !important;
        -ms-flex-line-pack: distribute !important;
            align-content: space-around !important; }
  .align-content-sm-stretch {
    -webkit-align-content: stretch !important;
        -ms-flex-line-pack: stretch !important;
            align-content: stretch !important; }
  .align-self-sm-auto {
    -webkit-align-self: auto !important;
        -ms-flex-item-align: auto !important;
            align-self: auto !important; }
  .align-self-sm-start {
    -webkit-align-self: flex-start !important;
        -ms-flex-item-align: start !important;
            align-self: flex-start !important; }
  .align-self-sm-end {
    -webkit-align-self: flex-end !important;
        -ms-flex-item-align: end !important;
            align-self: flex-end !important; }
  .align-self-sm-center {
    -webkit-align-self: center !important;
        -ms-flex-item-align: center !important;
            align-self: center !important; }
  .align-self-sm-baseline {
    -webkit-align-self: baseline !important;
        -ms-flex-item-align: baseline !important;
            align-self: baseline !important; }
  .align-self-sm-stretch {
    -webkit-align-self: stretch !important;
        -ms-flex-item-align: stretch !important;
            align-self: stretch !important; } }

@media (min-width: 768px) {
  .flex-md-row {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: row !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important; }
  .flex-md-column {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: column !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important; }
  .flex-md-row-reverse {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
    -webkit-flex-direction: row-reverse !important;
        -ms-flex-direction: row-reverse !important;
            flex-direction: row-reverse !important; }
  .flex-md-column-reverse {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
    -webkit-flex-direction: column-reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important; }
  .flex-md-wrap {
    -webkit-flex-wrap: wrap !important;
        -ms-flex-wrap: wrap !important;
            flex-wrap: wrap !important; }
  .flex-md-nowrap {
    -webkit-flex-wrap: nowrap !important;
        -ms-flex-wrap: nowrap !important;
            flex-wrap: nowrap !important; }
  .flex-md-wrap-reverse {
    -webkit-flex-wrap: wrap-reverse !important;
        -ms-flex-wrap: wrap-reverse !important;
            flex-wrap: wrap-reverse !important; }
  .justify-content-md-start {
    -webkit-box-pack: start !important;
    -webkit-justify-content: flex-start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important; }
  .justify-content-md-end {
    -webkit-box-pack: end !important;
    -webkit-justify-content: flex-end !important;
        -ms-flex-pack: end !important;
            justify-content: flex-end !important; }
  .justify-content-md-center {
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important; }
  .justify-content-md-between {
    -webkit-box-pack: justify !important;
    -webkit-justify-content: space-between !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important; }
  .justify-content-md-around {
    -webkit-justify-content: space-around !important;
        -ms-flex-pack: distribute !important;
            justify-content: space-around !important; }
  .align-items-md-start {
    -webkit-box-align: start !important;
    -webkit-align-items: flex-start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important; }
  .align-items-md-end {
    -webkit-box-align: end !important;
    -webkit-align-items: flex-end !important;
        -ms-flex-align: end !important;
            align-items: flex-end !important; }
  .align-items-md-center {
    -webkit-box-align: center !important;
    -webkit-align-items: center !important;
        -ms-flex-align: center !important;
            align-items: center !important; }
  .align-items-md-baseline {
    -webkit-box-align: baseline !important;
    -webkit-align-items: baseline !important;
        -ms-flex-align: baseline !important;
            align-items: baseline !important; }
  .align-items-md-stretch {
    -webkit-box-align: stretch !important;
    -webkit-align-items: stretch !important;
        -ms-flex-align: stretch !important;
            align-items: stretch !important; }
  .align-content-md-start {
    -webkit-align-content: flex-start !important;
        -ms-flex-line-pack: start !important;
            align-content: flex-start !important; }
  .align-content-md-end {
    -webkit-align-content: flex-end !important;
        -ms-flex-line-pack: end !important;
            align-content: flex-end !important; }
  .align-content-md-center {
    -webkit-align-content: center !important;
        -ms-flex-line-pack: center !important;
            align-content: center !important; }
  .align-content-md-between {
    -webkit-align-content: space-between !important;
        -ms-flex-line-pack: justify !important;
            align-content: space-between !important; }
  .align-content-md-around {
    -webkit-align-content: space-around !important;
        -ms-flex-line-pack: distribute !important;
            align-content: space-around !important; }
  .align-content-md-stretch {
    -webkit-align-content: stretch !important;
        -ms-flex-line-pack: stretch !important;
            align-content: stretch !important; }
  .align-self-md-auto {
    -webkit-align-self: auto !important;
        -ms-flex-item-align: auto !important;
            align-self: auto !important; }
  .align-self-md-start {
    -webkit-align-self: flex-start !important;
        -ms-flex-item-align: start !important;
            align-self: flex-start !important; }
  .align-self-md-end {
    -webkit-align-self: flex-end !important;
        -ms-flex-item-align: end !important;
            align-self: flex-end !important; }
  .align-self-md-center {
    -webkit-align-self: center !important;
        -ms-flex-item-align: center !important;
            align-self: center !important; }
  .align-self-md-baseline {
    -webkit-align-self: baseline !important;
        -ms-flex-item-align: baseline !important;
            align-self: baseline !important; }
  .align-self-md-stretch {
    -webkit-align-self: stretch !important;
        -ms-flex-item-align: stretch !important;
            align-self: stretch !important; } }

@media (min-width: 992px) {
  .flex-lg-row {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: row !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important; }
  .flex-lg-column {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: column !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important; }
  .flex-lg-row-reverse {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
    -webkit-flex-direction: row-reverse !important;
        -ms-flex-direction: row-reverse !important;
            flex-direction: row-reverse !important; }
  .flex-lg-column-reverse {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
    -webkit-flex-direction: column-reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important; }
  .flex-lg-wrap {
    -webkit-flex-wrap: wrap !important;
        -ms-flex-wrap: wrap !important;
            flex-wrap: wrap !important; }
  .flex-lg-nowrap {
    -webkit-flex-wrap: nowrap !important;
        -ms-flex-wrap: nowrap !important;
            flex-wrap: nowrap !important; }
  .flex-lg-wrap-reverse {
    -webkit-flex-wrap: wrap-reverse !important;
        -ms-flex-wrap: wrap-reverse !important;
            flex-wrap: wrap-reverse !important; }
  .justify-content-lg-start {
    -webkit-box-pack: start !important;
    -webkit-justify-content: flex-start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important; }
  .justify-content-lg-end {
    -webkit-box-pack: end !important;
    -webkit-justify-content: flex-end !important;
        -ms-flex-pack: end !important;
            justify-content: flex-end !important; }
  .justify-content-lg-center {
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important; }
  .justify-content-lg-between {
    -webkit-box-pack: justify !important;
    -webkit-justify-content: space-between !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important; }
  .justify-content-lg-around {
    -webkit-justify-content: space-around !important;
        -ms-flex-pack: distribute !important;
            justify-content: space-around !important; }
  .align-items-lg-start {
    -webkit-box-align: start !important;
    -webkit-align-items: flex-start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important; }
  .align-items-lg-end {
    -webkit-box-align: end !important;
    -webkit-align-items: flex-end !important;
        -ms-flex-align: end !important;
            align-items: flex-end !important; }
  .align-items-lg-center {
    -webkit-box-align: center !important;
    -webkit-align-items: center !important;
        -ms-flex-align: center !important;
            align-items: center !important; }
  .align-items-lg-baseline {
    -webkit-box-align: baseline !important;
    -webkit-align-items: baseline !important;
        -ms-flex-align: baseline !important;
            align-items: baseline !important; }
  .align-items-lg-stretch {
    -webkit-box-align: stretch !important;
    -webkit-align-items: stretch !important;
        -ms-flex-align: stretch !important;
            align-items: stretch !important; }
  .align-content-lg-start {
    -webkit-align-content: flex-start !important;
        -ms-flex-line-pack: start !important;
            align-content: flex-start !important; }
  .align-content-lg-end {
    -webkit-align-content: flex-end !important;
        -ms-flex-line-pack: end !important;
            align-content: flex-end !important; }
  .align-content-lg-center {
    -webkit-align-content: center !important;
        -ms-flex-line-pack: center !important;
            align-content: center !important; }
  .align-content-lg-between {
    -webkit-align-content: space-between !important;
        -ms-flex-line-pack: justify !important;
            align-content: space-between !important; }
  .align-content-lg-around {
    -webkit-align-content: space-around !important;
        -ms-flex-line-pack: distribute !important;
            align-content: space-around !important; }
  .align-content-lg-stretch {
    -webkit-align-content: stretch !important;
        -ms-flex-line-pack: stretch !important;
            align-content: stretch !important; }
  .align-self-lg-auto {
    -webkit-align-self: auto !important;
        -ms-flex-item-align: auto !important;
            align-self: auto !important; }
  .align-self-lg-start {
    -webkit-align-self: flex-start !important;
        -ms-flex-item-align: start !important;
            align-self: flex-start !important; }
  .align-self-lg-end {
    -webkit-align-self: flex-end !important;
        -ms-flex-item-align: end !important;
            align-self: flex-end !important; }
  .align-self-lg-center {
    -webkit-align-self: center !important;
        -ms-flex-item-align: center !important;
            align-self: center !important; }
  .align-self-lg-baseline {
    -webkit-align-self: baseline !important;
        -ms-flex-item-align: baseline !important;
            align-self: baseline !important; }
  .align-self-lg-stretch {
    -webkit-align-self: stretch !important;
        -ms-flex-item-align: stretch !important;
            align-self: stretch !important; } }

@media (min-width: 1200px) {
  .flex-xl-row {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: row !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important; }
  .flex-xl-column {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: column !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important; }
  .flex-xl-row-reverse {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
    -webkit-flex-direction: row-reverse !important;
        -ms-flex-direction: row-reverse !important;
            flex-direction: row-reverse !important; }
  .flex-xl-column-reverse {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
    -webkit-flex-direction: column-reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important; }
  .flex-xl-wrap {
    -webkit-flex-wrap: wrap !important;
        -ms-flex-wrap: wrap !important;
            flex-wrap: wrap !important; }
  .flex-xl-nowrap {
    -webkit-flex-wrap: nowrap !important;
        -ms-flex-wrap: nowrap !important;
            flex-wrap: nowrap !important; }
  .flex-xl-wrap-reverse {
    -webkit-flex-wrap: wrap-reverse !important;
        -ms-flex-wrap: wrap-reverse !important;
            flex-wrap: wrap-reverse !important; }
  .justify-content-xl-start {
    -webkit-box-pack: start !important;
    -webkit-justify-content: flex-start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important; }
  .justify-content-xl-end {
    -webkit-box-pack: end !important;
    -webkit-justify-content: flex-end !important;
        -ms-flex-pack: end !important;
            justify-content: flex-end !important; }
  .justify-content-xl-center {
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important; }
  .justify-content-xl-between {
    -webkit-box-pack: justify !important;
    -webkit-justify-content: space-between !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important; }
  .justify-content-xl-around {
    -webkit-justify-content: space-around !important;
        -ms-flex-pack: distribute !important;
            justify-content: space-around !important; }
  .align-items-xl-start {
    -webkit-box-align: start !important;
    -webkit-align-items: flex-start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important; }
  .align-items-xl-end {
    -webkit-box-align: end !important;
    -webkit-align-items: flex-end !important;
        -ms-flex-align: end !important;
            align-items: flex-end !important; }
  .align-items-xl-center {
    -webkit-box-align: center !important;
    -webkit-align-items: center !important;
        -ms-flex-align: center !important;
            align-items: center !important; }
  .align-items-xl-baseline {
    -webkit-box-align: baseline !important;
    -webkit-align-items: baseline !important;
        -ms-flex-align: baseline !important;
            align-items: baseline !important; }
  .align-items-xl-stretch {
    -webkit-box-align: stretch !important;
    -webkit-align-items: stretch !important;
        -ms-flex-align: stretch !important;
            align-items: stretch !important; }
  .align-content-xl-start {
    -webkit-align-content: flex-start !important;
        -ms-flex-line-pack: start !important;
            align-content: flex-start !important; }
  .align-content-xl-end {
    -webkit-align-content: flex-end !important;
        -ms-flex-line-pack: end !important;
            align-content: flex-end !important; }
  .align-content-xl-center {
    -webkit-align-content: center !important;
        -ms-flex-line-pack: center !important;
            align-content: center !important; }
  .align-content-xl-between {
    -webkit-align-content: space-between !important;
        -ms-flex-line-pack: justify !important;
            align-content: space-between !important; }
  .align-content-xl-around {
    -webkit-align-content: space-around !important;
        -ms-flex-line-pack: distribute !important;
            align-content: space-around !important; }
  .align-content-xl-stretch {
    -webkit-align-content: stretch !important;
        -ms-flex-line-pack: stretch !important;
            align-content: stretch !important; }
  .align-self-xl-auto {
    -webkit-align-self: auto !important;
        -ms-flex-item-align: auto !important;
            align-self: auto !important; }
  .align-self-xl-start {
    -webkit-align-self: flex-start !important;
        -ms-flex-item-align: start !important;
            align-self: flex-start !important; }
  .align-self-xl-end {
    -webkit-align-self: flex-end !important;
        -ms-flex-item-align: end !important;
            align-self: flex-end !important; }
  .align-self-xl-center {
    -webkit-align-self: center !important;
        -ms-flex-item-align: center !important;
            align-self: center !important; }
  .align-self-xl-baseline {
    -webkit-align-self: baseline !important;
        -ms-flex-item-align: baseline !important;
            align-self: baseline !important; }
  .align-self-xl-stretch {
    -webkit-align-self: stretch !important;
        -ms-flex-item-align: stretch !important;
            align-self: stretch !important; } }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #525964; }

img {
  max-width: 100%; }

.page__wrap {
  overflow: hidden; }

.icon_beautiful {
  background-image: url(../image/sprite.png);
  background-position: 0px 0px;
  width: 60px;
  height: 47px; }

.icon_eco {
  background-image: url(../image/sprite.png);
  background-position: -47px -47px;
  width: 46px;
  height: 42px; }

.icon_energy {
  background-image: url(../image/sprite.png);
  background-position: -60px 0px;
  width: 58px;
  height: 41px; }

.icon_mute {
  background-image: url(../image/sprite.png);
  background-position: 0px -47px;
  width: 47px;
  height: 44px; }

.icon {
  display: inline-block;
  vertical-align: middle; }

.main-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #0d0a27;
  line-height: 1.1; }
  @media (min-width: 992px) {
    .main-title {
      line-height: 1.5; } }
  @media (min-width: 576px) {
    .main-title {
      font-size: 32px; } }

.btn {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: inline-block;
  cursor: pointer;
  border: 0 none;
  background: none;
  outline: none; }
  .btn_primary {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
    background-color: #ffbb00;
    padding: 1em 45px;
    -webkit-border-radius: 25px;
            border-radius: 25px; }
    .btn_primary:hover {
      background-color: #de9840; }
  .btn_orange {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
    background-color: #fe9200;
    -webkit-border-radius: 28px;
            border-radius: 28px; }

.field {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 56px;
  width: 100%;
  border: 1px solid #e9eef3;
  outline: none;
  -webkit-border-radius: 28px;
          border-radius: 28px;
  padding: 0 30px;
  color: #0e3b5b;
  font-size: 14px; }
  .field::-webkit-input-placeholder {
    color: #677079; }
  .field::-moz-placeholder {
    color: #677079; }
  .field:-ms-input-placeholder {
    color: #677079; }
  .field::placeholder {
    color: #677079; }
  .field:focus {
    border-color: #348edb; }

.checkbox input {
  display: none; }
  .checkbox input:checked + span svg {
    display: block; }

.checkbox span {
  position: relative;
  padding-left: 20px;
  display: inline-block; }
  .checkbox span:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    width: 11px;
    height: 11px;
    border: 1px solid #c9d6e3; }
  .checkbox span svg {
    display: none;
    position: absolute;
    top: 5px;
    left: 2px; }

.play {
  display: inline-block;
  text-align: center; }
  .play:hover .play__play:before {
    -webkit-animation: playanimb .7s ease-in-out alternate infinite;
            animation: playanimb .7s ease-in-out alternate infinite; }
  .play__play {
    position: relative;
    margin: 18px;
    display: inline-block; }
    .play_inline .play__play {
      display: inline-block;
      vertical-align: middle; }
    .play_big .play__play {
      margin: 40px; }
    .play__play:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      z-index: 1;
      width: 45px;
      height: 45px;
      -webkit-border-radius: 100%;
              border-radius: 100%;
      background-color: #0089e9; }
      .play_big .play__play:after {
        width: 96px;
        height: 96px; }
      .play_orange .play__play:after {
        background-color: #fe9200; }
    .play__play:before {
      content: '';
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 58px;
      height: 58px;
      -webkit-border-radius: 100%;
              border-radius: 100%;
      background-color: #0089e9;
      opacity: .5; }
      .play_big .play__play:before {
        width: 124px;
        height: 124px; }
      .play_orange .play__play:before {
        background-color: #fe9200; }
    .play__play span {
      position: relative;
      z-index: 3;
      display: block;
      margin-left: 5px;
      border-top: 10px solid transparent;
      border-left: 18px solid #fff;
      border-bottom: 10px solid transparent; }
      .play_big .play__play span {
        border-top-width: 23px;
        border-left-width: 40px;
        border-bottom-width: 23px; }
  .play__text {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 14px;
    display: block; }
    .play_inline .play__text {
      font-size: 18px;
      margin-left: 15px;
      display: inline-block; }
    .play_blue .play__text {
      color: #0089e9; }
    .play_big .play__text {
      margin-top: 15px;
      line-height: 1; }

@-webkit-keyframes playanimb {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1, 1);
            transform: translate(-50%, -50%) scale(1, 1);
    opacity: .5; }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1.2, 1.2);
            transform: translate(-50%, -50%) scale(1.2, 1.2);
    opacity: 0; } }

@keyframes playanimb {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(1, 1);
            transform: translate(-50%, -50%) scale(1, 1);
    opacity: .5; }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1.2, 1.2);
            transform: translate(-50%, -50%) scale(1.2, 1.2);
    opacity: 0; } }

.play2 {
  position: relative;
  display: inline-block; }
  .play2:hover:before {
    -webkit-animation: playanimb .7s ease-in-out alternate infinite;
            animation: playanimb .7s ease-in-out alternate infinite; }
  .play2:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: #e69926;
    width: 92px;
    height: 92px;
    -webkit-border-radius: 100%;
            border-radius: 100%; }
  .play2:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border: 1px solid #e69926;
    width: 125px;
    height: 125px;
    -webkit-border-radius: 100%;
            border-radius: 100%; }
  .play2 span {
    position: relative;
    z-index: 3;
    border-left: 34px solid #fff;
    border-top: 19px solid transparent;
    border-bottom: 19px solid transparent;
    margin-left: 7px;
    display: block; }

.link-line a {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #e69926;
  text-transform: uppercase;
  position: relative; }
  .link-line a:hover {
    color: #fe9200; }
    .link-line a:hover:after {
      -webkit-transform: translateX(10px);
          -ms-transform: translateX(10px);
              transform: translateX(10px); }
  .link-line a:after {
    content: '';
    vertical-align: middle;
    display: inline-block;
    margin-left: 15px;
    width: 40px;
    height: 2px;
    background-color: #e69926;
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: -webkit-transform .5s ease-in-out;
    -o-transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out; }

.prev {
  position: relative;
  display: inline-block;
  cursor: pointer;
  z-index: 5;
  position: absolute;
  margin-left: 15px;
  margin-right: 30px; }
  .prev:hover:not(.disabled) path {
    fill: #000; }
  .prev:hover:not(.disabled):after, .prev:hover:not(.disabled):before {
    background-color: #ffbb00; }
  .prev svg {
    position: relative;
    z-index: 2; }
  .prev path {
    fill: #fff; }
  .prev:after {
    content: '';
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: -60px;
    width: 100px;
    height: 135px;
    -webkit-border-radius: 0 67px 67px 0;
            border-radius: 0 67px 67px 0;
    background-color: #b6c3cc; }
  .prev:before {
    content: '';
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: -80px;
    width: 140px;
    height: 175px;
    -webkit-border-radius: 0 87px 87px 0;
            border-radius: 0 87px 87px 0;
    background-color: #b6c3cc;
    opacity: .6; }

.next {
  position: relative;
  display: inline-block;
  cursor: pointer;
  z-index: 5;
  position: absolute;
  margin-left: 30px;
  margin-right: 15px; }
  .next:hover:not(.disabled) path {
    fill: #000; }
  .next:hover:not(.disabled):after, .next:hover:not(.disabled):before {
    background-color: #ffbb00; }
  .next svg {
    position: relative;
    z-index: 2; }
  .next path {
    fill: #fff; }
  .next:after {
    content: '';
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: -60px;
    width: 100px;
    height: 135px;
    -webkit-border-radius: 67px 0 0 67px;
            border-radius: 67px 0 0 67px;
    background-color: #b6c3cc; }
  .next:before {
    content: '';
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: -80px;
    width: 140px;
    height: 175px;
    -webkit-border-radius: 87px 0 0 87px;
            border-radius: 87px 0 0 87px;
    background-color: #b6c3cc;
    opacity: .6; }

.arrow_prev, .arrow_next {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 54px;
  text-align: center;
  border: 2px solid #a4aebc;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .arrow_prev path, .arrow_next path {
    fill: #a4aebc; }
  .arrow_prev:hover, .arrow_next:hover {
    border-color: #fbba6a; }
    .arrow_prev:hover path, .arrow_next:hover path {
      fill: #fbba6a; }

.vantage {
  background-color: #f4f7f9;
  padding: 60px 0; }
  @media (min-width: 576px) {
    .vantage {
      padding: 120px 0; } }
  .vantage .main-title {
    margin-bottom: 15px; }
    @media (min-width: 576px) {
      .vantage .main-title {
        margin-bottom: 65px; } }
  .vantage__item-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    color: #0d0a27;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    min-height: 77px;
    margin-bottom: 40px;
    margin-top: 40px; }
    @media (min-width: 992px) {
      .vantage__item-title {
        margin-top: 0; } }
    .vantage__item-title svg {
      margin-right: 15px; }

.video {
  color: #fff;
  position: relative;
  overflow: hidden;
  padding: 50px 0 250px; }
  @media (min-width: 768px) {
    .video {
      padding: 150px 0 250px; } }
  @media (min-width: 992px) {
    .video {
      padding: 250px 0; } }
  .video:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: #11222d;
    opacity: .34; }
  .video video {
    opacity: .4 !important; }
  .video__overlay {
    position: relative;
    z-index: 5; }
  .video__title {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 52px;
    line-height: 1.1;
    margin-bottom: 30px; }
    @media (min-width: 768px) {
      .video__title {
        font-size: 65px; } }
    @media (min-width: 992px) {
      .video__title {
        font-size: 72px; } }
  .video p {
    font-size: 18px;
    line-height: 1.5;
    max-width: 540px; }
  .video .link-line {
    margin-top: 40px; }
    @media (min-width: 768px) {
      .video .link-line {
        margin-top: 80px; } }
  .video__play-wrap {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    z-index: 5;
    text-align: center; }
    @media (min-width: 576px) {
      .video__play-wrap {
        text-align: right;
        bottom: 75px; } }

.how-build {
  padding: 50px 0; }
  @media (min-width: 768px) {
    .how-build {
      padding: 110px 0; } }
  .how-build .main-title {
    margin-bottom: 20px; }
    @media (min-width: 768px) {
      .how-build .main-title {
        margin-bottom: 40px; } }
  .how-build__item {
    position: relative;
    max-width: 180px;
    padding-left: 10px;
    padding-top: 15px;
    margin: 10px auto; }
    .how-build__item:hover:after {
      background-color: #fe9200; }
    .how-build__item > div {
      position: relative;
      z-index: 2; }
    .how-build__item:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 103px;
      height: 133px;
      background-color: #e5edeb; }
  .how-build__num {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: #fff; }
  .how-build__svg-wrap {
    min-height: 89px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: relative;
    top: -20px;
    margin-left: 50px; }
  .how-build__text {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #0d0a27;
    margin-top: 20px;
    margin-left: 15px; }

.withus {
  padding: 80px 0 60px;
  background-color: #f4f7f9; }
  .withus .main-title {
    line-height: 1.2;
    margin-bottom: 60px; }
  .withus p {
    margin: 15px 0; }

.news {
  padding: 90px 0 60px; }
  .news .main-title {
    margin-bottom: 40px; }
  .news__item {
    margin-bottom: 10px; }
  .news__preview {
    height: 235px;
    display: block;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    background-position: 50% 50%; }
  .news__date {
    margin-top: 15px;
    color: #fff;
    padding: 3px 10px;
    background-color: #0d0a27;
    font-size: 12px;
    display: inline-block; }
  .news__item-title {
    margin: 15px 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 700; }
    .news__item-title a {
      color: #0d0a27; }
      .news__item-title a:hover {
        color: #0089e9; }
  .news p {
    margin: 10px 0; }
  .news__link {
    display: inline-block;
    margin-top: 20px;
    color: #2d3b55; }
    .news__link:hover {
      color: #0089e9; }
      .news__link:hover path {
        fill: #0089e9 !important; }

.press {
  background-color: #f4f7f9;
  padding: 75px 0 55px; }
  .press .main-title {
    margin-bottom: 60px; }
  .press__item {
    padding: 20px 25px 40px;
    background-color: #fff;
    margin: 0 0 30px; }
  .press .hr {
    height: 1px;
    background-color: #dbe1e5;
    margin: 20px 0; }
  .press__text {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #0d0a27; }
    .press__text:hover {
      color: #0089e9; }
  .press__link-wrap {
    margin-top: 40px;
    text-align: right; }
  .press__link {
    color: #2d3b55; }
    .press__link:hover {
      color: #0089e9; }
      .press__link:hover path {
        fill: #0089e9 !important; }
  .press__link-line-wrap {
    margin-top: 40px;
    text-align: right; }

.vantage-tooltip__item {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  position: relative; }
  .vantage-tooltip__item:after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    margin-bottom: 7px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 5;
    display: none;
    background-color: #fff;
    padding: 5px 10px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #0d0a27;
    -webkit-box-shadow: 0 4px 29px rgba(2, 2, 2, 0.25);
            box-shadow: 0 4px 29px rgba(2, 2, 2, 0.25); }
    @media (min-width: 576px) {
      .vantage-tooltip__item:after {
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        left: 100%;
        margin-left: 7px;
        bottom: auto;
        margin-bottom: 0; } }
  .vantage-tooltip__item:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 100%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    border-top: 7px solid #fff;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    z-index: 6;
    display: none; }
    @media (min-width: 576px) {
      .vantage-tooltip__item:before {
        left: 100%;
        top: 50%;
        bottom: auto;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        border-right: 7px solid #fff;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 0 none; } }
  .vantage-tooltip__item:hover:after, .vantage-tooltip__item:hover:before {
    display: block; }
  .vantage-tooltip__item:hover path {
    fill: #1c1b2e; }
  .vantage-tooltip__item path {
    fill: #c2d3d8; }

.composition {
  padding-top: 50px; }
  @media (min-width: 768px) {
    .composition {
      padding-top: 120px; } }
  .composition .main-title {
    margin-bottom: 35px; }
    @media (min-width: 768px) {
      .composition .main-title {
        margin-bottom: 55px; } }
  .composition__item {
    position: relative;
    margin-bottom: 50px; }
    @media (min-width: 768px) {
      .composition__item {
        margin-bottom: 100px; } }
    .composition__item_l .composition__img {
      margin: 15px 0; }
      @media (min-width: 992px) {
        .composition__item_l .composition__img {
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
                  transform: translateY(-50%);
          left: 100%;
          margin: 0 0 0 30px; } }
    .composition__item_r .composition__img {
      margin: 15px 0; }
      @media (min-width: 992px) {
        .composition__item_r .composition__img {
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
                  transform: translateY(-50%);
          right: 100%;
          margin: 0 30px 0 0; } }
  .composition__item-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #0d0a27;
    font-size: 24px;
    margin-bottom: 15px; }
    @media (min-width: 768px) {
      .composition__item-title {
        margin-bottom: 35px; } }
  .composition__item-subtitle {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #0d0a27;
    font-size: 16px;
    margin-top: 25px;
    margin-bottom: 15px; }
    @media (min-width: 768px) {
      .composition__item-subtitle {
        margin-top: 40px;
        margin-bottom: 30px; } }
  .composition__btn-wrap {
    margin-top: 40px;
    text-align: center; }
    .composition__btn-wrap > br {
      display: block; }
      @media (min-width: 576px) {
        .composition__btn-wrap > br {
          display: none; } }
      @media (min-width: 992px) {
        .composition__btn-wrap > br {
          display: block; } }
      @media (min-width: 1200px) {
        .composition__btn-wrap > br {
          display: none; } }
    @media (min-width: 576px) {
      .composition__btn-wrap {
        text-align: left; } }
  .composition .btn {
    background-color: #fe9200;
    padding: 1.1em 70px; }
  .composition .play {
    margin-left: -15px;
    margin-top: 10px; }
    @media (min-width: 576px) {
      .composition .play {
        margin-left: 15px; } }
    @media (min-width: 992px) {
      .composition .play {
        margin-left: 0; } }
    @media (min-width: 1200px) {
      .composition .play {
        margin-left: 15px; } }

.total {
  overflow: hidden;
  background-image: url(../image/total-bg.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: 50% 50%; }
  .total .main-title {
    line-height: 1;
    margin-bottom: 15px; }
  .total__desc {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #0d0a27; }
  .total__wrap {
    padding: 75px 0;
    position: relative; }
  .total__img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    margin-left: 30px;
    width: 965px;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    background-position: 50% 50%;
    display: none; }
    @media (min-width: 1200px) {
      .total__img {
        display: block; } }
  .total__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .total__item {
    margin-top: 70px;
    padding-right: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%; }
    @media (min-width: 576px) {
      .total__item {
        width: 50%; } }
    .total__item .icon {
      margin-bottom: 30px; }
  .total__item-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #0d0a27;
    text-transform: uppercase; }

.top-sale {
  background-image: url(../image/top-sale-bg.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: 50% 50%; }
  .top-sale__wrap {
    padding: 60px 0;
    position: relative; }
    @media (min-width: 992px) {
      .top-sale__wrap {
        padding: 120px 0 140px; } }
  .top-sale__title {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #0d0a27;
    font-size: 30px;
    line-height: 1.1; }
    @media (min-width: 992px) {
      .top-sale__title {
        font-size: 40px; } }
    .top-sale__title span {
      font-size: 36px; }
      @media (min-width: 992px) {
        .top-sale__title span {
          font-size: 48px; } }
    .top-sale__title b {
      font-size: 50px;
      line-height: 1;
      color: #ffbb00; }
      @media (min-width: 992px) {
        .top-sale__title b {
          font-size: 97px; } }
  .top-sale p {
    margin: 30px 0; }
    @media (min-width: 992px) {
      .top-sale p {
        margin: 60px 0; } }
  .top-sale__nav {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fff;
    padding: 20px; }
  .top-sale__count {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #dfe3e7;
    font-size: 24px;
    margin: 0 10px; }
    .top-sale__count span {
      color: #0d0a27; }
  .top-sale__next, .top-sale__prev {
    cursor: pointer; }
    .top-sale__next:hover path, .top-sale__prev:hover path {
      fill: #0c3252; }
    .top-sale__next path, .top-sale__prev path {
      fill: #e8ebee; }
  .top-sale__slider {
    display: none; }
    @media (min-width: 768px) {
      .top-sale__slider {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 100%;
        margin-top: 0;
        margin-left: 30px; } }
  .top-sale__carousel-item {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    background-position: 50% 50%; }

.project-card {
  padding: 0 30px;
  position: relative;
  display: block; }
  .project-card__vendor-code {
    position: absolute;
    left: 100%;
    margin-left: -5px;
    -webkit-transform-origin: left top 0;
        -ms-transform-origin: left top 0;
            transform-origin: left top 0;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    font-size: 18px;
    color: #203b4e;
    text-transform: uppercase;
    white-space: nowrap; }
  .project-card__preview {
    width: 260px;
    height: 230px;
    display: block;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    background-position: 50% 50%; }
    @media (min-width: 576px) {
      .project-card__preview {
        width: 305px; } }
  .project-card__bottom {
    margin-top: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .project-card__price {
    color: #778086;
    font-size: 11px; }
    .project-card__price span {
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      font-size: 18px;
      color: #0089e9; }
  .project-card__area {
    margin-left: 40px;
    color: #778086;
    font-size: 11px; }
    .project-card__area span {
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      font-size: 18px;
      color: #2e373d; }
    .project-card__area sup {
      font-size: .6em;
      position: relative;
      top: -.6em; }

.project-list {
  padding: 100px 0 50px; }
  .project-list .main-title {
    margin-bottom: 70px; }
  .project-list .frame {
    overflow: hidden; }
    .project-list .frame .slidee {
      height: 100%; }
  .project-list .project-card {
    height: 100%;
    float: left; }
  .project-list__slider {
    position: relative;
    overflow: hidden; }
    .project-list__slider .prev {
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); }
    .project-list__slider .next {
      right: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); }
  .project-list__btn-wrap {
    margin-top: 70px;
    text-align: right; }

.project-grid {
  padding-top: 70px;
  padding-bottom: 20px; }
  .project-grid .main-title {
    margin-bottom: 70px; }
  .project-grid .project-card {
    padding-left: 0;
    margin-bottom: 80px; }
    .project-grid .project-card__preview {
      width: auto; }
    .project-grid .project-card__vendor-code {
      margin-left: 5px; }
  .project-grid__link-wrap {
    text-align: right;
    margin-bottom: 60px; }

.overview {
  padding: 75px 0 100px; }
  .overview .main-title {
    margin-bottom: 60px;
    line-height: 1.1; }
  .overview__them-label {
    margin-bottom: 15px; }
  .overview__themes {
    margin-bottom: 50px; }
    .overview__themes li {
      display: inline-block;
      margin-right: 10px; }
      .overview__themes li.active a, .overview__themes li:hover a {
        background-color: #fe9200; }
    .overview__themes a {
      display: inline-block;
      font-size: 13px;
      background-color: #0089e9;
      padding: .2em 10px .4em;
      line-height: 1;
      white-space: nowrap;
      color: #fff; }
  .overview__question {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #0d0a27;
    margin-bottom: 30px; }
  .overview__answer {
    margin-bottom: 40px; }
  .overview__theme-item {
    position: absolute;
    z-index: 0;
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out; }
    .overview__theme-item.active {
      z-index: 3;
      opacity: 1; }
  .overview__img-wrap {
    display: none; }
    @media (min-width: 992px) {
      .overview__img-wrap {
        display: block; } }

.partner {
  background-color: #f4f7f9;
  padding: 80px 0 40px; }
  .partner .main-title {
    margin-bottom: 20px; }
  .partner__slider {
    position: relative;
    min-height: 55px;
    margin-top: 50px;
    margin-bottom: 50px; }
    .partner__slider .prev {
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); }
    .partner__slider .next {
      right: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); }
  .partner .frame {
    width: 100%; }
    .partner .frame img {
      -webkit-filter: url("grayscale.svg#greyscale");
              filter: url("grayscale.svg#greyscale");
      -webkit-filter: gray;
              filter: gray; }
      .partner .frame img:hover {
        filter: none;
        -webkit-filter: none;
        -moz-filter: none;
        -ms-filter: none;
        -o-filter: none; }
    .partner .frame .slidee {
      height: 100%; }
  .partner__item {
    float: left;
    padding: 0 10px;
    width: 300px; }

.panel {
  padding: 60px 0 50px;
  background-color: #f5f5f9; }
  .panel .main-title {
    margin-bottom: 65px; }
  .panel__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px; }
  .panel__inner {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    background-color: #fff;
    position: relative;
    padding: 20px; }
    @media (min-width: 576px) {
      .panel__inner {
        padding-left: 100px;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-right: 30px; } }
    @media (min-width: 992px) {
      .panel__inner {
        padding-left: 150px;
        padding-top: 65px;
        padding-bottom: 65px;
        padding-right: 95px; } }
    .panel__inner:hover {
      -webkit-box-shadow: 0 4px 70px rgba(2, 2, 2, 0.15);
              box-shadow: 0 4px 70px rgba(2, 2, 2, 0.15); }
    .panel__inner .icon {
      margin-bottom: 15px; }
      @media (min-width: 576px) {
        .panel__inner .icon {
          margin-bottom: 0;
          -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
          position: absolute;
          top: 50%;
          left: 50px; } }
      @media (min-width: 992px) {
        .panel__inner .icon {
          left: 90px; } }
  .panel__item-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #0d0a27;
    text-transform: uppercase; }

.whatis {
  padding: 90px 0; }
  .whatis p {
    font-size: 18px;
    line-height: 1.5;
    color: #0d0a27;
    margin: 30px 0; }
  .whatis__video-wrap {
    height: 250px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 25px 70px rgba(53, 67, 83, 0.15);
            box-shadow: 0 25px 70px rgba(53, 67, 83, 0.15);
    position: relative;
    overflow: hidden;
    margin-top: 40px; }
    @media (min-width: 992px) {
      .whatis__video-wrap {
        margin-top: 0; } }
    @media (min-width: 576px) {
      .whatis__video-wrap {
        height: 300px; } }
    @media (min-width: 768px) {
      .whatis__video-wrap {
        height: 425px; } }
    .whatis__video-wrap video {
      opacity: .73; }
    .whatis__video-wrap .play2 {
      position: absolute;
      z-index: 3;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }

.table {
  padding: 100px 0; }
  .table .main-title {
    margin-bottom: 50px; }
  .table .table-container {
    width: 100%;
    overflow-y: hidden; }
  .table table {
    width: 100%; }
    .table table th {
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      text-align: left;
      font-size: 13px;
      color: #203b4e;
      vertical-align: middle;
      padding: 16px 30px;
      border-top: 1px solid #dce1e9;
      border-right: 1px solid #dce1e9;
      border-bottom: 1px solid #dce1e9; }
    .table table td {
      vertical-align: middle;
      padding: 10px 30px;
      border: 1px solid #dce1e9; }
      .table table td:last-child {
        border-right: 0 none; }
    .table table tr:first-child td, .table table tr:first-child th {
      border-top: 0 none; }
    .table table tr:last-child td, .table table tr:last-child th {
      border-bottom: 0 none; }
  .table__data {
    font-size: 14px;
    color: #5c7485; }
    .table__data_ex {
      font-family: "Open Sans", sans-serif;
      font-weight: 800; }
    .table__data_b {
      font-family: "Open Sans", sans-serif;
      font-weight: 700; }
    .table__data_fz16 {
      font-size: 16px; }
    .table__data_color-primary {
      color: #0d0a27; }
    .table__data_color-blue {
      color: #2779b3; }
    .table__data_color-red {
      color: #e44014; }
    .table__data_color-green {
      color: #24d311; }
    .table__data_color-orange {
      color: #d78118; }

.faq {
  padding: 60px 0;
  background-color: #f5f5f9; }
  .faq .main-title {
    margin-bottom: 30px; }

.accordion__head {
  padding: 40px 20px;
  font-size: 20px;
  color: #0d0a27;
  outline: none;
  position: relative;
  cursor: pointer; }
  .accordion__head:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    height: 1px;
    background-color: #b9b9bd; }
  .accordion__head.ui-accordion-header-active {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    background-color: #fff; }

.accordion__arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 20px;
  width: 32px;
  height: 32px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  background-color: #fff;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  -o-transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out; }
  .ui-accordion-header-active .accordion__arrow {
    -webkit-transform: translateY(-50%) rotate(180deg);
        -ms-transform: translateY(-50%) rotate(180deg);
            transform: translateY(-50%) rotate(180deg); }
    .ui-accordion-header-active .accordion__arrow:after {
      border-top-color: #fbba6a; }
  .accordion__arrow:after {
    content: '';
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: 50%;
    margin-top: 1px;
    border-top: 7px solid #000;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    -webkit-transition: border-top-color .5s ease-in-out;
    -o-transition: border-top-color .5s ease-in-out;
    transition: border-top-color .5s ease-in-out; }

.accordion__body {
  padding: 30px 20px;
  background-color: #fff; }
  .accordion__body h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #0d0a27;
    font-size: 18px;
    margin-bottom: 20px; }
  .accordion__body p {
    margin: 20px 0;
    line-height: 1.71429; }

.download-comparison {
  background-image: url(../image/download-comparison-bg.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: 50% 50%;
  padding: 80px 0;
  color: #fff; }
  .download-comparison__wrap {
    position: relative; }
  .download-comparison__img {
    display: none; }
    @media (min-width: 576px) {
      .download-comparison__img {
        display: block;
        max-width: 200px;
        position: absolute;
        top: -40px;
        left: -50px; } }
    @media (min-width: 992px) {
      .download-comparison__img {
        top: -150px;
        left: 100%;
        margin-left: -100px;
        max-width: none; } }
  .download-comparison__title {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
    text-transform: uppercase;
    padding-left: 0; }
    @media (min-width: 576px) {
      .download-comparison__title {
        padding-left: 150px;
        font-size: 36px; } }
    @media (min-width: 992px) {
      .download-comparison__title {
        padding-left: 0; } }
  .download-comparison__desc {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.4;
    padding: 25px 0 35px; }
  .download-comparison__form-line {
    max-width: 505px; }
    @media (min-width: 576px) {
      .download-comparison__form-line {
        -webkit-border-radius: 26px;
                border-radius: 26px;
        background-color: #2472b1;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
  .download-comparison__field {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 16px;
    background: none;
    border: 0 none;
    color: #fff;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    outline: none;
    padding: 0 20px 0 20px;
    height: 51px;
    background-color: #2472b1;
    -webkit-border-radius: 26px;
            border-radius: 26px;
    width: 100%; }
    @media (min-width: 576px) {
      .download-comparison__field {
        padding: 0 20px 0 50px; } }
    .download-comparison__field::-webkit-input-placeholder {
      opacity: .8;
      color: #fff; }
    .download-comparison__field::-moz-placeholder {
      opacity: .8;
      color: #fff; }
    .download-comparison__field:-ms-input-placeholder {
      opacity: .8;
      color: #fff; }
    .download-comparison__field::placeholder {
      opacity: .8;
      color: #fff; }
  .download-comparison__btn {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    background-color: #fff;
    height: 51px;
    color: #0d0a27;
    font-size: 14px;
    text-align: center;
    border: 0 none;
    -webkit-border-radius: 26px;
            border-radius: 26px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
    width: 100%;
    margin-top: 10px; }
    @media (min-width: 576px) {
      .download-comparison__btn {
        margin-top: 0;
        width: 180px; } }

.top-build {
  color: #fff;
  position: relative;
  padding-top: 100px; }
  .top-build:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 75px;
    left: 0;
    right: 0;
    background-image: url(../image/top-build-bg.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    background-position: 50% 50%; }
  .top-build__wrap {
    position: relative;
    z-index: 2; }
  .top-build__title {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 20px; }
    @media (min-width: 576px) {
      .top-build__title {
        font-size: 36px; } }
    @media (min-width: 768px) {
      .top-build__title {
        font-size: 48px; } }
    @media (min-width: 992px) {
      .top-build__title {
        margin-bottom: 50px;
        font-size: 54px;
        line-height: 1; } }
  .top-build p {
    font-size: 16px;
    line-height: 1.5; }
  .top-build__form {
    background-color: #fff;
    margin-top: 40px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
            box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
    color: #203b4e;
    padding-top: 40px;
    padding-bottom: 20px; }
    @media (min-width: 768px) {
      .top-build__form {
        margin-top: 75px; } }
  @media (min-width: 576px) {
    .top-build__form-wrap {
      padding-left: 25px;
      padding-right: 25px; } }
  .top-build__form-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase; }
    @media (min-width: 576px) {
      .top-build__form-title {
        font-size: 16px; } }
  .top-build .form-line {
    margin-top: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    @media (min-width: 992px) {
      .top-build .form-line {
        -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
                flex-wrap: nowrap; } }
  .top-build .form-group {
    width: 100%;
    margin-top: 20px; }
    @media (min-width: 576px) {
      .top-build .form-group {
        width: 50%;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }
        .top-build .form-group:nth-child(1), .top-build .form-group:nth-child(3) {
          padding-right: 10px; }
        .top-build .form-group:nth-child(2), .top-build .form-group:nth-child(4) {
          padding-left: 10px; } }
    @media (min-width: 992px) {
      .top-build .form-group {
        width: 25%; } }
  @media (min-width: 992px) {
    .top-build .form-group + .form-group {
      margin-left: 30px; } }
  .top-build .label {
    display: block;
    font-size: 12px;
    margin-bottom: 5px; }
  .top-build .btn {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    height: 56px;
    width: 100%; }
  .top-build .checkbox {
    margin-top: 20px;
    display: block; }

.bottom-form {
  padding: 55px 0;
  background-image: url(../image/bottom-form-bg.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: 50% 50%; }
  .bottom-form__form-wrap {
    position: relative; }
    .bottom-form__form-wrap:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #fff;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      -webkit-box-shadow: 0 3px 27px rgba(2, 2, 2, 0.15);
              box-shadow: 0 3px 27px rgba(2, 2, 2, 0.15); }
      @media (min-width: 992px) {
        .bottom-form__form-wrap:after {
          right: -50px; } }
  .bottom-form__inner {
    position: relative;
    z-index: 2;
    padding: 30px 15px; }
    @media (min-width: 576px) {
      .bottom-form__inner {
        padding: 40px; } }
    @media (min-width: 992px) {
      .bottom-form__inner {
        padding: 50px 40px 50px 50px; } }
  .bottom-form__desc {
    margin: 5px 0 15px;
    color: #0d0a27;
    font-size: 14px;
    line-height: 1.2; }
  .bottom-form__img {
    display: none;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    background-position: 50% 50%;
    margin-left: 20px;
    height: 490px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 4px 59px rgba(2, 2, 2, 0.15);
            box-shadow: 0 4px 59px rgba(2, 2, 2, 0.15); }
    @media (min-width: 992px) {
      .bottom-form__img {
        display: block; } }
  .bottom-form .form-line {
    margin-bottom: 15px; }
  .bottom-form .btn {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-border-radius: 32px;
            border-radius: 32px;
    margin-top: 15px;
    height: 63px;
    width: 100%; }

.moreinfo {
  padding: 100px 0; }
  .moreinfo .main-title {
    margin-bottom: 30px; }
  .moreinfo p {
    font-size: 16px;
    line-height: 1.5;
    margin: 20px 0; }
  .moreinfo__nav {
    margin-top: 30px;
    margin-bottom: 30px; }
  .moreinfo .arrow_next {
    margin-left: 5px; }
  @media (min-width: 992px) {
    .moreinfo .owl-carousel {
      max-width: 350px; } }
  .moreinfo__preview {
    height: 250px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    margin-bottom: 35px;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    background-position: 50% 50%; }
    @media (min-width: 768px) {
      .moreinfo__preview {
        height: 450px; } }
  .moreinfo__item-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.1; }
    .moreinfo__item-title a {
      color: #33373d; }
  .moreinfo__item p {
    font-size: 14px;
    line-height: 1.5;
    margin: 15px 0; }

/*# sourceMappingURL=main.css.map */
