.moreinfo
  padding: 100px 0
  .main-title
    margin-bottom: 30px
  p
    font-size: 16px
    line-height: (24/16)
    margin: 20px 0

  &__nav
    margin-top: 30px
    margin-bottom: 30px

  .arrow_next
    margin-left: 5px

  .owl-carousel
    +media-breakpoint-up(lg)
      max-width: 350px



  &__preview
    height: 250px
    border-radius: 5px
    margin-bottom: 35px
    +cover
    +media-breakpoint-up(md)
      height: 450px

  &__item-title
    +ob
    font-size: 16px
    line-height: 1.1
    a
      color: #33373d

  &__item
    p
      font-size: 14px
      line-height: (21/14)
      margin: 15px 0