mixin vantage()
  +b.SECTION.vantage&attributes(attributes)
    .container
      .row
        .col
          h2.main-title Почему нас выбирают заказчики
      .row
        .col-lg-4
          +e.item-title
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='77px', height='78px')
              path(fill-rule='evenodd', fill='rgb(254, 146, 0)', d='M60.933,77.098 C52.240,77.098 45.168,70.026 45.168,61.333 C45.168,52.639 52.240,45.567 60.933,45.567 C69.627,45.567 76.698,52.639 76.698,61.333 C76.698,70.026 69.627,77.098 60.933,77.098 ZM60.933,48.195 C53.689,48.195 47.796,54.089 47.796,61.333 C47.796,68.577 53.689,74.470 60.933,74.470 C68.177,74.470 74.071,68.577 74.071,61.333 C74.071,54.089 68.177,48.195 60.933,48.195 ZM68.816,62.647 L60.933,62.647 C60.207,62.647 59.620,62.059 59.620,61.333 L59.620,53.450 C59.620,52.723 60.207,52.136 60.933,52.136 C61.660,52.136 62.247,52.723 62.247,53.450 L62.247,60.018 L68.816,60.018 C69.542,60.018 70.130,60.606 70.130,61.333 C70.130,62.059 69.542,62.647 68.816,62.647 ZM35.972,54.764 L35.972,66.588 L24.148,66.588 L21.521,66.588 L9.697,66.588 L9.697,54.764 L9.697,52.136 L9.697,42.940 L9.697,40.312 L9.697,28.489 L21.521,28.489 L24.148,28.489 L33.344,28.489 L35.972,28.489 L45.168,28.489 L47.796,28.489 L59.620,28.489 L59.620,42.940 L47.796,42.940 L45.168,42.940 L35.972,42.940 L35.972,52.136 L35.972,54.764 ZM21.521,31.116 L12.324,31.116 L12.324,40.312 L21.521,40.312 L21.521,31.116 ZM21.521,42.940 L12.324,42.940 L12.324,52.136 L21.521,52.136 L21.521,42.940 ZM21.521,54.764 L12.324,54.764 L12.324,63.960 L21.521,63.960 L21.521,54.764 ZM33.344,31.116 L24.148,31.116 L24.148,40.312 L33.344,40.312 L33.344,31.116 ZM33.344,42.940 L24.148,42.940 L24.148,52.136 L33.344,52.136 L33.344,42.940 ZM33.344,54.764 L24.148,54.764 L24.148,63.960 L33.344,63.960 L33.344,54.764 ZM47.796,40.312 L56.992,40.312 L56.992,31.116 L47.796,31.116 L47.796,40.312 ZM45.168,40.312 L45.168,31.116 L35.972,31.116 L35.972,40.312 L45.168,40.312 ZM67.502,40.312 C66.776,40.312 66.188,39.725 66.188,38.999 L66.188,21.920 L3.128,21.920 L3.128,73.156 L43.854,73.156 C44.581,73.156 45.168,73.743 45.168,74.470 C45.168,75.196 44.581,75.784 43.854,75.784 L1.814,75.784 C1.088,75.784 0.500,75.196 0.500,74.470 L0.500,20.606 L0.500,7.468 C0.500,6.742 1.088,6.155 1.814,6.155 L8.383,6.155 L8.383,2.213 C8.383,1.486 8.970,0.900 9.697,0.900 L18.893,0.900 C19.620,0.900 20.207,1.486 20.207,2.213 L20.207,6.155 L49.109,6.155 L49.109,2.213 C49.109,1.486 49.697,0.900 50.423,0.900 L59.620,0.900 C60.346,0.900 60.933,1.486 60.933,2.213 L60.933,6.155 L67.502,6.155 C68.229,6.155 68.816,6.742 68.816,7.468 L68.816,20.606 L68.816,38.999 C68.816,39.725 68.229,40.312 67.502,40.312 ZM17.579,7.468 L17.579,3.527 L11.011,3.527 L11.011,7.468 L11.011,11.409 L17.579,11.409 L17.579,7.468 ZM58.306,7.468 L58.306,3.527 L51.737,3.527 L51.737,7.468 L51.737,11.409 L58.306,11.409 L58.306,7.468 ZM66.188,8.782 L60.933,8.782 L60.933,12.724 C60.933,13.450 60.346,14.037 59.620,14.037 L50.423,14.037 C49.697,14.037 49.109,13.450 49.109,12.724 L49.109,8.782 L20.207,8.782 L20.207,12.724 C20.207,13.450 19.620,14.037 18.893,14.037 L9.697,14.037 C8.970,14.037 8.383,13.450 8.383,12.724 L8.383,8.782 L3.128,8.782 L3.128,19.292 L66.188,19.292 L66.188,8.782 Z')

            span Высокое качество<br>и срок службы
          p Новейшие технологии производства материалов контроль качества обеспечивают надежность и долговечность домов и сооружений, построенных по технологии БЭНПАН. Срок службы дома по сертификату более 50 лет.

        .col-lg-4
          +e.item-title
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='70px', height='74px')
              path(fill-rule='evenodd', fill='rgb(254, 146, 0)', d='M68.998,20.442 C68.774,20.803 68.379,21.025 67.954,21.025 L54.445,21.025 L54.445,27.324 C56.561,27.870 58.129,29.797 58.129,32.083 C58.129,34.794 55.926,36.999 53.217,36.999 C50.508,36.999 48.305,34.794 48.304,32.083 C48.304,31.406 48.855,30.855 49.532,30.855 C50.210,30.855 50.760,31.406 50.760,32.083 C50.760,33.438 51.862,34.541 53.217,34.541 C54.571,34.541 55.673,33.438 55.673,32.083 C55.673,30.728 54.571,29.626 53.217,29.626 C52.539,29.626 51.989,29.075 51.989,28.397 L51.989,21.025 L23.758,21.025 L23.758,41.901 C23.758,41.905 23.759,41.910 23.759,41.914 C23.759,41.918 23.758,41.922 23.758,41.927 L23.758,71.405 L31.112,71.405 C31.789,71.405 32.340,71.955 32.340,72.634 C32.340,73.311 31.789,73.863 31.112,73.863 L22.530,73.863 L10.234,73.863 L1.638,73.863 C0.960,73.863 0.410,73.311 0.410,72.634 C0.410,71.955 0.960,71.404 1.638,71.404 L9.006,71.404 L9.006,22.275 C9.006,22.274 9.006,22.274 9.006,22.274 L9.006,21.024 L5.322,21.024 C4.644,21.024 4.094,20.473 4.094,19.795 L4.094,7.507 C4.094,6.829 4.644,6.279 5.322,6.279 L9.006,6.279 L9.006,3.820 C9.006,3.410 9.211,3.026 9.553,2.799 L13.237,0.341 C13.438,0.207 13.677,0.134 13.919,0.134 L18.831,0.134 C19.073,0.134 19.309,0.205 19.510,0.339 L23.209,2.797 C23.552,3.024 23.758,3.410 23.758,3.820 L23.758,6.279 L61.814,6.279 C61.816,6.279 61.818,6.280 61.821,6.280 C61.872,6.280 61.923,6.283 61.975,6.291 C61.986,6.293 61.996,6.294 62.007,6.296 C62.048,6.302 62.088,6.311 62.128,6.321 C62.141,6.325 62.153,6.327 62.166,6.331 C62.212,6.345 62.259,6.362 62.304,6.382 C62.316,6.387 62.328,6.394 62.340,6.399 C62.371,6.414 62.402,6.431 62.433,6.449 C62.452,6.460 62.470,6.471 62.489,6.484 C62.498,6.489 62.508,6.495 62.517,6.501 C62.531,6.510 62.544,6.522 62.558,6.533 C62.575,6.546 62.593,6.558 62.609,6.573 C62.644,6.602 62.678,6.634 62.709,6.667 C62.720,6.679 62.730,6.691 62.740,6.703 C62.764,6.731 62.786,6.758 62.807,6.788 C62.817,6.801 62.826,6.815 62.835,6.828 C62.863,6.870 62.889,6.913 62.911,6.958 C62.912,6.959 62.912,6.959 62.912,6.959 L69.052,19.247 C69.242,19.628 69.222,20.080 68.998,20.442 ZM9.006,8.736 L6.550,8.736 L6.550,18.566 L9.006,18.566 L9.006,8.736 ZM19.331,71.405 L16.390,68.756 L13.449,71.405 L19.331,71.405 ZM12.290,22.312 L16.390,25.594 L20.476,22.324 L16.375,19.452 L12.290,22.312 ZM20.375,13.651 L16.375,10.850 L12.375,13.652 L16.375,16.452 L20.375,13.651 ZM12.215,32.083 L16.390,35.425 L20.564,32.083 L16.390,28.741 L12.215,32.083 ZM12.215,41.914 L16.390,45.255 L20.564,41.914 L16.390,38.572 L12.215,41.914 ZM12.215,51.745 L16.390,55.086 L20.564,51.745 L16.390,48.403 L12.215,51.745 ZM12.146,61.630 L16.390,65.452 L20.633,61.630 L16.390,58.232 L12.146,61.630 ZM11.463,69.889 L14.555,67.104 L11.463,64.319 L11.463,69.889 ZM11.463,59.030 L14.424,56.660 L11.463,54.289 L11.463,59.030 ZM11.463,49.200 L14.424,46.829 L11.463,44.458 L11.463,49.200 ZM11.463,39.369 L14.424,36.999 L11.463,34.628 L11.463,39.369 ZM11.463,29.539 L14.424,27.168 L11.463,24.797 L11.463,29.539 ZM11.463,19.893 L14.234,17.953 L11.463,16.011 L11.463,19.893 ZM11.463,11.291 L14.234,9.350 L11.463,7.409 L11.463,11.291 ZM18.460,2.592 L14.291,2.592 L11.512,4.446 L16.375,7.852 L21.243,4.442 L18.460,2.592 ZM21.302,7.399 L18.515,9.350 L21.302,11.303 L21.302,7.399 ZM21.302,16.001 L18.515,17.953 L21.302,19.904 L21.302,16.001 ZM21.302,24.810 L18.355,27.168 L21.302,29.527 L21.302,24.810 ZM21.302,34.640 L18.355,36.999 L21.302,39.357 L21.302,34.640 ZM21.302,44.470 L18.355,46.829 L21.302,49.188 L21.302,44.470 ZM21.302,54.301 L18.355,56.660 L21.302,59.018 L21.302,54.301 ZM21.302,64.332 L18.225,67.104 L21.302,69.875 L21.302,64.332 ZM59.456,18.567 L57.515,15.793 L55.574,18.567 L59.456,18.567 ZM50.677,18.567 L48.319,15.619 L45.962,18.567 L50.677,18.567 ZM40.852,18.567 L38.495,15.619 L36.138,18.567 L40.852,18.567 ZM31.028,18.567 L28.670,15.619 L26.313,18.567 L31.028,18.567 ZM23.758,17.829 L27.098,13.652 L23.758,9.475 L23.758,17.829 ZM26.313,8.737 L28.671,11.685 L31.028,8.737 L26.313,8.737 ZM30.243,13.652 L33.583,17.829 L36.922,13.652 L33.582,9.476 L30.243,13.652 ZM36.138,8.737 L38.495,11.685 L40.852,8.737 L36.138,8.737 ZM40.068,13.652 L43.407,17.829 L46.747,13.652 L43.408,9.476 L40.068,13.652 ZM45.962,8.737 L48.319,11.685 L50.677,8.737 L45.962,8.737 ZM49.892,13.652 L53.158,17.737 L56.017,13.651 L53.159,9.566 L49.892,13.652 ZM55.575,8.737 L57.515,11.510 L59.455,8.737 L55.575,8.737 ZM61.637,9.901 L59.013,13.652 L62.452,18.567 L65.967,18.567 L61.637,9.901 ZM39.708,39.456 L66.725,39.456 C67.403,39.456 67.953,40.007 67.953,40.685 L67.953,72.634 C67.953,73.311 67.403,73.863 66.725,73.863 L39.708,73.863 C39.030,73.863 38.480,73.311 38.480,72.634 L38.480,40.685 C38.480,40.007 39.030,39.456 39.708,39.456 ZM50.761,71.404 L55.673,71.404 L55.673,66.490 L50.761,66.490 L50.761,71.404 ZM40.936,71.404 L48.305,71.404 L48.305,65.261 C48.305,64.583 48.855,64.032 49.533,64.032 L56.901,64.032 C57.579,64.032 58.129,64.583 58.129,65.261 L58.129,71.404 L65.497,71.404 L65.497,71.404 L65.497,41.914 L40.936,41.914 L40.936,71.404 ZM60.585,61.574 L58.129,61.574 C56.775,61.574 55.673,60.472 55.673,59.117 L55.673,56.660 C55.673,55.304 56.775,54.202 58.129,54.202 L60.585,54.202 C61.940,54.202 63.041,55.304 63.041,56.660 L63.041,59.117 C63.041,60.472 61.940,61.574 60.585,61.574 ZM60.585,56.660 L58.129,56.660 L58.129,59.117 L60.587,59.117 L60.585,56.660 ZM60.585,51.745 L58.129,51.745 C56.775,51.745 55.673,50.642 55.673,49.287 L55.673,46.829 C55.673,45.474 56.775,44.371 58.129,44.371 L60.585,44.371 C61.940,44.371 63.041,45.474 63.041,46.829 L63.041,49.287 C63.041,50.642 61.940,51.745 60.585,51.745 ZM60.585,46.829 L58.129,46.829 L58.129,49.287 L60.587,49.287 L60.585,46.829 ZM48.305,61.574 L45.848,61.574 C44.494,61.574 43.392,60.472 43.392,59.117 L43.392,56.660 C43.392,55.304 44.494,54.202 45.848,54.202 L48.305,54.202 C49.659,54.202 50.761,55.304 50.761,56.660 L50.761,59.117 C50.761,60.472 49.659,61.574 48.305,61.574 ZM48.305,56.660 L45.848,56.660 L45.848,59.117 L48.306,59.117 L48.305,56.660 ZM48.305,51.745 L45.848,51.745 C44.494,51.745 43.392,50.642 43.392,49.287 L43.392,46.829 C43.392,45.474 44.494,44.371 45.848,44.371 L48.305,44.371 C49.659,44.371 50.761,45.474 50.761,46.829 L50.761,49.287 C50.761,50.642 49.659,51.745 48.305,51.745 ZM48.305,46.829 L45.848,46.829 L45.848,49.287 L48.306,49.287 L48.305,46.829 Z')

            span Высокая скорость <br>строительства
          p Благодаря высокой заводской готовности всех элементов монтаж здания осуществляется в любое время года. Сборка коробки частного дома по типовому проекту занимает всего 2-4 дня.


        .col-lg-4
          +e.item-title
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='63px', height='78px')
              path(fill-rule='evenodd', fill='rgb(254, 146, 0)', d='M57.129,77.399 L28.937,77.399 C26.155,77.399 23.891,75.132 23.891,72.348 L23.891,69.703 L4.589,69.703 C2.513,69.703 0.825,68.012 0.825,65.935 L0.825,4.366 C0.825,2.289 2.513,0.598 4.589,0.598 L37.907,0.598 C38.226,0.598 38.531,0.726 38.757,0.950 L51.571,13.778 C51.797,14.004 51.923,14.309 51.923,14.628 L51.923,33.948 L57.129,33.948 C59.911,33.948 62.175,36.213 62.175,38.998 L62.175,72.348 C62.175,75.132 59.911,77.399 57.129,77.399 ZM39.109,4.704 L39.109,10.780 C39.109,12.239 40.294,13.425 41.752,13.425 L47.822,13.425 L39.109,4.704 ZM49.520,15.830 L41.752,15.830 C38.969,15.830 36.706,13.564 36.706,10.780 L36.706,3.004 L4.589,3.004 C3.838,3.004 3.227,3.615 3.227,4.366 L3.227,65.935 C3.227,66.686 3.838,67.297 4.589,67.297 L23.891,67.297 L23.891,38.998 C23.891,36.213 26.155,33.948 28.937,33.948 L49.520,33.948 L49.520,15.830 ZM59.772,38.998 C59.772,37.540 58.587,36.353 57.129,36.353 L28.937,36.353 C27.480,36.353 26.294,37.540 26.294,38.998 L26.294,72.348 C26.294,73.806 27.480,74.993 28.937,74.993 L57.129,74.993 C58.587,74.993 59.772,73.806 59.772,72.348 L59.772,38.998 ZM54.566,70.985 L52.003,70.985 C50.634,70.985 49.520,69.871 49.520,68.499 L49.520,65.935 C49.520,64.564 50.634,63.450 52.003,63.450 L54.566,63.450 C55.935,63.450 57.049,64.564 57.049,65.935 L57.049,68.499 C57.049,69.871 55.935,70.985 54.566,70.985 ZM54.646,65.935 C54.646,65.890 54.611,65.855 54.566,65.855 L52.004,65.855 C51.959,65.855 51.924,65.890 51.924,65.935 L51.924,68.499 C51.924,68.544 51.959,68.580 52.004,68.580 L54.566,68.580 C54.611,68.580 54.646,68.544 54.646,68.499 L54.646,65.935 ZM54.566,60.724 L52.003,60.724 C50.634,60.724 49.520,59.609 49.520,58.238 L49.520,55.673 C49.520,54.303 50.634,53.188 52.003,53.188 L54.566,53.188 C55.935,53.188 57.049,54.303 57.049,55.673 L57.049,58.238 C57.049,59.609 55.935,60.724 54.566,60.724 ZM54.646,55.673 C54.646,55.628 54.611,55.593 54.566,55.593 L52.004,55.593 C51.959,55.593 51.924,55.628 51.924,55.673 L51.924,58.238 C51.924,58.283 51.959,58.319 52.004,58.319 L54.566,58.319 C54.611,58.319 54.646,58.283 54.646,58.238 L54.646,55.673 ZM54.566,49.180 L31.500,49.180 C30.131,49.180 29.017,48.065 29.017,46.695 L29.017,41.563 C29.017,40.194 30.131,39.079 31.500,39.079 L54.566,39.079 C55.935,39.079 57.049,40.194 57.049,41.563 L57.049,46.695 C57.049,48.065 55.935,49.180 54.566,49.180 ZM54.646,46.695 L54.646,41.563 C54.646,41.520 54.610,41.484 54.566,41.484 L31.500,41.484 C31.456,41.484 31.420,41.520 31.420,41.563 L31.420,46.695 C31.420,46.739 31.456,46.774 31.500,46.774 L54.566,46.774 C54.611,46.774 54.646,46.739 54.646,46.695 L54.646,46.695 ZM31.500,53.188 L34.063,53.188 C35.432,53.188 36.546,54.303 36.546,55.673 L36.546,58.238 C36.546,59.609 35.432,60.724 34.063,60.724 L31.500,60.724 C30.131,60.724 29.017,59.609 29.017,58.238 L29.017,55.673 C29.017,54.303 30.131,53.188 31.500,53.188 ZM31.420,58.238 C31.420,58.283 31.456,58.319 31.500,58.319 L34.063,58.319 C34.107,58.319 34.143,58.283 34.143,58.238 L34.143,58.238 L34.143,55.673 C34.143,55.628 34.107,55.593 34.063,55.593 L31.500,55.593 C31.456,55.593 31.420,55.628 31.420,55.673 L31.420,58.238 ZM31.500,63.450 L34.063,63.450 C35.432,63.450 36.546,64.564 36.546,65.935 L36.546,68.499 C36.546,69.871 35.432,70.985 34.063,70.985 L31.500,70.985 C30.131,70.985 29.017,69.871 29.017,68.499 L29.017,65.935 C29.017,64.564 30.131,63.450 31.500,63.450 ZM31.420,68.499 C31.420,68.544 31.456,68.580 31.500,68.580 L34.063,68.580 C34.107,68.580 34.143,68.544 34.143,68.499 L34.143,68.499 L34.143,65.935 C34.143,65.890 34.107,65.855 34.063,65.855 L31.500,65.855 C31.456,65.855 31.420,65.890 31.420,65.935 L31.420,68.499 ZM41.752,53.188 L44.315,53.188 C45.684,53.188 46.797,54.303 46.797,55.673 L46.797,58.238 C46.797,59.609 45.684,60.724 44.315,60.724 L41.752,60.724 C40.383,60.724 39.269,59.609 39.269,58.238 L39.269,55.673 C39.269,54.303 40.383,53.188 41.752,53.188 ZM41.672,58.238 C41.672,58.283 41.707,58.319 41.752,58.319 L44.315,58.319 C44.359,58.319 44.395,58.283 44.395,58.238 L44.395,55.673 C44.395,55.628 44.359,55.593 44.315,55.593 L41.752,55.593 C41.707,55.593 41.672,55.628 41.672,55.673 L41.672,58.238 ZM41.752,63.450 L44.315,63.450 C45.684,63.450 46.797,64.564 46.797,65.935 L46.797,68.499 C46.797,69.871 45.684,70.985 44.315,70.985 L41.752,70.985 C40.383,70.985 39.269,69.871 39.269,68.499 L39.269,65.935 C39.269,64.564 40.383,63.450 41.752,63.450 ZM41.672,68.499 C41.672,68.544 41.707,68.580 41.752,68.580 L44.315,68.580 C44.359,68.580 44.395,68.544 44.395,68.499 L44.395,65.935 C44.395,65.890 44.359,65.855 44.315,65.855 L41.752,65.855 C41.707,65.855 41.672,65.890 41.672,65.935 L41.672,68.499 ZM7.232,30.020 C7.232,29.356 7.770,28.817 8.434,28.817 L44.315,28.817 C44.978,28.817 45.516,29.356 45.516,30.020 C45.516,30.684 44.978,31.222 44.315,31.222 L8.434,31.222 C7.770,31.222 7.232,30.684 7.232,30.020 ZM41.752,22.244 L40.470,22.244 C39.807,22.244 39.269,21.705 39.269,21.040 C39.269,20.377 39.807,19.839 40.470,19.839 L41.752,19.839 C42.415,19.839 42.953,20.377 42.953,21.040 C42.953,21.705 42.415,22.244 41.752,22.244 ZM35.344,22.244 L34.063,22.244 C33.399,22.244 32.862,21.705 32.862,21.040 C32.862,20.377 33.400,19.839 34.063,19.839 L35.344,19.839 C36.008,19.839 36.546,20.377 36.546,21.040 C36.546,21.705 36.008,22.244 35.344,22.244 ZM28.937,19.839 C29.600,19.839 30.138,20.377 30.138,21.040 C30.138,21.705 29.600,22.244 28.937,22.244 L27.656,22.244 C26.992,22.244 26.454,21.705 26.454,21.040 C26.454,20.377 26.992,19.839 27.656,19.839 L28.937,19.839 ZM21.248,19.839 L22.530,19.839 C23.193,19.839 23.731,20.377 23.731,21.040 C23.731,21.705 23.193,22.244 22.530,22.244 L21.248,22.244 C20.585,22.244 20.047,21.705 20.047,21.040 C20.047,20.377 20.585,19.839 21.248,19.839 ZM34.063,17.113 L21.248,17.113 C20.584,17.113 20.047,16.575 20.047,15.911 C20.047,15.246 20.585,14.709 21.248,14.709 L34.063,14.709 C34.726,14.709 35.264,15.246 35.264,15.911 C35.264,16.575 34.726,17.113 34.063,17.113 ZM31.500,11.982 L21.248,11.982 C20.585,11.982 20.047,11.444 20.047,10.780 C20.047,10.115 20.585,9.577 21.248,9.577 L31.500,9.577 C32.163,9.577 32.701,10.115 32.701,10.780 C32.701,11.444 32.163,11.982 31.500,11.982 ZM17.324,19.518 C17.324,21.436 15.710,22.997 13.479,23.415 L13.479,23.606 C13.479,24.271 12.941,24.809 12.278,24.809 C11.614,24.809 11.076,24.271 11.076,23.606 L11.076,23.415 C8.846,22.997 7.232,21.436 7.232,19.518 C7.232,18.854 7.770,18.316 8.433,18.316 C9.097,18.316 9.635,18.854 9.635,19.518 C9.635,20.060 10.191,20.645 11.076,20.935 L11.076,16.756 C9.370,16.108 7.232,14.983 7.232,12.303 C7.232,10.386 8.846,8.823 11.076,8.405 L11.076,8.214 C11.076,7.551 11.614,7.012 12.278,7.012 C12.941,7.012 13.479,7.551 13.479,8.214 L13.479,8.405 C15.710,8.823 17.324,10.385 17.324,12.303 C17.324,12.967 16.786,13.505 16.122,13.505 C15.459,13.505 14.921,12.967 14.921,12.303 C14.921,11.761 14.364,11.176 13.479,10.886 L13.479,15.064 C15.186,15.713 17.324,16.839 17.324,19.518 ZM13.479,20.935 C14.364,20.645 14.921,20.060 14.921,19.518 C14.921,18.789 14.677,18.276 13.479,17.688 L13.479,20.935 ZM11.077,10.886 C10.191,11.176 9.635,11.761 9.635,12.303 C9.635,13.032 9.879,13.545 11.077,14.133 L11.077,10.886 ZM8.434,36.513 L10.996,36.513 C11.660,36.513 12.198,37.051 12.198,37.716 C12.198,38.380 11.660,38.918 10.996,38.918 L8.434,38.918 C7.770,38.918 7.232,38.380 7.232,37.716 C7.232,37.051 7.770,36.513 8.434,36.513 ZM8.434,41.644 L10.996,41.644 C11.660,41.644 12.198,42.183 12.198,42.846 C12.198,43.511 11.660,44.049 10.996,44.049 L8.434,44.049 C7.770,44.049 7.232,43.511 7.232,42.846 C7.232,42.183 7.770,41.644 8.434,41.644 ZM8.434,46.774 L10.996,46.774 C11.660,46.774 12.198,47.313 12.198,47.977 C12.198,48.641 11.660,49.180 10.996,49.180 L8.434,49.180 C7.770,49.180 7.232,48.641 7.232,47.977 C7.232,47.313 7.770,46.774 8.434,46.774 ZM8.434,51.905 L10.996,51.905 C11.660,51.905 12.198,52.443 12.198,53.108 C12.198,53.772 11.660,54.310 10.996,54.310 L8.434,54.310 C7.770,54.310 7.232,53.772 7.232,53.108 C7.232,52.443 7.770,51.905 8.434,51.905 ZM8.434,57.036 L10.996,57.036 C11.660,57.036 12.198,57.575 12.198,58.238 C12.198,58.903 11.660,59.441 10.996,59.441 L8.434,59.441 C7.770,59.441 7.232,58.903 7.232,58.238 C7.232,57.575 7.770,57.036 8.434,57.036 ZM16.122,36.513 L19.967,36.513 C20.630,36.513 21.168,37.051 21.168,37.716 C21.168,38.380 20.630,38.918 19.967,38.918 L16.122,38.918 C15.459,38.918 14.921,38.380 14.921,37.716 C14.921,37.051 15.459,36.513 16.122,36.513 ZM16.122,41.644 L19.967,41.644 C20.630,41.644 21.168,42.183 21.168,42.846 C21.168,43.511 20.630,44.049 19.967,44.049 L16.122,44.049 C15.459,44.049 14.921,43.511 14.921,42.846 C14.921,42.183 15.459,41.644 16.122,41.644 ZM16.122,46.774 L19.967,46.774 C20.630,46.774 21.168,47.313 21.168,47.977 C21.168,48.641 20.630,49.180 19.967,49.180 L16.122,49.180 C15.459,49.180 14.921,48.641 14.921,47.977 C14.921,47.313 15.459,46.774 16.122,46.774 ZM16.122,51.905 L19.967,51.905 C20.630,51.905 21.168,52.443 21.168,53.108 C21.168,53.772 20.630,54.310 19.967,54.310 L16.122,54.310 C15.459,54.310 14.921,53.772 14.921,53.108 C14.921,52.443 15.459,51.905 16.122,51.905 ZM16.122,57.036 L19.967,57.036 C20.630,57.036 21.168,57.575 21.168,58.238 C21.168,58.903 20.630,59.441 19.967,59.441 L16.122,59.441 C15.459,59.441 14.921,58.903 14.921,58.238 C14.921,57.575 15.459,57.036 16.122,57.036 Z')

            span Доступная цена
          p Наша технология позволяет строить долговечные капитальные дома предназначенные для круглогодичного проживания со снижением затрат относительно традиционных технологий, что делает дом БЭНПАН абсолютным лидером на рынке 

