.vantage
  background-color: #f4f7f9
  padding: 60px 0
  +media-breakpoint-up(sm)
    padding: 120px 0
  .main-title
    margin-bottom: 15px
    +media-breakpoint-up(sm)
      margin-bottom: 65px



  &__item-title
    +ob
    font-size: 18px
    line-height: (21/18)
    color: $color-primary
    text-transform: uppercase
    display: flex
    align-items: flex-end
    min-height: 77px
    margin-bottom: 40px
    margin-top: 40px

    +media-breakpoint-up(lg)
      margin-top: 0
    svg
      margin-right: 15px

