.news
  padding: 90px 0 60px
  .main-title
    margin-bottom: 40px

  &__item
    margin-bottom: 10px

  &__preview
    height: 235px
    display: block
    +cover

  &__date
    margin-top: 15px
    color: #fff
    padding: 3px 10px
    background-color: $color-primary
    font-size: 12px
    display: inline-block

  &__item-title
    margin: 15px 0
    +ob
    a
      color: $color-primary
      &:hover
        color: #0089e9 
  p
    margin: 10px 0

  &__link
    display: inline-block
    margin-top: 20px
    color: #2d3b55
    &:hover
     color: #0089e9
     path
      fill: #0089e9 !important