.partner
  background-color: #f4f7f9
  padding: 80px 0 40px
  .main-title
    margin-bottom: 20px
  &__slider
    position: relative
    min-height: 55px
    margin-top: 50px
    margin-bottom: 50px
    .prev
      left: 0
      top: 50%
      transform: translateY(-50%)
    .next
      right: 0
      top: 50%
      transform: translateY(-50%)

  .frame
    width: 100%
    img
      filter: grayscale(100%)
      -webkit-filter: grayscale(100%)
      -moz-filter: grayscale(100%)
      -ms-filter: grayscale(100%)
      -o-filter: grayscale(100%)
      filter: url('grayscale.svg#greyscale')
      filter: gray
      -webkit-filter: grayscale(1)
      &:hover
        filter: none
        -webkit-filter: none
        -moz-filter: none
        -ms-filter: none
        -o-filter: none
    .slidee
      height: 100%

  &__item
    float: left
    padding: 0 10px
    width: 300px
