.video
  color: #fff
  position: relative
  overflow: hidden
  padding: 50px 0 250px
  +media-breakpoint-up(md)
    padding: 150px 0 250px
  +media-breakpoint-up(lg)
    padding: 250px 0 
  &:after
    content: ''
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 1
    background-color: #11222d
    opacity: .34

  video
    opacity: .4 !important

  &__overlay
    position: relative
    z-index: 5

  &__title
    +ob
    font-size: 52px
    line-height: 1.1
    margin-bottom: 30px
    +media-breakpoint-up(md)
      font-size: 65px
    +media-breakpoint-up(lg)
      font-size: 72px

  p
    font-size: 18px
    line-height: (27/18)
    max-width: 540px


  .link-line
    margin-top: 40px
    +media-breakpoint-up(md)
      margin-top: 80px

  &__play-wrap
    position: absolute
    bottom: 40px
    left: 0
    right: 0
    z-index: 5
    text-align: center
    +media-breakpoint-up(sm)
      text-align: right
      bottom: 75px

