include _assets/bemto/bemto

include head/head
include vantage-tooltip/vantage-tooltip
include vantage/vantage
include project/project-grid

doctype html
html(lang="ru")

	block head
		head
			+head({
				"title": "БЭНПАН",
				"author": "Sinelnikov Dmitriy",
				"description": "My default project template."
			})
			
		+b.BODY.page
			+e.wrap
				block header
					header header
				block content
					div content

				block footer
					footer footer
				
			block vendors
				// build:js js/vendor.js
				script( src="_assets/jquery/dist/jquery.min.js")
				script( src="_assets/sly/sly.min.js")
				script( src="_assets/slick-carousel/slick/slick.min.js")
				script( src="_assets/Vide-0.5.1/dist/jquery.vide.min.js")
				script( src="_assets/magnific-popup/dist/jquery.magnific-popup.min.js")
				script( src="_assets/accordion/accordion.min.js")
				script( src="_assets/owl.carousel/dist/owl.carousel.min.js")
				script( src="_assets/modernizr/modernizr-mq.js")
				// endbuild
			block scripts
				// build:js js/main.js
				script( src="js/main.js")
				// endbuild
