extends _base

block content
  +b.SECTION.top-sale
    .container
      .row
        .col-md-5
          +e.wrap
            +e.title
              span Скидка 
              b 50%
              br
              | на панели бэнпан
            p Технология БЭНПАН позволяет строить коттеджи и индивидуальные жилые дома в самых разных архитектурных стилях.Дом БЭНПАН – это капитальный дом из железобетонных ребристых панелей.
            +b.A.btn._primary(href="#") Подробнее
            +e.slider
              +e.nav
                +e.prev
                  svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='18px', height='13px')
                    path(fill-rule='evenodd', d='M5.877,0.177 C6.122,-0.083 6.531,-0.083 6.785,0.177 C7.030,0.430 7.030,0.849 6.785,1.100 L2.181,5.826 L17.373,5.826 C17.727,5.827 18.009,6.115 18.009,6.479 C18.009,6.843 17.727,7.141 17.373,7.141 L2.181,7.141 L6.785,11.858 C7.030,12.118 7.030,12.539 6.785,12.790 C6.531,13.050 6.122,13.050 5.877,12.790 L0.183,6.945 C-0.071,6.694 -0.071,6.274 0.183,6.023 L5.877,0.177 Z')

                +e.count
                  spna 01
                  |  / 05
                +e.next
                  svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='19px', height='13px')
                    path(fill-rule='evenodd', fill='rgb(12, 50, 82)', d='M12.855,0.239 C12.604,-0.020 12.188,-0.020 11.929,0.239 C11.679,0.489 11.679,0.905 11.929,1.154 L16.621,5.846 L1.139,5.846 C0.778,5.847 0.491,6.134 0.491,6.495 C0.491,6.856 0.778,7.152 1.139,7.152 L16.621,7.152 L11.929,11.834 C11.679,12.094 11.679,12.511 11.929,12.760 C12.188,13.019 12.605,13.019 12.855,12.760 L18.657,6.957 C18.916,6.708 18.916,6.291 18.657,6.042 L12.855,0.239 Z')

              .carousel
                +e.carousel-item(style="background-image: url(image/carousel.jpg)")
                +e.carousel-item(style="background-image: url(image/carousel.jpg)")
                +e.carousel-item(style="background-image: url(image/carousel.jpg)")
                +e.carousel-item(style="background-image: url(image/carousel.jpg)")
                +e.carousel-item(style="background-image: url(image/carousel.jpg)")


  +b.SECTION.project-list
    .container
      .row
        .col
          h2.main-title Популярные проекты

    +e.slider
      +b.prev
        svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='22px', height='15px')
          path(fill-rule='evenodd', d='M0.629,6.926 L6.812,0.748 C7.189,0.372 7.801,0.372 8.178,0.748 C8.555,1.126 8.555,1.737 8.178,2.114 L3.644,6.643 L20.157,6.643 C20.690,6.643 21.123,7.075 21.123,7.608 C21.123,8.141 20.690,8.573 20.157,8.573 L3.644,8.573 L8.178,13.103 C8.555,13.480 8.555,14.091 8.178,14.467 C7.989,14.656 7.742,14.750 7.495,14.750 C7.248,14.750 7.000,14.656 6.812,14.467 L0.629,8.290 C0.252,7.914 0.252,7.303 0.629,6.926 Z')

      +b.next
        svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='22px', height='15px')
          path(fill-rule='evenodd', d='M21.371,6.926 L15.188,0.749 C14.811,0.372 14.199,0.372 13.822,0.749 C13.444,1.126 13.444,1.738 13.822,2.114 L18.355,6.644 L1.843,6.644 C1.310,6.644 0.877,7.076 0.877,7.608 C0.877,8.141 1.310,8.573 1.843,8.573 L18.355,8.573 L13.822,13.102 C13.445,13.480 13.445,14.090 13.822,14.468 C14.011,14.656 14.258,14.750 14.505,14.750 C14.752,14.750 15.000,14.656 15.188,14.468 L21.371,8.290 C21.748,7.914 21.748,7.303 21.371,6.926 Z')



      .frame
        .slidee
          -for(var i = 0; i < 10; i++)
            +b.A.project-card(href="#")
              +e.vendor-code МС-160/К
              +e.preview(style="background-image: url(image/project.jpg)")
              +e.bottom
                +e.price Стоимость от:
                  br
                  span 2 125 474.93 Р
                +e.area Площадь:
                  br
                  span 140.10 м
                    sup 2
    .container
      .row
        .col
          +e.btn-wrap
            +b.A.btn._primary(href="#") Смотреть все проекты


  +b.SECTION.video#videbg
    //-+e.VIDEO.video(loop, muted, autoplay, poster="video/bg.jpg")
        source(src="video/bg.mp4", type="video/mp4")

    .container
      .row
        .col
          +e.overlay
            +e.title Что такое БЭНПАН? 
            p БЭНПАН - это инновационная технология капитального домостроения из железобетонных ребристых панелей, позволяющая построить высококачественный долговечный дом в короткие сроки.
            +b.link-line
              a(href="#") Узнать больше
    +e.play-wrap
      .container
        .row.justify-content-end
          .col
            +b.A.play._orange._big.js-video-popup(href="https://www.youtube.com/watch?v=fUJByB-jGWE")
              +e.play
                span
              +e.SPAN.text Смотреть видео


  +vantage


  +b.SECTION.composition
    .container
      .row
        .col
          h2.main-title Из чего мы строим
      .row
        .col-lg-6
          +e.item._l
            +e.H3.item-title Бэнпан
            p Железобетонная стеновая панель — это основной элемент технологии БЭНПАН, имеет двухслойную конструкцию, состоящую из наружного слоя фибробетона толщиной 50 мм и внутреннего теплоизоляционного слоя толщиной 60 мм. Выполняет роль как внешних, так и внутренних несущих стен, что обеспечивается ее структурной особенностью — ребрами жесткости.
            +e.IMG.img(src="image/composition1.jpg")
            +e.H4.item-subtitle Используемые материалы:
            ul
              li – Фибробетон – В30
              li – Арматура класса А500С
              li – Утеплитель – минеральная вата или пенополистерол
              li – Металлический оцинкованный профиль 0,5 мм
            +e.H4.item-subtitle Преимущества:
            +vantage-tooltip(1)
            +e.btn-wrap
              +b.A.btn._primary(href="#") Подробнее
              br
              +b.A.play._inline._blue.js-video-popup(href="https://www.youtube.com/watch?v=fUJByB-jGWE")
                +e.play
                  span
                +e.SPAN.text Смотреть видео
      .row.justify-content-end
        .col-lg-6
          +e.item._r
            +e.H3.item-title Бэнпан+
            p Железобетонная стеновая панель — это основной элемент технологии БЭНПАН, имеет двухслойную конструкцию, состоящую из наружного слоя фибробетона толщиной 50 мм и внутреннего теплоизоляционного слоя толщиной 60 мм. Выполняет роль как внешних, так и внутренних несущих стен, что обеспечивается ее структурной особенностью — ребрами жесткости.
            +e.IMG.img(src="image/composition2.jpg")
            +e.H4.item-subtitle Используемые материалы:
            ul
              li – Фибробетон – В30
              li – Арматура класса А500С
              li – Утеплитель – минеральная вата или пенополистерол
              li – Металлический оцинкованный профиль 0,5 мм
            +e.H4.item-subtitle Преимущества:
            +vantage-tooltip(2)
            +e.btn-wrap
              +b.A.btn._primary(href="#") Подробнее
              br
              +b.A.play._inline._blue.js-video-popup(href="https://www.youtube.com/watch?v=fUJByB-jGWE")
                +e.play
                  span
                +e.SPAN.text Смотреть видео
      .row
        .col-lg-6
          +e.item._l
            +e.H3.item-title Бэнпан Премиум
            p Железобетонная стеновая панель — это основной элемент технологии БЭНПАН, имеет двухслойную конструкцию, состоящую из наружного слоя фибробетона толщиной 50 мм и внутреннего теплоизоляционного слоя толщиной 60 мм. Выполняет роль как внешних, так и внутренних несущих стен, что обеспечивается ее структурной особенностью — ребрами жесткости.
            +e.IMG.img(src="image/composition3.jpg")
            +e.H4.item-subtitle Используемые материалы:
            ul
              li – Фибробетон – В30
              li – Арматура класса А500С
              li – Утеплитель – минеральная вата или пенополистерол
              li – Металлический оцинкованный профиль 0,5 мм
            +e.H4.item-subtitle Преимущества:
            +vantage-tooltip(3)
            +e.btn-wrap
              +b.A.btn._primary(href="#") Подробнее
              br
              +b.A.play._inline._blue.js-video-popup(href="https://www.youtube.com/watch?v=fUJByB-jGWE")
                +e.play
                  span
                +e.SPAN.text Смотреть видео


  +b.SECTION.total
    .container
      .row
        .col-xl-7
          +e.wrap
            +e.img(style="background-image: url(image/total-img.jpg)")

            h2.main-title С нами ваш дом будет
            +e.P.desc Бенпан -дом, в котором сбываютя мечты
            +e.list
              +e.item
                +b.I.icon._energy
                +e.H3.item-title Энергоэффективный
                p Панели БЭНПАН значительно сокращеют затраты на энергопотребление.
              +e.item
                +b.I.icon._eco
                +e.H3.item-title Экологичный
                p Изделия БЭНПАН имеют сертификат экологической безопасности 
              +e.item
                +b.I.icon._mute
                +e.H3.item-title Бесшумный
                p В доме БЭНПАН практически не слышен уличный шум.
              +e.item
                +b.I.icon._beautiful
                +e.H3.item-title красивый
                p Панели позволяют создавать простые, но красивые конструкиции


  +b.SECTION.how-build
    .container
      .row
        .col
          h2.main-title Как мы строим
      .row.justify-content-center
        .col.col-xs-6
          +e.item
            +e.num 01
            +e.svg-wrap
              svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='93px', height='88px')
                path(fill-rule='evenodd', fill='rgb(0, 0, 0)', d='M34.687,63.654 L30.204,63.654 C29.452,63.654 28.842,63.038 28.842,62.278 C28.842,61.519 29.451,60.903 30.204,60.903 L34.687,60.903 C35.439,60.903 36.049,61.519 36.049,62.278 C36.049,63.038 35.439,63.654 34.687,63.654 ZM34.687,52.121 L30.204,52.121 C29.452,52.121 28.842,51.504 28.842,50.745 C28.842,49.985 29.451,49.369 30.204,49.369 L34.687,49.369 C35.439,49.369 36.049,49.985 36.049,50.745 C36.049,51.505 35.439,52.121 34.687,52.121 ZM34.687,29.054 L30.204,29.054 C29.452,29.054 28.842,28.438 28.842,27.679 C28.842,26.919 29.451,26.303 30.204,26.303 L34.687,26.303 C35.439,26.303 36.049,26.919 36.049,27.679 C36.049,28.438 35.439,29.054 34.687,29.054 ZM34.687,40.587 L30.204,40.587 C29.452,40.587 28.842,39.971 28.842,39.211 C28.842,38.452 29.451,37.836 30.204,37.836 L34.687,37.836 C35.439,37.836 36.049,38.452 36.049,39.211 C36.049,39.971 35.439,40.587 34.687,40.587 ZM82.724,73.811 C82.724,74.571 82.115,75.187 81.362,75.187 L30.204,75.187 C29.452,75.187 28.842,74.571 28.842,73.811 C28.842,73.052 29.451,72.436 30.204,72.436 L81.362,72.436 C82.115,72.436 82.724,73.052 82.724,73.811 ZM74.828,63.654 L46.324,63.654 C44.910,63.654 43.760,62.492 43.760,61.064 L43.760,39.523 L42.058,39.523 C41.284,39.523 40.608,39.022 40.378,38.276 C40.146,37.529 40.419,36.729 41.055,36.283 L59.574,23.328 C60.166,22.914 60.987,22.914 61.578,23.328 L80.097,36.283 C80.733,36.728 81.006,37.529 80.775,38.276 C80.544,39.022 79.869,39.524 79.095,39.524 L77.393,39.524 L77.393,61.064 C77.393,62.492 76.242,63.654 74.828,63.654 ZM57.252,60.903 L63.900,60.903 L63.900,49.274 L57.252,49.274 L57.252,60.903 ZM46.484,60.903 L54.528,60.903 L54.528,49.052 C54.528,47.658 55.651,46.524 57.032,46.524 L64.120,46.524 C65.501,46.524 66.624,47.658 66.624,49.052 L66.624,60.903 L74.668,60.903 L74.668,60.903 L74.668,39.524 L46.484,39.524 L46.484,60.903 ZM60.576,25.974 L45.140,36.772 L76.013,36.772 L60.576,25.974 ZM91.638,25.314 C92.390,25.314 93.000,25.930 93.000,26.689 L93.000,83.030 C93.000,85.770 90.796,88.000 88.087,88.000 L10.779,88.000 C7.827,88.000 5.073,86.816 3.022,84.666 C1.075,82.624 0.014,79.968 0.002,77.143 C0.002,77.127 -0.000,77.110 -0.000,77.093 L-0.000,59.512 C-0.000,58.753 0.610,58.137 1.362,58.137 C2.115,58.137 2.725,58.753 2.725,59.512 L2.725,69.853 C4.146,68.235 6.036,67.051 8.175,66.512 C8.237,66.497 8.298,66.480 8.361,66.465 C8.455,66.444 8.549,66.425 8.643,66.405 C8.733,66.387 8.823,66.369 8.913,66.353 C8.995,66.338 9.077,66.325 9.160,66.312 C9.264,66.297 9.369,66.281 9.475,66.269 C9.550,66.259 9.626,66.251 9.702,66.243 C9.815,66.231 9.929,66.223 10.043,66.214 C10.116,66.209 10.189,66.205 10.262,66.201 C10.295,66.199 10.327,66.196 10.361,66.194 C10.444,66.191 10.526,66.192 10.608,66.191 C10.665,66.190 10.722,66.186 10.779,66.186 C10.799,66.186 10.819,66.188 10.839,66.188 C10.974,66.189 11.108,66.194 11.243,66.199 C11.296,66.202 11.349,66.202 11.402,66.205 C13.968,66.351 16.369,67.402 18.245,69.226 C18.450,69.426 18.647,69.632 18.834,69.844 L18.834,12.344 L18.834,10.907 C18.834,6.409 15.221,2.751 10.779,2.751 C6.338,2.751 2.725,6.410 2.725,10.907 L2.725,53.934 C2.725,54.694 2.115,55.310 1.362,55.310 C0.610,55.310 0.000,54.694 0.000,53.934 L0.000,10.907 C0.000,4.893 4.836,-0.001 10.779,-0.001 C16.723,-0.001 21.559,4.893 21.559,10.907 L21.559,10.969 L88.087,10.969 C90.796,10.969 93.000,13.198 93.000,15.938 L93.000,20.960 C93.000,21.720 92.390,22.336 91.638,22.336 C90.885,22.336 90.275,21.720 90.275,20.960 L90.275,15.938 C90.275,14.714 89.294,13.719 88.087,13.719 L21.559,13.719 L21.559,77.093 C21.559,77.139 21.556,77.184 21.552,77.230 C21.549,77.263 21.543,77.295 21.537,77.328 C21.535,77.340 21.534,77.352 21.532,77.363 C21.524,77.402 21.514,77.441 21.503,77.479 C21.502,77.483 21.501,77.488 21.500,77.493 C21.488,77.532 21.474,77.569 21.459,77.606 C21.458,77.611 21.456,77.615 21.455,77.620 C21.440,77.655 21.424,77.689 21.407,77.721 C21.404,77.728 21.401,77.735 21.397,77.742 C21.381,77.771 21.364,77.800 21.346,77.829 C21.340,77.839 21.335,77.848 21.328,77.857 C21.311,77.884 21.291,77.909 21.272,77.935 C21.264,77.945 21.257,77.955 21.249,77.966 C21.224,77.996 21.197,78.026 21.169,78.055 C21.166,78.058 21.163,78.062 21.160,78.065 C21.160,78.065 21.160,78.065 21.159,78.065 C21.117,78.109 21.070,78.148 21.022,78.185 C21.011,78.194 21.001,78.201 20.990,78.209 C20.941,78.245 20.891,78.278 20.838,78.306 C20.834,78.308 20.830,78.310 20.827,78.312 C20.777,78.338 20.725,78.361 20.671,78.381 C20.660,78.385 20.650,78.389 20.638,78.393 C20.582,78.412 20.524,78.429 20.464,78.441 C20.461,78.442 20.458,78.442 20.455,78.443 C20.401,78.453 20.346,78.459 20.291,78.463 C20.274,78.464 20.257,78.465 20.240,78.466 C20.225,78.466 20.211,78.468 20.197,78.468 C20.160,78.468 20.124,78.465 20.089,78.462 C20.079,78.462 20.071,78.462 20.062,78.461 C20.002,78.456 19.945,78.445 19.889,78.431 C19.874,78.428 19.859,78.424 19.845,78.420 C19.792,78.406 19.740,78.389 19.690,78.369 C19.685,78.367 19.680,78.366 19.675,78.364 C19.673,78.363 19.672,78.362 19.671,78.362 C19.617,78.339 19.565,78.312 19.514,78.282 C19.499,78.273 19.485,78.264 19.470,78.255 C19.427,78.228 19.385,78.198 19.345,78.165 C19.333,78.156 19.322,78.146 19.310,78.136 C19.274,78.105 19.240,78.071 19.207,78.037 C19.193,78.022 19.180,78.007 19.167,77.992 C19.133,77.952 19.101,77.912 19.072,77.869 C19.064,77.857 19.057,77.845 19.049,77.832 C19.024,77.793 19.001,77.752 18.980,77.710 C18.972,77.693 18.963,77.676 18.956,77.658 C18.934,77.609 18.914,77.559 18.897,77.508 C18.893,77.495 18.891,77.482 18.887,77.469 C18.874,77.424 18.864,77.378 18.856,77.331 C18.852,77.310 18.849,77.289 18.846,77.267 C18.840,77.220 18.837,77.173 18.836,77.124 C18.835,77.114 18.833,77.104 18.833,77.093 C18.833,76.810 18.819,76.529 18.791,76.252 C18.416,72.559 15.598,69.589 12.005,69.031 C12.004,69.031 12.002,69.030 12.000,69.030 C11.875,69.011 11.748,68.995 11.621,68.981 C11.588,68.978 11.555,68.976 11.522,68.973 C11.425,68.964 11.327,68.955 11.228,68.950 C11.174,68.947 11.119,68.946 11.064,68.944 C10.985,68.941 10.905,68.938 10.825,68.938 C10.760,68.938 10.695,68.939 10.630,68.941 C10.557,68.942 10.484,68.943 10.411,68.946 C10.355,68.949 10.300,68.953 10.245,68.957 C10.166,68.962 10.086,68.967 10.008,68.975 C9.954,68.980 9.900,68.987 9.847,68.993 C9.769,69.002 9.692,69.012 9.616,69.023 C9.558,69.031 9.501,69.041 9.443,69.051 C9.374,69.063 9.304,69.075 9.235,69.089 C9.170,69.102 9.106,69.115 9.041,69.130 C8.983,69.143 8.925,69.157 8.868,69.171 C8.793,69.190 8.718,69.209 8.644,69.230 C8.600,69.243 8.556,69.255 8.512,69.268 C8.426,69.294 8.340,69.321 8.255,69.350 C8.226,69.359 8.198,69.369 8.171,69.379 C8.071,69.413 7.972,69.449 7.875,69.488 C7.864,69.492 7.854,69.497 7.843,69.501 C5.651,70.377 3.919,72.205 3.154,74.472 C3.149,74.487 3.144,74.501 3.139,74.514 C3.106,74.615 3.075,74.717 3.046,74.818 C3.038,74.847 3.030,74.876 3.021,74.905 C2.996,74.995 2.973,75.086 2.951,75.178 C2.941,75.219 2.932,75.260 2.923,75.302 C2.904,75.384 2.887,75.467 2.871,75.550 C2.862,75.601 2.853,75.652 2.844,75.703 C2.831,75.780 2.818,75.857 2.807,75.935 C2.799,75.991 2.793,76.048 2.786,76.105 C2.777,76.180 2.768,76.255 2.761,76.331 C2.756,76.387 2.752,76.444 2.748,76.500 C2.743,76.580 2.737,76.659 2.734,76.739 C2.732,76.785 2.731,76.833 2.730,76.879 C2.674,79.087 3.472,81.170 4.985,82.758 C6.517,84.364 8.575,85.249 10.779,85.249 L88.087,85.249 C89.294,85.249 90.275,84.253 90.275,83.029 L90.275,26.689 C90.275,25.930 90.885,25.314 91.638,25.314 Z')
            +e.text Выбор проекта
        .col.col-xs-6
          +e.item
            +e.num 02
            +e.svg-wrap
              svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='93px', height='88px')
                path(fill-rule='evenodd', fill='rgb(0, 0, 0)', d='M34.687,63.654 L30.204,63.654 C29.452,63.654 28.842,63.038 28.842,62.278 C28.842,61.519 29.451,60.903 30.204,60.903 L34.687,60.903 C35.439,60.903 36.049,61.519 36.049,62.278 C36.049,63.038 35.439,63.654 34.687,63.654 ZM34.687,52.121 L30.204,52.121 C29.452,52.121 28.842,51.504 28.842,50.745 C28.842,49.985 29.451,49.369 30.204,49.369 L34.687,49.369 C35.439,49.369 36.049,49.985 36.049,50.745 C36.049,51.505 35.439,52.121 34.687,52.121 ZM34.687,29.054 L30.204,29.054 C29.452,29.054 28.842,28.438 28.842,27.679 C28.842,26.919 29.451,26.303 30.204,26.303 L34.687,26.303 C35.439,26.303 36.049,26.919 36.049,27.679 C36.049,28.438 35.439,29.054 34.687,29.054 ZM34.687,40.587 L30.204,40.587 C29.452,40.587 28.842,39.971 28.842,39.211 C28.842,38.452 29.451,37.836 30.204,37.836 L34.687,37.836 C35.439,37.836 36.049,38.452 36.049,39.211 C36.049,39.971 35.439,40.587 34.687,40.587 ZM82.724,73.811 C82.724,74.571 82.115,75.187 81.362,75.187 L30.204,75.187 C29.452,75.187 28.842,74.571 28.842,73.811 C28.842,73.052 29.451,72.436 30.204,72.436 L81.362,72.436 C82.115,72.436 82.724,73.052 82.724,73.811 ZM74.828,63.654 L46.324,63.654 C44.910,63.654 43.760,62.492 43.760,61.064 L43.760,39.523 L42.058,39.523 C41.284,39.523 40.608,39.022 40.378,38.276 C40.146,37.529 40.419,36.729 41.055,36.283 L59.574,23.328 C60.166,22.914 60.987,22.914 61.578,23.328 L80.097,36.283 C80.733,36.728 81.006,37.529 80.775,38.276 C80.544,39.022 79.869,39.524 79.095,39.524 L77.393,39.524 L77.393,61.064 C77.393,62.492 76.242,63.654 74.828,63.654 ZM57.252,60.903 L63.900,60.903 L63.900,49.274 L57.252,49.274 L57.252,60.903 ZM46.484,60.903 L54.528,60.903 L54.528,49.052 C54.528,47.658 55.651,46.524 57.032,46.524 L64.120,46.524 C65.501,46.524 66.624,47.658 66.624,49.052 L66.624,60.903 L74.668,60.903 L74.668,60.903 L74.668,39.524 L46.484,39.524 L46.484,60.903 ZM60.576,25.974 L45.140,36.772 L76.013,36.772 L60.576,25.974 ZM91.638,25.314 C92.390,25.314 93.000,25.930 93.000,26.689 L93.000,83.030 C93.000,85.770 90.796,88.000 88.087,88.000 L10.779,88.000 C7.827,88.000 5.073,86.816 3.022,84.666 C1.075,82.624 0.014,79.968 0.002,77.143 C0.002,77.127 -0.000,77.110 -0.000,77.093 L-0.000,59.512 C-0.000,58.753 0.610,58.137 1.362,58.137 C2.115,58.137 2.725,58.753 2.725,59.512 L2.725,69.853 C4.146,68.235 6.036,67.051 8.175,66.512 C8.237,66.497 8.298,66.480 8.361,66.465 C8.455,66.444 8.549,66.425 8.643,66.405 C8.733,66.387 8.823,66.369 8.913,66.353 C8.995,66.338 9.077,66.325 9.160,66.312 C9.264,66.297 9.369,66.281 9.475,66.269 C9.550,66.259 9.626,66.251 9.702,66.243 C9.815,66.231 9.929,66.223 10.043,66.214 C10.116,66.209 10.189,66.205 10.262,66.201 C10.295,66.199 10.327,66.196 10.361,66.194 C10.444,66.191 10.526,66.192 10.608,66.191 C10.665,66.190 10.722,66.186 10.779,66.186 C10.799,66.186 10.819,66.188 10.839,66.188 C10.974,66.189 11.108,66.194 11.243,66.199 C11.296,66.202 11.349,66.202 11.402,66.205 C13.968,66.351 16.369,67.402 18.245,69.226 C18.450,69.426 18.647,69.632 18.834,69.844 L18.834,12.344 L18.834,10.907 C18.834,6.409 15.221,2.751 10.779,2.751 C6.338,2.751 2.725,6.410 2.725,10.907 L2.725,53.934 C2.725,54.694 2.115,55.310 1.362,55.310 C0.610,55.310 0.000,54.694 0.000,53.934 L0.000,10.907 C0.000,4.893 4.836,-0.001 10.779,-0.001 C16.723,-0.001 21.559,4.893 21.559,10.907 L21.559,10.969 L88.087,10.969 C90.796,10.969 93.000,13.198 93.000,15.938 L93.000,20.960 C93.000,21.720 92.390,22.336 91.638,22.336 C90.885,22.336 90.275,21.720 90.275,20.960 L90.275,15.938 C90.275,14.714 89.294,13.719 88.087,13.719 L21.559,13.719 L21.559,77.093 C21.559,77.139 21.556,77.184 21.552,77.230 C21.549,77.263 21.543,77.295 21.537,77.328 C21.535,77.340 21.534,77.352 21.532,77.363 C21.524,77.402 21.514,77.441 21.503,77.479 C21.502,77.483 21.501,77.488 21.500,77.493 C21.488,77.532 21.474,77.569 21.459,77.606 C21.458,77.611 21.456,77.615 21.455,77.620 C21.440,77.655 21.424,77.689 21.407,77.721 C21.404,77.728 21.401,77.735 21.397,77.742 C21.381,77.771 21.364,77.800 21.346,77.829 C21.340,77.839 21.335,77.848 21.328,77.857 C21.311,77.884 21.291,77.909 21.272,77.935 C21.264,77.945 21.257,77.955 21.249,77.966 C21.224,77.996 21.197,78.026 21.169,78.055 C21.166,78.058 21.163,78.062 21.160,78.065 C21.160,78.065 21.160,78.065 21.159,78.065 C21.117,78.109 21.070,78.148 21.022,78.185 C21.011,78.194 21.001,78.201 20.990,78.209 C20.941,78.245 20.891,78.278 20.838,78.306 C20.834,78.308 20.830,78.310 20.827,78.312 C20.777,78.338 20.725,78.361 20.671,78.381 C20.660,78.385 20.650,78.389 20.638,78.393 C20.582,78.412 20.524,78.429 20.464,78.441 C20.461,78.442 20.458,78.442 20.455,78.443 C20.401,78.453 20.346,78.459 20.291,78.463 C20.274,78.464 20.257,78.465 20.240,78.466 C20.225,78.466 20.211,78.468 20.197,78.468 C20.160,78.468 20.124,78.465 20.089,78.462 C20.079,78.462 20.071,78.462 20.062,78.461 C20.002,78.456 19.945,78.445 19.889,78.431 C19.874,78.428 19.859,78.424 19.845,78.420 C19.792,78.406 19.740,78.389 19.690,78.369 C19.685,78.367 19.680,78.366 19.675,78.364 C19.673,78.363 19.672,78.362 19.671,78.362 C19.617,78.339 19.565,78.312 19.514,78.282 C19.499,78.273 19.485,78.264 19.470,78.255 C19.427,78.228 19.385,78.198 19.345,78.165 C19.333,78.156 19.322,78.146 19.310,78.136 C19.274,78.105 19.240,78.071 19.207,78.037 C19.193,78.022 19.180,78.007 19.167,77.992 C19.133,77.952 19.101,77.912 19.072,77.869 C19.064,77.857 19.057,77.845 19.049,77.832 C19.024,77.793 19.001,77.752 18.980,77.710 C18.972,77.693 18.963,77.676 18.956,77.658 C18.934,77.609 18.914,77.559 18.897,77.508 C18.893,77.495 18.891,77.482 18.887,77.469 C18.874,77.424 18.864,77.378 18.856,77.331 C18.852,77.310 18.849,77.289 18.846,77.267 C18.840,77.220 18.837,77.173 18.836,77.124 C18.835,77.114 18.833,77.104 18.833,77.093 C18.833,76.810 18.819,76.529 18.791,76.252 C18.416,72.559 15.598,69.589 12.005,69.031 C12.004,69.031 12.002,69.030 12.000,69.030 C11.875,69.011 11.748,68.995 11.621,68.981 C11.588,68.978 11.555,68.976 11.522,68.973 C11.425,68.964 11.327,68.955 11.228,68.950 C11.174,68.947 11.119,68.946 11.064,68.944 C10.985,68.941 10.905,68.938 10.825,68.938 C10.760,68.938 10.695,68.939 10.630,68.941 C10.557,68.942 10.484,68.943 10.411,68.946 C10.355,68.949 10.300,68.953 10.245,68.957 C10.166,68.962 10.086,68.967 10.008,68.975 C9.954,68.980 9.900,68.987 9.847,68.993 C9.769,69.002 9.692,69.012 9.616,69.023 C9.558,69.031 9.501,69.041 9.443,69.051 C9.374,69.063 9.304,69.075 9.235,69.089 C9.170,69.102 9.106,69.115 9.041,69.130 C8.983,69.143 8.925,69.157 8.868,69.171 C8.793,69.190 8.718,69.209 8.644,69.230 C8.600,69.243 8.556,69.255 8.512,69.268 C8.426,69.294 8.340,69.321 8.255,69.350 C8.226,69.359 8.198,69.369 8.171,69.379 C8.071,69.413 7.972,69.449 7.875,69.488 C7.864,69.492 7.854,69.497 7.843,69.501 C5.651,70.377 3.919,72.205 3.154,74.472 C3.149,74.487 3.144,74.501 3.139,74.514 C3.106,74.615 3.075,74.717 3.046,74.818 C3.038,74.847 3.030,74.876 3.021,74.905 C2.996,74.995 2.973,75.086 2.951,75.178 C2.941,75.219 2.932,75.260 2.923,75.302 C2.904,75.384 2.887,75.467 2.871,75.550 C2.862,75.601 2.853,75.652 2.844,75.703 C2.831,75.780 2.818,75.857 2.807,75.935 C2.799,75.991 2.793,76.048 2.786,76.105 C2.777,76.180 2.768,76.255 2.761,76.331 C2.756,76.387 2.752,76.444 2.748,76.500 C2.743,76.580 2.737,76.659 2.734,76.739 C2.732,76.785 2.731,76.833 2.730,76.879 C2.674,79.087 3.472,81.170 4.985,82.758 C6.517,84.364 8.575,85.249 10.779,85.249 L88.087,85.249 C89.294,85.249 90.275,84.253 90.275,83.029 L90.275,26.689 C90.275,25.930 90.885,25.314 91.638,25.314 Z')
            +e.text Производство <br>домокомплекта
        .col.col-xs-6
          +e.item
            +e.num 03
            +e.svg-wrap
              svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='104px', height='72px')
                path(fill-rule='evenodd', fill='rgb(0, 0, 0)', d='M78.975,64.192 C74.800,64.192 71.405,60.793 71.405,56.615 C71.405,52.437 74.800,49.038 78.975,49.038 C83.149,49.038 86.545,52.437 86.545,56.615 C86.545,60.793 83.149,64.192 78.975,64.192 ZM78.975,52.039 C76.454,52.039 74.404,54.092 74.404,56.615 C74.404,59.138 76.454,61.191 78.975,61.191 C81.496,61.191 83.546,59.138 83.546,56.615 C83.546,54.092 81.496,52.039 78.975,52.039 ZM103.312,38.878 L103.312,52.940 C103.312,55.794 100.992,58.116 98.141,58.116 L94.270,58.116 C94.150,59.361 93.881,60.584 93.463,61.764 C93.186,62.545 92.328,62.953 91.548,62.676 C90.768,62.398 90.360,61.540 90.637,60.759 C93.501,52.685 87.470,44.232 78.975,44.232 C72.152,44.232 66.602,49.787 66.602,56.615 C66.602,63.443 72.152,68.998 78.975,68.998 C82.661,68.998 86.130,67.369 88.491,64.529 C89.020,63.892 89.965,63.805 90.602,64.335 C91.239,64.865 91.326,65.811 90.796,66.448 C87.864,69.976 83.555,72.000 78.975,72.000 C71.005,72.000 64.434,65.897 63.678,58.116 C61.446,58.116 43.650,58.116 41.368,58.116 C40.611,65.897 34.041,72.000 26.071,72.000 C18.102,72.000 11.531,65.897 10.775,58.116 L7.048,58.116 C4.196,58.116 1.876,55.794 1.876,52.940 L1.876,52.021 C1.876,49.167 4.196,46.845 7.048,46.845 L11.434,46.845 L1.358,26.885 C0.799,25.775 0.835,24.472 1.454,23.397 C9.485,9.443 30.515,-1.400 46.841,0.446 C48.074,0.585 49.144,1.330 49.704,2.438 L57.691,18.262 C57.875,17.642 58.448,17.190 59.127,17.190 C59.981,17.190 82.666,17.190 84.065,17.190 C88.000,17.190 90.345,19.764 91.171,20.870 C91.181,20.885 91.192,20.900 91.202,20.914 C104.000,39.402 103.312,38.197 103.312,38.878 ZM26.071,68.998 C32.893,68.998 38.443,63.443 38.443,56.615 C38.443,45.362 24.563,39.888 16.923,48.288 C9.720,56.255 15.422,68.998 26.071,68.998 ZM7.048,49.847 C5.850,49.847 4.875,50.822 4.875,52.021 L4.875,52.940 C4.875,54.139 5.850,55.114 7.048,55.114 L10.772,55.114 C10.935,53.418 11.420,51.561 12.263,49.847 L7.048,49.847 ZM4.052,24.894 C3.939,25.090 3.933,25.329 4.035,25.532 C4.053,25.567 14.554,46.372 14.574,46.406 C19.143,41.234 26.652,39.762 32.821,42.794 L17.135,11.720 C11.441,15.468 6.817,20.091 4.052,24.894 ZM47.027,3.792 C46.925,3.590 46.730,3.453 46.505,3.428 C40.486,2.747 33.906,4.026 28.152,6.153 L30.921,11.639 C31.295,12.379 30.998,13.281 30.259,13.654 C29.520,14.028 28.618,13.732 28.245,12.992 L25.359,7.276 C23.440,8.107 21.554,9.055 19.695,10.136 L36.221,42.874 C38.037,42.088 39.854,41.197 41.886,40.015 L30.464,17.389 C30.091,16.649 30.388,15.747 31.127,15.373 C31.866,15.000 32.768,15.296 33.141,16.036 L44.446,38.432 C50.137,34.683 54.760,30.061 57.524,25.259 C57.782,24.811 58.368,26.259 47.027,3.792 ZM57.628,30.466 C52.504,37.113 44.832,42.489 36.996,45.807 C37.324,46.139 37.639,46.485 37.935,46.845 L57.628,46.845 L57.628,30.466 ZM57.628,49.847 L39.879,49.847 C40.705,51.526 41.201,53.352 41.370,55.114 L57.628,55.114 L57.628,49.847 ZM88.753,22.647 C88.363,22.128 87.501,21.161 86.170,20.609 C84.833,20.053 85.420,20.191 69.654,20.191 L69.654,20.191 L69.654,31.247 C69.654,32.446 70.628,33.422 71.826,33.422 L96.211,33.422 L88.753,22.647 ZM100.313,39.347 L98.289,36.423 L71.826,36.423 C68.975,36.423 66.655,34.101 66.655,31.247 L66.655,20.191 L60.627,20.191 C60.627,20.560 60.627,54.757 60.627,55.114 L63.676,55.114 C65.123,40.257 84.721,36.076 92.226,48.834 C93.395,50.820 94.066,52.991 94.273,55.114 L98.141,55.114 C99.338,55.114 100.313,54.138 100.313,52.940 L100.313,52.940 L100.313,39.347 ZM26.071,49.038 C30.246,49.038 33.641,52.437 33.641,56.615 C33.641,60.793 30.245,64.191 26.071,64.191 C21.897,64.191 18.502,60.793 18.502,56.615 C18.502,52.437 21.897,49.038 26.071,49.038 ZM26.071,61.191 C28.592,61.191 30.643,59.138 30.643,56.615 C30.643,54.092 28.592,52.039 26.071,52.039 C23.551,52.039 21.500,54.092 21.500,56.615 C21.500,59.138 23.551,61.191 26.071,61.191 Z')

            +e.text Заливка <br>фундамента
        .col.col-xs-6
          +e.item
            +e.num 04
            +e.svg-wrap
              svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='93px', height='71px')
                path(fill-rule='evenodd', fill='rgb(0, 0, 0)', d='M43.048,34.899 C43.048,35.916 42.216,36.740 41.191,36.740 C40.165,36.740 39.334,35.916 39.334,34.899 C39.334,33.881 40.165,33.057 41.191,33.057 C42.216,33.057 43.048,33.881 43.048,34.899 ZM91.145,71.000 L69.344,71.000 L23.738,71.000 L1.937,71.000 C0.912,71.000 0.080,70.175 0.080,69.158 C0.080,69.158 -0.000,6.160 -0.000,0.207 L3.650,0.207 C3.650,6.287 3.794,67.316 3.794,67.316 L21.881,67.316 L21.881,60.787 C21.881,59.770 22.712,58.945 23.738,58.945 L27.226,58.945 L27.226,52.416 C27.226,51.399 28.057,50.574 29.083,50.574 L34.160,50.574 L34.160,43.719 C34.160,42.702 34.992,41.878 36.017,41.878 C37.043,41.878 37.874,42.702 37.874,43.719 L37.874,50.574 L55.208,50.574 L55.208,17.358 L37.874,17.358 L37.874,37.507 C37.874,38.523 37.043,39.348 36.017,39.348 C34.992,39.348 34.160,38.524 34.160,37.507 L34.160,15.516 C34.160,14.499 34.992,13.674 36.017,13.674 L57.065,13.674 C58.091,13.674 58.922,14.499 58.922,15.516 L58.922,50.574 L64.000,50.574 C65.025,50.574 65.857,51.399 65.857,52.416 L65.857,58.945 L69.344,58.945 C70.370,58.945 71.201,59.770 71.201,60.787 L71.201,67.316 L89.288,67.316 L89.288,17.629 C89.288,16.612 90.120,15.787 91.145,15.787 C92.170,15.787 93.002,16.612 93.002,17.629 L93.002,69.158 C93.002,70.175 92.171,71.000 91.145,71.000 ZM67.488,62.629 L58.230,62.629 C57.205,62.629 56.373,61.804 56.373,60.787 C56.373,59.770 57.204,58.945 58.230,58.945 L62.143,58.945 L62.143,54.258 L30.940,54.258 L30.940,58.945 L51.965,58.945 C52.990,58.945 53.822,59.770 53.822,60.787 C53.822,61.804 52.991,62.629 51.965,62.629 L25.595,62.629 L25.595,67.316 L67.488,67.316 L67.488,62.629 ZM91.144,13.258 C90.119,13.258 89.287,12.434 89.287,11.416 C89.287,11.416 89.287,3.018 89.287,0.000 L93.001,0.026 C93.001,3.065 93.001,11.416 93.001,11.416 C93.001,12.433 92.170,13.258 91.144,13.258 ZM82.122,44.567 L66.336,44.567 C65.311,44.567 64.479,43.742 64.479,42.725 L64.479,21.107 C64.479,20.090 65.310,19.266 66.336,19.266 L82.122,19.266 C83.148,19.266 83.979,20.089 83.979,21.107 L83.979,42.725 C83.979,43.742 83.148,44.567 82.122,44.567 ZM80.265,22.949 L68.193,22.949 L68.193,27.839 L75.857,27.839 C76.883,27.839 77.714,28.663 77.714,29.680 C77.714,30.697 76.883,31.521 75.857,31.521 L68.193,31.521 L68.193,40.883 L80.265,40.883 L80.265,22.949 ZM26.746,44.567 L10.960,44.567 C9.934,44.567 9.103,43.742 9.103,42.725 L9.103,21.107 C9.103,20.090 9.934,19.266 10.960,19.266 L26.746,19.266 C27.772,19.266 28.603,20.089 28.603,21.107 L28.603,42.725 C28.603,43.742 27.772,44.567 26.746,44.567 ZM24.889,22.948 L12.817,22.948 L12.817,27.838 L24.889,27.838 L24.889,22.948 ZM24.889,31.521 L12.817,31.521 L12.817,40.883 L24.889,40.883 L24.889,31.521 Z')

            +e.text Монтаж <br>коробки
        .col.col-xs-6
          +e.item
            +e.num 05
            +e.svg-wrap
              svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='93px', height='90px')
                path(fill-rule='evenodd', fill='rgb(0, 0, 0)', d='M14.918,65.802 C14.008,65.802 13.270,65.064 13.270,64.153 L13.270,44.805 C13.270,43.895 14.008,43.157 14.918,43.157 L28.930,43.157 C29.840,43.157 30.578,43.895 30.578,44.805 L30.578,64.153 C30.578,65.064 29.840,65.802 28.930,65.802 L14.918,65.802 ZM27.281,46.453 L16.566,46.453 L16.566,50.829 L27.281,50.829 L27.281,46.453 ZM27.281,54.126 L16.566,54.126 L16.566,62.505 L27.281,62.505 L27.281,54.126 ZM43.399,57.149 C43.399,58.059 42.661,58.797 41.751,58.797 C40.841,58.797 40.103,58.059 40.103,57.149 C40.103,56.239 40.841,55.500 41.751,55.500 C42.661,55.500 43.399,56.239 43.399,57.149 ZM64.070,65.802 C63.160,65.802 62.422,65.064 62.422,64.153 L62.422,44.805 C62.422,43.895 63.160,43.157 64.070,43.157 L78.082,43.157 C78.992,43.157 79.730,43.895 79.730,44.805 L79.730,64.153 C79.730,65.064 78.992,65.802 78.082,65.802 L64.070,65.802 ZM76.433,46.454 L65.718,46.454 L65.718,50.830 L72.521,50.830 C73.431,50.830 74.169,51.568 74.169,52.478 C74.169,53.388 73.431,54.126 72.521,54.126 L65.718,54.126 L65.718,62.505 L76.433,62.505 L76.433,46.454 ZM92.317,24.215 C92.012,24.681 91.493,24.963 90.936,24.963 L87.738,24.963 L87.738,36.132 C87.738,37.042 87.000,37.780 86.090,37.780 C85.179,37.780 84.441,37.042 84.441,36.132 L84.441,24.963 L64.322,24.963 L70.627,31.267 C71.270,31.911 71.270,32.954 70.627,33.598 C70.305,33.920 69.883,34.081 69.461,34.081 C69.039,34.081 68.618,33.920 68.296,33.598 L46.500,11.803 L24.703,33.598 C24.060,34.242 23.016,34.242 22.373,33.598 C21.729,32.955 21.729,31.911 22.373,31.267 L28.678,24.963 L8.558,24.963 L8.558,86.163 L24.612,86.163 L24.612,80.319 C24.612,79.409 25.349,78.671 26.260,78.671 L29.355,78.671 L29.355,72.827 C29.355,71.916 30.093,71.178 31.004,71.178 L35.511,71.178 L35.511,65.043 C35.511,64.133 36.248,63.395 37.159,63.395 C38.069,63.395 38.807,64.133 38.807,65.043 L38.807,71.178 L54.193,71.178 L54.193,41.449 L38.807,41.449 L38.807,59.483 C38.807,60.393 38.069,61.131 37.159,61.131 C36.249,61.131 35.511,60.393 35.511,59.483 L35.511,39.801 C35.511,38.891 36.248,38.153 37.159,38.153 L55.841,38.153 C56.751,38.153 57.490,38.891 57.490,39.801 L57.490,71.179 L61.996,71.179 C62.906,71.179 63.644,71.916 63.644,72.827 L63.644,78.671 L66.740,78.671 C67.650,78.671 68.388,79.409 68.388,80.319 L68.388,86.163 L84.442,86.163 L84.442,41.692 C84.442,40.782 85.180,40.044 86.090,40.044 C87.001,40.044 87.739,40.782 87.739,41.692 L87.739,87.811 C87.739,88.722 87.001,89.460 86.090,89.460 L66.740,89.460 L26.260,89.460 L6.909,89.460 C5.999,89.460 5.261,88.722 5.261,87.811 L5.261,24.962 L2.063,24.962 C1.506,24.962 0.987,24.681 0.682,24.215 C0.378,23.748 0.330,23.160 0.554,22.651 L9.849,1.524 C10.112,0.926 10.704,0.540 11.358,0.540 L81.642,0.540 C82.296,0.540 82.887,0.926 83.151,1.524 L92.446,22.651 C92.670,23.160 92.622,23.748 92.317,24.215 ZM27.908,86.163 L65.092,86.163 L65.092,81.967 L56.875,81.967 C55.965,81.967 55.227,81.229 55.227,80.319 C55.227,79.409 55.965,78.671 56.875,78.671 L60.348,78.671 L60.348,74.475 L32.652,74.475 L32.652,78.671 L51.314,78.671 C52.224,78.671 52.962,79.409 52.962,80.319 C52.962,81.229 52.224,81.967 51.314,81.967 L27.908,81.967 L27.908,86.163 ZM80.566,3.836 L12.433,3.836 L4.589,21.666 L31.974,21.666 L45.335,8.306 C45.978,7.663 47.022,7.663 47.665,8.306 L61.026,21.666 L88.411,21.666 L80.566,3.836 Z')

            +e.text Отделочные <br>работ


  +b.SECTION.withus
    .container
      .row
        .col-md-6
          h2.main-title Стройте дом под ключ <br>вместе с нами
          p Железобетонная стеновая панель — это основной элемент технологии БЭНПАН, имеет двухслойную конструкцию, состоящую из наружного слоя фибробетона толщиной 50 мм и внутреннего теплоизоляционного слоя толщиной 60 мм. Выполняет роль как внешних, так и внутренних несущих стен, что обеспечивается ее структурной особенностью — ребрами жесткости.

          p Железобетонная стеновая панель — это основной элемент технологии БЭНПАН, имеет двухслойную конструкцию, состоящую из наружного слоя фибробетона толщиной 50 мм и внутреннего теплоизоляционного слоя толщиной 60 мм. Выполняет роль как внешних, так и внутренних несущих стен, что обеспечивается ее структурной особенностью — ребрами жесткости.
        .col-md-6
          img(src="image/withus.png", alt="")

  +b.SECTION.news
    .container
      .row
        .col
          h2.main-title Новости
      .row
        .col-md-4
          +e.ARTICLE.item
            +e.A.preview(href="#", style="background-image: url(image/news.jpg)")
            +e.date 15.09.2017
            +e.H3.item-title
              a(href="#") Акция на дома БЭНПАН
            p Акция на дома БЭНПАН Премиум продлена до 1 декабря!
            +e.A.link(href="#") Читать
              svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='11px', height='9px')
                path(fill-rule='evenodd', fill='#2d3b55', d='M7.683,1.072 C7.545,0.930 7.315,0.930 7.173,1.072 C7.035,1.209 7.035,1.439 7.173,1.576 L9.758,4.153 L1.228,4.153 C1.029,4.154 0.871,4.312 0.871,4.510 C0.871,4.709 1.029,4.872 1.228,4.872 L9.758,4.872 L7.173,7.444 C7.035,7.587 7.035,7.816 7.173,7.953 C7.315,8.096 7.545,8.096 7.683,7.953 L10.879,4.764 C11.022,4.627 11.022,4.398 10.879,4.261 L7.683,1.072 Z')
        .col-md-4
          +e.ARTICLE.item
            +e.A.preview(href="#", style="background-image: url(image/news.jpg)")
            +e.date 15.09.2017
            +e.H3.item-title
              a(href="#") Акция на дома БЭНПАН
            p Акция на дома БЭНПАН Премиум продлена до 1 декабря!
            +e.A.link(href="#") Читать
              svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='11px', height='9px')
                path(fill-rule='evenodd', fill='#2d3b55', d='M7.683,1.072 C7.545,0.930 7.315,0.930 7.173,1.072 C7.035,1.209 7.035,1.439 7.173,1.576 L9.758,4.153 L1.228,4.153 C1.029,4.154 0.871,4.312 0.871,4.510 C0.871,4.709 1.029,4.872 1.228,4.872 L9.758,4.872 L7.173,7.444 C7.035,7.587 7.035,7.816 7.173,7.953 C7.315,8.096 7.545,8.096 7.683,7.953 L10.879,4.764 C11.022,4.627 11.022,4.398 10.879,4.261 L7.683,1.072 Z')
        .col-md-4
          +e.ARTICLE.item
            +e.A.preview(href="#", style="background-image: url(image/news.jpg)")
            +e.date 15.09.2017
            +e.H3.item-title
              a(href="#") Акция на дома БЭНПАН
            p Акция на дома БЭНПАН Премиум продлена до 1 декабря!
            +e.A.link(href="#") Читать
              svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='11px', height='9px')
                path(fill-rule='evenodd', fill='#2d3b55', d='M7.683,1.072 C7.545,0.930 7.315,0.930 7.173,1.072 C7.035,1.209 7.035,1.439 7.173,1.576 L9.758,4.153 L1.228,4.153 C1.029,4.154 0.871,4.312 0.871,4.510 C0.871,4.709 1.029,4.872 1.228,4.872 L9.758,4.872 L7.173,7.444 C7.035,7.587 7.035,7.816 7.173,7.953 C7.315,8.096 7.545,8.096 7.683,7.953 L10.879,4.764 C11.022,4.627 11.022,4.398 10.879,4.261 L7.683,1.072 Z')

  +b.SECTION.press
    .container
      .row
        .col
          .main-title Отзывы о нас в прессе
      .row
        .col-md-6
          +e.item
            +e.A.press-logo(href="#")
              img(src="image/press.png", alt="")
            .hr
            +e.A.text(href="#") Индикаторы рынка недвижимости: «Готовый дом за неделю позволяет возвести строительная технология БЭНПАН от «Мобил Строй XXI»
            +e.link-wrap
              +e.A.link(href="#") Читать
                svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='11px', height='9px')
                  path(fill-rule='evenodd', fill='#2d3b55', d='M7.683,1.072 C7.545,0.930 7.315,0.930 7.173,1.072 C7.035,1.209 7.035,1.439 7.173,1.576 L9.758,4.153 L1.228,4.153 C1.029,4.154 0.871,4.312 0.871,4.510 C0.871,4.709 1.029,4.872 1.228,4.872 L9.758,4.872 L7.173,7.444 C7.035,7.587 7.035,7.816 7.173,7.953 C7.315,8.096 7.545,8.096 7.683,7.953 L10.879,4.764 C11.022,4.627 11.022,4.398 10.879,4.261 L7.683,1.072 Z')
        .col-md-6
          +e.item
            +e.press-logo
              img(src="image/press.png", alt="")
            .hr
            +e.A.text(href="#") Индикаторы рынка недвижимости: «Готовый дом за неделю позволяет возвести строительная технология БЭНПАН от «Мобил Строй XXI»
            +e.link-wrap
              +e.A.link(href="#") Читать
                svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='11px', height='9px')
                  path(fill-rule='evenodd', fill='#2d3b55', d='M7.683,1.072 C7.545,0.930 7.315,0.930 7.173,1.072 C7.035,1.209 7.035,1.439 7.173,1.576 L9.758,4.153 L1.228,4.153 C1.029,4.154 0.871,4.312 0.871,4.510 C0.871,4.709 1.029,4.872 1.228,4.872 L9.758,4.872 L7.173,7.444 C7.035,7.587 7.035,7.816 7.173,7.953 C7.315,8.096 7.545,8.096 7.683,7.953 L10.879,4.764 C11.022,4.627 11.022,4.398 10.879,4.261 L7.683,1.072 Z')
        .col-md-6
          +e.item
            +e.press-logo
              img(src="image/press.png", alt="")
            .hr
            +e.A.text(href="#") Индикаторы рынка недвижимости: «Готовый дом за неделю позволяет возвести строительная технология БЭНПАН от «Мобил Строй XXI»
            +e.link-wrap
              +e.A.link(href="#") Читать
                svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='11px', height='9px')
                  path(fill-rule='evenodd', fill='#2d3b55', d='M7.683,1.072 C7.545,0.930 7.315,0.930 7.173,1.072 C7.035,1.209 7.035,1.439 7.173,1.576 L9.758,4.153 L1.228,4.153 C1.029,4.154 0.871,4.312 0.871,4.510 C0.871,4.709 1.029,4.872 1.228,4.872 L9.758,4.872 L7.173,7.444 C7.035,7.587 7.035,7.816 7.173,7.953 C7.315,8.096 7.545,8.096 7.683,7.953 L10.879,4.764 C11.022,4.627 11.022,4.398 10.879,4.261 L7.683,1.072 Z')
        .col-md-6
          +e.item
            +e.press-logo
              img(src="image/press.png", alt="")
            .hr
            +e.A.text(href="#") Индикаторы рынка недвижимости: «Готовый дом за неделю позволяет возвести строительная технология БЭНПАН от «Мобил Строй XXI»
            +e.link-wrap
              +e.A.link(href="#") Читать
                svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='11px', height='9px')
                  path(fill-rule='evenodd', fill='#2d3b55', d='M7.683,1.072 C7.545,0.930 7.315,0.930 7.173,1.072 C7.035,1.209 7.035,1.439 7.173,1.576 L9.758,4.153 L1.228,4.153 C1.029,4.154 0.871,4.312 0.871,4.510 C0.871,4.709 1.029,4.872 1.228,4.872 L9.758,4.872 L7.173,7.444 C7.035,7.587 7.035,7.816 7.173,7.953 C7.315,8.096 7.545,8.096 7.683,7.953 L10.879,4.764 C11.022,4.627 11.022,4.398 10.879,4.261 L7.683,1.072 Z')
      .row
        .col
          +e.link-line-wrap
            +b.link-line
              a(href="#") Показать больше


  +b.SECTION.overview
    .container
      .row
        .col
          h2.main-title Обзоры, комментарии
      .row
        .col
          +e.them-label Обсуждаемые темы:
          +e.UL.themes
            +e.theme-nav.active
              a(href="#") Дизайн
            +e.theme-nav
              a(href="#") Земля
            +e.theme-nav
              a(href="#") Недвижимость
            +e.theme-nav
              a(href="#") Строительство
            +e.theme-nav
              a(href="#") Технологии
            +e.theme-nav
              a(href="#") Финансы
            +e.theme-nav
              a(href="#") Юридические вопросы

      .row
        .col-lg-4
          - for (var i = 0; i< 7; i++)
            +e.theme-item(class= i === 0 ? 'active' : '')
              +e.H3.question Из чего построить дом?
              +e.P.answer Эта статья предназначена для тех, кто хочет построить или заказать дом и выбирает технологию и материалы для 
                if i == 0
                  | возведения собственного дома. Здесь вы найдете ответы на следующие вопросы:
                if i == 4
                  | возведения собственного дома. Здесь вы найдете ответы на следующие вопросы: возведения собственного дома. Здесь вы найдете ответы на следующие вопросы: Здесь вы найдете ответы на следующие вопросы: возведения собственного дома. Здесь вы найдете ответы на следующие вопросы:
              +e.H3.question Из чего построить дом?
              +e.P.answer Эта статья предназначена для тех, кто хочет построить или заказать дом и выбирает технологию и материалы для возведения собственного дома. Здесь вы найдете ответы на следующие вопросы:

              +b.link-line
                a(href="#") Показать больше
        .col-lg-8
          +e.img-wrap
            img(src="image/overview.jpg", alt="")

  +b.SECTION.partner
    .container
      .row
        .col
          h2.main-title Наши партнеры
    +e.slider
      +b.prev
        svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='22px', height='15px')
          path(fill-rule='evenodd', d='M0.629,6.926 L6.812,0.748 C7.189,0.372 7.801,0.372 8.178,0.748 C8.555,1.126 8.555,1.737 8.178,2.114 L3.644,6.643 L20.157,6.643 C20.690,6.643 21.123,7.075 21.123,7.608 C21.123,8.141 20.690,8.573 20.157,8.573 L3.644,8.573 L8.178,13.103 C8.555,13.480 8.555,14.091 8.178,14.467 C7.989,14.656 7.742,14.750 7.495,14.750 C7.248,14.750 7.000,14.656 6.812,14.467 L0.629,8.290 C0.252,7.914 0.252,7.303 0.629,6.926 Z')

      +b.next
        svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='22px', height='15px')
          path(fill-rule='evenodd', d='M21.371,6.926 L15.188,0.749 C14.811,0.372 14.199,0.372 13.822,0.749 C13.444,1.126 13.444,1.738 13.822,2.114 L18.355,6.644 L1.843,6.644 C1.310,6.644 0.877,7.076 0.877,7.608 C0.877,8.141 1.310,8.573 1.843,8.573 L18.355,8.573 L13.822,13.102 C13.445,13.480 13.445,14.090 13.822,14.468 C14.011,14.656 14.258,14.750 14.505,14.750 C14.752,14.750 15.000,14.656 15.188,14.468 L21.371,8.290 C21.748,7.914 21.748,7.303 21.371,6.926 Z')



      .frame
        .slidee
          +e.item
            img(src="image/partner.png", alt="")
          +e.item
            img(src="image/partner.png", alt="")
          +e.item
            img(src="image/partner.png", alt="")
          +e.item
            img(src="image/partner.png", alt="")
          +e.item
            img(src="image/partner.png", alt="")
          +e.item
            img(src="image/partner.png", alt="")
          +e.item
            img(src="image/partner.png", alt="")
          +e.item
            img(src="image/partner.png", alt="")
          +e.item
            img(src="image/partner.png", alt="")
          +e.item
            img(src="image/partner.png", alt="")