extends _base

block content

  +b.SECTION.top-build
    +e.wrap
      .container
        .row
          .col-lg-9
            +e.H1.title Строительство загородных домов и коттеджей
        .row
          .col-lg-7
            p Технология БЭНПАН позволяет строить коттеджи<br>и индивидуальные жилые дома в самых разных архитектурных стилях. Дом БЭНПАН – это капитальный дом из железобетонных ребристых панелей. Все элементы дома изготавливаются на нашем заводе, что обеспечивает качество и скорость строительства вашего дома практически круглый год.
        +e.form.row
          .col
            form(action="/")
              +e.form-wrap
                +e.form-title Теплый контур железобетонного дома 100 м2 за 1 месяц стоимостью 2 000 000 руб.!
                .form-line
                  .form-group
                    +b.LABEL.label(for="top-form-name") Ваше имя :
                    +b.INPUT.field#top-form-name(type="text", placeholder="Ваше имя")
                  .form-group
                    +b.LABEL.label(for="top-form-email") Ваше e-mail:
                    +b.INPUT.field#top-form-email(type="mail", placeholder="E-mail")
                  .form-group
                    +b.LABEL.label(for="top-form-phone") Ваш телефон* :
                    +b.INPUT.field#top-form-phone(type="tel", placeholder="+7 (___) –___ –__ –__")
                  .form-group
                    +b.BUTTON.btn._orange(type="submit") Отправить

                +b.LABEL.checkbox
                  input(type="checkbox")
                  span
                    svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='14px', height='10px')
                      path(fill-rule='evenodd', fill='rgb(52, 142, 219)', d='M0.940,5.040 C0.846,4.948 0.799,4.810 0.799,4.718 C0.799,4.626 0.846,4.489 0.940,4.396 L1.597,3.753 C1.785,3.569 2.066,3.569 2.254,3.753 L2.301,3.799 L4.884,6.512 C4.978,6.604 5.118,6.604 5.212,6.512 L11.504,0.121 L11.551,0.121 L11.551,0.121 L11.551,0.121 C11.739,-0.063 12.020,-0.063 12.208,0.121 L12.866,0.764 C13.053,0.948 13.053,1.224 12.866,1.408 L12.866,1.408 L12.866,1.408 L5.353,9.039 C5.259,9.132 5.165,9.178 5.024,9.178 C4.884,9.178 4.790,9.132 4.696,9.039 L1.033,5.178 L0.940,5.040 Z')

                    | Я согласен (-на) на обработку  конфиденциальных данных*





  +b.SECTION.whatis
    .container
      .row.align-items-center
        .col-lg-5
          h2.main-title Что такое БЭНПАН 
          p БЭНПАН - это инновационная технология капитального домостроения из железобетонных ребристых панелей, позволяющая построить высококачественный долговечный дом в короткие сроки. 
          +b.link-line
            a(href="#") Показать больше
        .col-lg-7
          +e.video-wrap#videbg2
            +b.A.play2(href="#")
              span





  +vantage

  +project_grid(false)


  +b.SECTION.panel
    .container
      .row
        .col
          h2.main-title С нами ваш дом будет
      
      .row.align-items-stretch
        +e.item.col-md-6
          +e.inner
            +b.I.icon._energy
            +e.H3.item-title Энергоэффективный
            p Панели БЭНПАН значительно сокращеют затраты на энергопотребление.
        +e.item.col-md-6
          +e.inner
            +b.I.icon._eco
            +e.H3.item-title Экологичный
            p Изделия БЭНПАН имеют сертификат экологической безопасности 
        +e.item.col-md-6
          +e.inner
            +b.I.icon._mute
            +e.H3.item-title Бесшумный
            p В доме БЭНПАН практически не слышен уличный шум.
        +e.item.col-md-6
          +e.inner
            +b.I.icon._beautiful
            +e.H3.item-title красивый
            p Панели позволяют создавать простые, но красивые конструкиции


  +b.SECTION.table
    .container
      .row
        .col
          h2.main-title Таблица сравнения
      .row
        .col
          .table-container
            table
              tr
                th Материал
                td
                  +e.SPAN.data._ex._fz16._color-primary Кирпич
                td
                  +e.SPAN.data._ex._fz16._color-primary Пенобетон
                td
                  +e.SPAN.data._ex._fz16._color-primary Газобетон
                td
                  +e.SPAN.data._ex._fz16._color-orange БЭНПАН
              tr
                th Прочность
                td
                  +e.SPAN.data 160 кгс/см<sup>2</sup>
                td
                  +e.SPAN.data 160 кгс/см<sup>2</sup>
                td
                  +e.SPAN.data 160 кгс/см<sup>2</sup>
                td
                  +e.SPAN.data 160 кгс/см<sup>2</sup>
              tr
                th Несущая способность
                td
                  +e.SPAN.data 160 кгс/см<sup>2</sup>
                td
                  +e.SPAN.data 160 кгс/см<sup>2</sup>
                td
                  +e.SPAN.data 160 кгс/см<sup>2</sup>
                td
                  +e.SPAN.data 160 кгс/см<sup>2</sup>
              tr
                th Срок службы
                td
                  +e.SPAN.data._color-blue Средний
                td
                  +e.SPAN.data._color-blue Средний
                td
                  +e.SPAN.data._color-red Низкий
                td
                  +e.SPAN.data._color-green 100 лет
              tr
                th Энергоэффективность
                td
                  svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='19px', height='16px')
                    path(fill-rule='evenodd', fill='rgb(45, 122, 190)', d='M5.441,11.976 L1.967,8.500 L0.058,10.412 L4.641,15.000 L4.646,14.993 L5.483,15.831 L18.424,2.880 L16.477,0.931 L5.441,11.976 Z')

                td
                  svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='19px', height='16px')
                    path(fill-rule='evenodd', fill='rgb(45, 122, 190)', d='M5.441,11.976 L1.967,8.500 L0.058,10.412 L4.641,15.000 L4.646,14.993 L5.483,15.831 L18.424,2.880 L16.477,0.931 L5.441,11.976 Z')
                td
                  svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='19px', height='16px')
                    path(fill-rule='evenodd', fill='rgb(45, 122, 190)', d='M5.441,11.976 L1.967,8.500 L0.058,10.412 L4.641,15.000 L4.646,14.993 L5.483,15.831 L18.424,2.880 L16.477,0.931 L5.441,11.976 Z')
                td
                  svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='19px', height='16px')
                    path(fill-rule='evenodd', fill='rgb(45, 122, 190)', d='M5.441,11.976 L1.967,8.500 L0.058,10.412 L4.641,15.000 L4.646,14.993 L5.483,15.831 L18.424,2.880 L16.477,0.931 L5.441,11.976 Z')
              tr
                th Для чистовой отделки нужно
                td
                  +e.SPAN.data._pb Выравнивание стен потолков
                td
                  +e.SPAN.data._pb Выравнивание стен потолков
                td
                  +e.SPAN.data._pb Выравнивание стен потолков
                td
                  +e.SPAN.data._pb Выравнивание стен потолков
              tr
                th Скорость строительства
                td
                  +e.SPAN.data._color-red Низкий
                td
                  +e.SPAN.data._color-blue Средний
                td
                  +e.SPAN.data._color-blue Средний
                td
                  +e.SPAN.data._color-green Высокая
              tr
                th Цена м<sup>2</sup> коробки
                td
                  +e.SPAN.data._b 1 000р
                td
                  +e.SPAN.data._b 1 000р
                td
                  +e.SPAN.data._b 1 000р
                td
                  +e.SPAN.data._b 1 000р
              tr
                th Цена м<sup>2</sup> теплый контур
                td
                  +e.SPAN.data._b._fz16._color-primary 23 0000р
                td
                  +e.SPAN.data._b._fz16._color-primary 23 0000р
                td
                  +e.SPAN.data._b._fz16._color-primary 23 0000р
                td
                  +e.SPAN.data._b._fz16._color-primary 23 0000р



  +b.SECTION.download-comparison
    .container
      .row
        .col-lg-7
          +e.wrap
            +e.H2.title скачайте полное сравние
            +e.IMG.img(src="image/download-comparison.png")
            +e.P.desc Получите полное детализированное сравние традиционных технологий по 32 параметрам от экспертов.
            form(action="/")
              +e.form-line
                +e.INPUT.field(type="text", placeholder="Ваш e-mail")
                +e.BUTTON.btn(type="submit") Скачать


  +b.SECTION.vantage(style="background-color: #fff;")
    .container
      .row
        .col
          h2.main-title Преимущества сотрудничества с нами
      .row
        .col-lg-4
          +e.item-title
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='52px', height='52px')
              path(fill-rule='evenodd', fill='rgb(254, 146, 0)', d='M50.575,0.501 L1.425,0.501 C0.915,0.501 0.502,0.915 0.502,1.425 L0.502,15.286 C0.502,15.796 0.915,16.209 1.425,16.209 C1.935,16.209 2.348,15.796 2.348,15.286 L2.348,10.519 L7.352,15.522 L2.348,20.526 L2.348,18.300 C2.348,17.791 1.935,17.377 1.425,17.377 C0.915,17.377 0.502,17.791 0.502,18.300 L0.502,50.574 C0.502,51.084 0.915,51.497 1.425,51.497 L50.575,51.497 C51.084,51.497 51.497,51.084 51.497,50.574 L51.497,1.425 C51.498,0.915 51.084,0.501 50.575,0.501 ZM48.171,2.347 L43.343,7.175 L38.515,2.347 L48.171,2.347 ZM34.261,2.347 L29.433,7.175 L24.605,2.347 L34.261,2.347 ZM30.884,11.236 C31.245,11.597 31.829,11.597 32.189,11.236 C32.550,10.876 32.550,10.292 32.189,9.931 L30.738,8.480 L36.388,2.830 L49.081,15.522 L43.431,21.172 L34.280,12.022 C33.920,11.662 33.336,11.662 32.976,12.022 C32.615,12.383 32.615,12.967 32.976,13.327 L35.171,15.522 L29.521,21.173 L16.829,8.480 L22.478,2.830 L30.884,11.236 ZM28.216,22.477 L15.524,35.170 L9.874,29.521 L22.567,16.828 L28.216,22.477 ZM20.352,2.347 L15.524,7.175 L10.695,2.347 L20.352,2.347 ZM2.348,2.347 L6.442,2.347 L2.348,6.441 L2.348,2.347 ZM2.919,8.479 L8.569,2.830 L21.262,15.522 L15.612,21.172 L2.919,8.479 ZM2.348,23.136 C2.350,23.134 2.352,23.132 2.354,23.130 L8.657,16.828 L14.306,22.477 L2.348,34.437 L2.348,23.136 ZM2.348,38.514 L7.352,43.518 L2.348,48.521 L2.348,38.514 ZM3.828,49.651 L8.657,44.823 L13.485,49.651 L3.828,49.651 ZM2.919,36.476 L8.569,30.825 L21.262,43.518 L15.612,49.168 L2.919,36.476 ZM17.738,49.651 L22.567,44.823 L27.395,49.651 L17.738,49.651 ZM16.828,36.475 L22.479,30.825 L35.171,43.518 L29.521,49.168 L16.828,36.475 ZM31.648,49.651 L36.476,44.823 L41.304,49.651 L31.648,49.651 ZM30.738,36.475 L32.613,34.601 C32.973,34.240 32.973,33.656 32.613,33.296 C32.252,32.935 31.668,32.935 31.308,33.296 L29.433,35.170 L23.783,29.521 L36.476,16.828 L42.126,22.478 L33.153,31.451 C32.793,31.811 32.793,32.395 33.153,32.755 C33.513,33.115 34.098,33.115 34.458,32.755 L36.388,30.825 L49.081,43.518 L43.431,49.168 L30.738,36.475 ZM49.652,49.651 L45.557,49.651 L49.652,45.557 L49.652,49.651 L49.652,49.651 ZM49.652,41.479 L44.648,36.476 L49.652,31.470 L49.652,41.479 ZM49.645,28.868 L43.343,35.171 L37.693,29.521 L49.652,17.561 L49.652,28.861 L49.652,28.861 C49.650,28.864 49.647,28.865 49.645,28.868 ZM49.652,13.484 L44.648,8.479 L49.652,3.475 L49.652,13.484 Z')

            span Надежность
          p Наша компания — это обширный производственный комплекс, выполняющий все работы от проектирования до благоустройства участка. Это означает, что вы сотрудничаете с одной компанией, а не с набором случайных подрядчиков. Мы полностью несем ответственность за все проведенные работы.

        .col-lg-4
          +e.item-title
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='51px', height='51px')
              path(fill-rule='evenodd', fill='rgb(254, 146, 0)', d='M36.160,32.709 C36.478,33.027 36.478,33.542 36.160,33.860 L33.859,36.161 C33.700,36.320 33.492,36.399 33.284,36.399 C33.076,36.399 32.868,36.320 32.709,36.161 C32.391,35.844 32.391,35.328 32.709,35.010 L35.010,32.709 C35.327,32.391 35.843,32.391 36.160,32.709 ZM14.837,18.289 C14.519,17.972 14.519,17.456 14.837,17.139 L17.138,14.838 C17.456,14.520 17.971,14.520 18.289,14.838 C18.607,15.155 18.607,15.671 18.289,15.988 L15.988,18.289 C15.829,18.448 15.621,18.528 15.412,18.528 C15.204,18.528 14.996,18.448 14.837,18.289 ZM49.804,11.543 C49.804,11.543 45.205,16.142 45.204,16.143 L34.700,26.646 L38.138,30.085 C41.645,29.317 45.344,30.387 47.893,32.936 C50.751,35.795 51.727,39.953 50.438,43.789 C50.349,44.056 50.127,44.257 49.853,44.321 C49.579,44.387 49.291,44.304 49.092,44.105 L43.493,38.506 L39.546,39.546 L38.508,43.493 L44.107,49.091 C44.306,49.291 44.388,49.579 44.323,49.853 C44.259,50.127 44.058,50.348 43.791,50.438 C42.671,50.815 41.524,50.998 40.389,50.998 C37.796,50.998 35.271,50.039 33.294,48.235 C33.258,48.209 33.223,48.182 33.191,48.149 C33.172,48.130 33.154,48.110 33.137,48.090 C33.069,48.025 33.002,47.960 32.935,47.893 C30.386,45.344 29.316,41.645 30.084,38.139 L28.372,36.426 C28.054,36.108 28.054,35.594 28.372,35.276 C28.689,34.958 29.205,34.958 29.522,35.276 L31.558,37.311 C31.763,37.517 31.844,37.816 31.769,38.097 C30.985,41.031 31.755,44.176 33.776,46.414 L36.872,43.318 L38.093,38.673 C38.168,38.389 38.389,38.169 38.673,38.093 L43.530,36.814 C43.810,36.740 44.108,36.820 44.313,37.025 L49.233,41.946 C49.735,39.095 48.835,36.179 46.742,34.087 C44.490,31.834 41.177,30.947 38.096,31.769 C37.816,31.844 37.517,31.764 37.311,31.558 L33.550,27.797 L15.193,46.154 C15.171,46.175 15.149,46.195 15.126,46.213 C15.120,46.219 15.113,46.222 15.107,46.227 C15.089,46.241 15.071,46.254 15.052,46.266 C15.045,46.270 15.037,46.275 15.030,46.279 C15.012,46.290 14.993,46.300 14.974,46.309 C14.965,46.313 14.958,46.317 14.949,46.320 C14.930,46.329 14.910,46.337 14.890,46.344 C14.885,46.346 14.880,46.349 14.875,46.351 L1.078,50.949 C0.993,50.977 0.907,50.991 0.820,50.991 C0.608,50.991 0.400,50.908 0.245,50.753 C0.027,50.535 -0.049,50.213 0.049,49.920 L4.648,36.123 C4.649,36.118 4.652,36.114 4.654,36.108 C4.661,36.088 4.669,36.068 4.678,36.048 C4.681,36.040 4.685,36.033 4.689,36.025 C4.698,36.005 4.708,35.986 4.719,35.968 C4.724,35.960 4.728,35.953 4.732,35.946 C4.744,35.927 4.757,35.909 4.771,35.890 C4.776,35.885 4.780,35.878 4.784,35.873 C4.803,35.849 4.823,35.827 4.844,35.805 L23.201,17.448 L19.439,13.687 C19.234,13.481 19.153,13.182 19.228,12.902 C20.012,9.967 19.243,6.823 17.223,4.585 L14.128,7.680 L12.904,12.325 C12.829,12.609 12.608,12.830 12.324,12.904 L7.467,14.182 C7.187,14.256 6.889,14.176 6.685,13.971 L1.764,9.050 C1.262,11.902 2.162,14.819 4.255,16.912 C6.507,19.164 9.820,20.052 12.901,19.229 C13.182,19.154 13.481,19.234 13.686,19.440 L15.722,21.475 C16.040,21.793 16.040,22.308 15.722,22.626 C15.563,22.785 15.355,22.864 15.147,22.864 C14.939,22.864 14.730,22.785 14.572,22.626 L12.859,20.914 C9.352,21.682 5.654,20.611 3.105,18.062 C0.245,15.203 -0.730,11.044 0.560,7.207 C0.649,6.940 0.871,6.739 1.145,6.674 C1.419,6.610 1.707,6.692 1.906,6.891 L7.505,12.490 L11.452,11.452 L12.491,7.505 L6.893,1.906 C6.693,1.707 6.611,1.419 6.676,1.145 C6.740,0.870 6.942,0.650 7.209,0.560 C11.045,-0.729 15.203,0.246 18.062,3.105 C20.611,5.654 21.681,9.353 20.913,12.859 L24.351,16.298 L39.455,1.195 C40.221,0.429 41.241,0.008 42.330,0.008 C43.418,0.008 44.439,0.429 45.205,1.195 L49.804,5.794 C50.569,6.559 50.990,7.580 50.990,8.668 C50.990,9.756 50.569,10.778 49.804,11.543 ZM37.602,44.889 L34.971,47.519 C36.961,49.052 39.479,49.668 41.948,49.234 L37.602,44.889 ZM9.052,1.765 L13.397,6.110 L16.027,3.480 C14.038,1.948 11.521,1.330 9.052,1.765 ZM2.107,48.891 L6.213,47.523 L3.476,44.785 L2.107,48.891 ZM4.051,43.059 L7.939,46.947 L13.112,45.223 L5.775,37.887 L4.051,43.059 ZM33.516,9.434 C33.516,9.434 37.539,13.458 37.540,13.458 L39.839,15.758 C40.157,16.076 40.157,16.591 39.839,16.909 C39.680,17.068 39.472,17.147 39.264,17.147 C39.056,17.147 38.847,17.068 38.688,16.909 L36.964,15.185 L12.893,39.256 C12.734,39.415 12.526,39.494 12.318,39.494 C12.110,39.494 11.902,39.414 11.743,39.256 C11.425,38.938 11.425,38.422 11.743,38.104 L35.814,14.033 L32.365,10.585 L6.570,36.380 L14.618,44.428 L43.479,15.567 L35.431,7.519 L33.516,9.434 ZM48.653,6.944 L44.054,2.345 C43.596,1.886 42.984,1.635 42.330,1.635 C41.676,1.635 41.064,1.886 40.606,2.345 L36.582,6.369 L44.629,14.416 L48.653,10.393 C49.604,9.442 49.604,7.895 48.653,6.944 Z')


            span Проектирование
          p При заказе строительства по типовому проекту проектная документация предоставляется бесплатно. Мы адаптируем любые проекты под технологию БЭНПАН и создаем индивидуальные проекты, соответствующие всем требованиям заказчика.


        .col-lg-4
          +e.item-title
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='52px', height='52px')
              path(fill-rule='evenodd', fill='rgb(254, 146, 0)', d='M12.612,38.699 C12.612,38.191 13.024,37.779 13.533,37.779 C14.041,37.779 14.453,38.191 14.453,38.699 C14.453,39.208 14.041,39.619 13.533,39.619 C13.024,39.619 12.612,39.208 12.612,38.699 ZM50.577,7.530 C50.069,7.530 49.657,7.118 49.657,6.610 L49.657,2.342 L2.343,2.342 L2.343,49.656 L33.045,49.656 L33.045,47.583 L27.937,47.583 C27.429,47.583 27.017,47.171 27.017,46.663 L27.017,37.703 L24.983,37.703 L24.983,46.663 C24.983,47.171 24.571,47.583 24.063,47.583 L5.297,47.583 C4.789,47.583 4.377,47.171 4.377,46.663 L4.377,30.390 C4.377,29.882 4.789,29.470 5.297,29.470 L30.698,29.470 L30.698,27.436 L11.570,27.436 C11.062,27.436 10.650,27.024 10.650,26.516 C10.650,26.007 11.062,25.595 11.570,25.595 L31.618,25.595 C32.127,25.595 32.539,26.007 32.539,26.516 L32.539,30.390 C32.539,30.899 32.127,31.311 31.618,31.311 L6.218,31.311 L6.218,33.765 L9.016,33.765 C9.881,33.765 10.644,34.200 11.102,34.863 C11.903,34.448 12.823,34.226 13.789,34.226 C14.561,34.226 15.304,34.367 15.998,34.646 C16.469,34.835 16.698,35.371 16.509,35.843 C16.320,36.314 15.783,36.543 15.312,36.353 C14.838,36.163 14.325,36.067 13.789,36.067 C12.961,36.067 12.167,36.309 11.552,36.739 L11.552,40.658 C12.167,41.089 12.961,41.331 13.789,41.331 C15.645,41.331 17.155,40.150 17.155,38.699 C17.155,38.303 17.043,37.922 16.824,37.566 C16.556,37.133 16.690,36.567 17.123,36.299 C17.555,36.032 18.122,36.166 18.390,36.599 C18.786,37.240 18.995,37.967 18.995,38.699 C18.995,41.166 16.660,43.172 13.789,43.172 C12.823,43.172 11.903,42.950 11.103,42.535 C10.645,43.199 9.881,43.634 9.016,43.634 L6.218,43.634 L6.218,45.743 L23.142,45.743 L23.142,36.783 C23.142,36.275 23.554,35.863 24.062,35.863 L27.937,35.863 C28.446,35.863 28.858,36.275 28.858,36.783 L28.858,45.743 L33.965,45.743 C34.473,45.743 34.885,46.155 34.885,46.663 L34.885,50.576 C34.885,51.085 34.473,51.496 33.965,51.496 L1.423,51.496 C0.914,51.496 0.502,51.085 0.502,50.576 L0.502,1.422 C0.502,0.913 0.914,0.501 1.423,0.501 L50.577,0.501 C51.086,0.501 51.498,0.913 51.498,1.422 L51.498,6.610 C51.498,7.118 51.086,7.530 50.577,7.530 ZM9.016,41.794 C9.399,41.794 9.711,41.482 9.711,41.099 L9.711,36.301 C9.711,35.917 9.399,35.606 9.016,35.606 L6.218,35.606 L6.218,41.794 L9.016,41.794 ZM31.257,22.105 L31.257,9.467 C31.257,8.958 31.669,8.546 32.178,8.546 L38.972,8.546 C39.480,8.546 39.892,8.958 39.892,9.467 L39.892,12.473 L39.892,19.099 L39.892,22.105 C39.892,22.613 39.480,23.026 38.972,23.026 L32.178,23.026 C31.669,23.026 31.257,22.613 31.257,22.105 ZM38.052,13.393 L36.296,13.393 L36.296,18.179 L38.052,18.179 L38.052,13.393 ZM33.098,21.185 L38.052,21.185 L38.052,20.019 L35.376,20.019 C34.868,20.019 34.455,19.607 34.455,19.099 L34.455,12.473 C34.455,11.964 34.868,11.553 35.376,11.553 L38.052,11.553 L38.052,10.386 L33.098,10.386 L33.098,21.185 ZM41.378,45.743 L45.782,45.743 L45.782,31.311 L41.849,31.311 C41.341,31.311 40.929,30.899 40.929,30.390 L40.929,26.516 C40.929,26.007 41.341,25.595 41.849,25.595 L45.782,25.595 L45.782,23.026 L43.352,23.026 C42.843,23.026 42.431,22.613 42.431,22.105 L42.431,9.467 C42.431,8.958 42.843,8.546 43.352,8.546 L45.782,8.546 L45.782,6.179 L28.858,6.179 L28.858,19.510 C28.858,20.018 28.446,20.430 27.937,20.430 L24.062,20.430 C23.554,20.430 23.142,20.018 23.142,19.510 L23.142,6.179 L16.028,6.179 L16.028,17.589 C16.028,20.845 13.379,23.493 10.123,23.493 L6.218,23.493 L6.218,25.595 L8.625,25.595 C9.133,25.595 9.546,26.007 9.546,26.516 C9.546,27.024 9.133,27.436 8.625,27.436 L5.297,27.436 C4.789,27.436 4.377,27.024 4.377,26.516 L4.377,22.573 L4.377,5.258 C4.377,4.750 4.789,4.337 5.297,4.337 L24.062,4.337 C24.571,4.337 24.983,4.750 24.983,5.258 L24.983,18.589 L27.017,18.589 L27.017,5.258 C27.017,4.750 27.429,4.337 27.937,4.337 L46.702,4.337 C47.211,4.337 47.623,4.750 47.623,5.258 L47.623,26.516 C47.623,27.024 47.211,27.436 46.702,27.436 L42.770,27.436 L42.770,29.470 L46.702,29.470 C47.211,29.470 47.623,29.882 47.623,30.390 L47.623,46.663 C47.623,47.172 47.211,47.583 46.702,47.583 L42.298,47.583 L42.298,49.656 L49.657,49.656 L49.657,9.882 C49.657,9.374 50.069,8.961 50.577,8.961 C51.086,8.961 51.498,9.374 51.497,9.882 L51.497,50.576 C51.497,51.085 51.085,51.496 50.577,51.496 L41.378,51.496 C40.869,51.496 40.457,51.085 40.457,50.576 L40.457,46.663 C40.457,46.155 40.869,45.743 41.378,45.743 ZM14.187,6.179 L13.515,6.179 L13.515,6.773 C13.515,7.281 13.103,7.693 12.595,7.693 C12.087,7.693 11.675,7.281 11.675,6.773 L11.675,6.179 L11.123,6.179 L11.123,8.614 C11.123,9.122 10.711,9.534 10.202,9.534 C9.694,9.534 9.282,9.122 9.282,8.614 L9.282,6.179 L8.730,6.179 L8.730,6.773 C8.730,7.281 8.318,7.693 7.809,7.693 C7.301,7.693 6.889,7.281 6.889,6.773 L6.889,6.179 L6.218,6.179 L6.218,21.652 L10.123,21.652 C12.364,21.652 14.187,19.830 14.187,17.589 L14.187,6.179 ZM45.782,10.386 L44.272,10.386 L44.272,21.185 L45.782,21.185 L45.782,10.386 ZM10.202,19.228 C9.694,19.228 9.282,18.816 9.282,18.307 C9.282,17.799 9.694,17.388 10.202,17.388 C10.711,17.388 11.123,17.799 11.123,18.307 C11.123,18.816 10.711,19.228 10.202,19.228 Z')


            span Капитальный дом
          p Надежный капитальный дом БЭНПАН с тепло- и шумоизоляцией, предназначенный для круглогодичного проживания. Материал стен и перекрытий - железобетонные панели БЭНПАН и БЭНПАН+.



  +project_grid(true)(style="background-color: #f5f5f9;")


  +b.SECTION.moreinfo
    .container
      .row.align-items-center
        .col-lg-5
          h2.main-title Узнайте больше
          p Сегодня на строительном рынке представлены различные строительные технологии.
          p Этот раздел рассказывает об основных отличиях и преимуществах технологии БЭНПАН – «новая жизнь панельного домостроения».
          +e.nav
            +b.arrow._prev
              svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='26px', height='18px')
                path(fill-rule='evenodd', d='M8.755,0.652 C9.089,0.307 9.644,0.307 9.989,0.652 C10.323,0.985 10.323,1.540 9.989,1.873 L3.733,8.129 L24.376,8.129 C24.857,8.129 25.240,8.512 25.240,8.993 C25.240,9.474 24.857,9.869 24.376,9.869 L3.733,9.869 L9.989,16.114 C10.323,16.458 10.323,17.014 9.989,17.347 C9.644,17.692 9.088,17.692 8.755,17.347 L1.019,9.610 C0.674,9.277 0.674,8.722 1.019,8.389 L8.755,0.652 Z')
            +b.arrow._next
              svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='26px', height='18px')
                path(fill-rule='evenodd', d='M17.244,0.652 C16.911,0.307 16.356,0.307 16.011,0.652 C15.677,0.985 15.677,1.540 16.011,1.873 L22.266,8.129 L1.624,8.129 C1.142,8.129 0.760,8.512 0.760,8.993 C0.760,9.474 1.142,9.869 1.624,9.869 L22.266,9.869 L16.011,16.114 C15.677,16.458 15.677,17.014 16.011,17.347 C16.356,17.692 16.912,17.692 17.244,17.347 L24.981,9.610 C25.326,9.277 25.326,8.722 24.981,8.389 L17.244,0.652 Z')

        .col-lg-7
          .owl-carousel
            +e.item
              +e.preview(style="background-image: url(image/bp1.jpg)")
              +e.H4.item-title
                a(href="#") Панель БЭНПАН
              p Рады сообщить о завершении строительства первой очереди и вводе жилых домов в эксплуатацию!
              +b.link-line
                a(href="#") узнать больше
            +e.item
              +e.preview(style="background-image: url(image/bp2.jpg)")
              +e.H4.item-title
                a(href="#") Панель БЭНПАН+
              p Рады сообщить о завершении строительства первой очереди и вводе жилых домов в эксплуатацию!
              +b.link-line
                a(href="#") узнать больше
            +e.item
              +e.preview(style="background-image: url(image/bp3.jpg)")
              +e.H4.item-title
                a(href="#") Панель БЭНПАН прем
              p Рады сообщить о завершении строительства первой очереди и вводе жилых домов в эксплуатацию!
              +b.link-line
                a(href="#") узнать больше

  +b.SECTION.faq
    .container
      .row
        .col
          h2.main-title Вопрос ответ
      .row
        .col
          +b.accordion
            +e.head Что такое Бэнпан ?
              +e.SPAN.arrow
            +e.body
              h3 Требования
              p Сегодня на строительном рынке представлено множество видов фундаментов. Оценив их как с технической, так и финансовой точки зрения, мы отобрали для вас три наиболее удачных типа фундамента для капитального дома.
              p Перед окончательным выбором типа фундамента проводятся геодезические и геологические изыскания, позволяющие выбрать наиболее подходящее к грунтам основание дома.
              p Для обычных необводненных грунтов мы рекомендуем наиболее экономичный вариант — свайно-ростверковый фундамент. Для проблемных, насыпных, обводненных грунтов наилучшим фундаментом является плита. Для тех, кто хочет существенно увеличить объем дома без увеличения его габаритов, наилучшим решением станет строительство цокольного этажа, сочетающего в себе фундамент и дополнительные помещения.
            +e.head Как мы строим ?
              +e.SPAN.arrow
            +e.body
              h3 Требования
              p Сегодня на строительном рынке представлено множество видов фундаментов. Оценив их как с технической, так и финансовой точки зрения, мы отобрали для вас три наиболее удачных типа фундамента для капитального дома.
              p Перед окончательным выбором типа фундамента проводятся геодезические и геологические изыскания, позволяющие выбрать наиболее подходящее к грунтам основание дома.
              p Для обычных необводненных грунтов мы рекомендуем наиболее экономичный вариант — свайно-ростверковый фундамент. Для проблемных, насыпных, обводненных грунтов наилучшим фундаментом является плита. Для тех, кто хочет существенно увеличить объем дома без увеличения его габаритов, наилучшим решением станет строительство цокольного этажа, сочетающего в себе фундамент и дополнительные помещения.
            +e.head Что такое Бэнпан ?
              +e.SPAN.arrow
            +e.body
              h3 Требования
              p Сегодня на строительном рынке представлено множество видов фундаментов. Оценив их как с технической, так и финансовой точки зрения, мы отобрали для вас три наиболее удачных типа фундамента для капитального дома.
              p Перед окончательным выбором типа фундамента проводятся геодезические и геологические изыскания, позволяющие выбрать наиболее подходящее к грунтам основание дома.
              p Для обычных необводненных грунтов мы рекомендуем наиболее экономичный вариант — свайно-ростверковый фундамент. Для проблемных, насыпных, обводненных грунтов наилучшим фундаментом является плита. Для тех, кто хочет существенно увеличить объем дома без увеличения его габаритов, наилучшим решением станет строительство цокольного этажа, сочетающего в себе фундамент и дополнительные помещения.
            +e.head Что такое Бэнпан ?
              +e.SPAN.arrow
            +e.body
              h3 Требования
              p Сегодня на строительном рынке представлено множество видов фундаментов. Оценив их как с технической, так и финансовой точки зрения, мы отобрали для вас три наиболее удачных типа фундамента для капитального дома.
              p Перед окончательным выбором типа фундамента проводятся геодезические и геологические изыскания, позволяющие выбрать наиболее подходящее к грунтам основание дома.
              p Для обычных необводненных грунтов мы рекомендуем наиболее экономичный вариант — свайно-ростверковый фундамент. Для проблемных, насыпных, обводненных грунтов наилучшим фундаментом является плита. Для тех, кто хочет существенно увеличить объем дома без увеличения его габаритов, наилучшим решением станет строительство цокольного этажа, сочетающего в себе фундамент и дополнительные помещения.

  +b.SECTION.bottom-form
    .container
      .row.align-items-center.justify-content-center
        +e.form-wrap.col-lg-5.col-md-8
          +e.inner
            h2.main-title Остались вопросы?
            +e.P.desc Задайте их нашему инженеру и получите ответ в течение 15 минут
            +e.form
              form(action="/")
                .form-line
                  +b.INPUT.field(type="text", placeholder="Ваше имя")
                .form-line
                  +b.INPUT.field(type="tel", placeholder="+7 (___) –___ –__ –__")
                .form-line
                  +b.BUTTON.btn._orange(type="submit") Консультация специалиста
        .col-lg-7
          +e.img(style="background-image: url(image/bottom-form.jpg)")


