.top-build
  color: #fff
  position: relative
  padding-top: 100px
  &:after
    content: ''
    position: absolute
    top: 0
    bottom: 75px
    left: 0
    right: 0
    background-image: url(../image/top-build-bg.jpg)
    +cover

  &__wrap
    position: relative
    z-index: 2

  &__title
    +ob
    font-size: 28px
    line-height: 1.2
    margin-bottom: 20px
    +media-breakpoint-up(sm)
      font-size: 36px
    +media-breakpoint-up(md)
      font-size: 48px
    +media-breakpoint-up(lg)
      margin-bottom: 50px
      font-size: 54px
      line-height: 1

  p
    font-size: 16px
    line-height: (24/16)


  &__form
    background-color: #fff
    margin-top: 40px
    border-radius: 5px
    box-shadow: 0 15px 40px rgba(#000, .15)
    color: #203b4e
    padding-top: 40px
    padding-bottom: 20px
    +media-breakpoint-up(md)
      margin-top: 75px

  &__form-wrap
    +media-breakpoint-up(sm)
      padding-left: 25px
      padding-right: 25px

  &__form-title
    +ob
    font-size: 14px
    text-transform: uppercase
    +media-breakpoint-up(sm)
      font-size: 16px

  .form-line
    margin-top: 20px
    display: flex
    justify-content: space-between
    align-items: flex-end
    flex-wrap: wrap
    +media-breakpoint-up(lg)
      flex-wrap: nowrap


  .form-group
    width: 100%
    margin-top: 20px
    +media-breakpoint-up(sm)
      width: 50%
      +box
      &:nth-child(1),
      &:nth-child(3)
        padding-right: 10px
      &:nth-child(2),
      &:nth-child(4)
        padding-left: 10px
    +media-breakpoint-up(lg)
      width: 25%

  .form-group + .form-group
    +media-breakpoint-up(lg)
      margin-left: 30px

  .label
    display: block
    font-size: 12px
    margin-bottom: 5px

  .btn
    +box
    height: 56px
    width: 100%

  .checkbox
    margin-top: 20px
    display: block

